<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Points
 * @version    1.7.7
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><tr>
    <td class="label"><?php echo $this->getElement()->getLabel(); ?></td>
    <?php if ($this->getDirection() == AW_Points_Model_Rate::POINTS_TO_CURRENCY): ?>
        <td class="value">
            <input id="rate-points" type="text" class="input-text required-entry validate-greater-than-zero" style="width:90px" name="points" value="<?php echo $this->getRate()->getPoints(); ?>"/>
            <label for="rate-points"><?php echo Mage::helper('points/config')->getPointUnitName() ?><span class="required">*</span> >> </label>
            <input id="rate-money" type="text" class="input-text required-entry validate-greater-than-zero" style="width:90px" name="money" value="<?php echo $this->getRate()->getMoney(); ?>"/>
            <label for="rate-money"><?php echo Mage::helper('points')->getStoreCurrencySymbol(Mage::app()->getStore()) ?><span class="required">*</span></label>
        </td>
    <?php else: ?>
        <td class="value">
            <input id="rate-money" type="text" class="input-text required-entry validate-greater-than-zero" style="width:90px" name="money" value="<?php echo $this->getRate()->getMoney(); ?>"/>
            <label for="rate-money"><?php echo Mage::helper('points')->getStoreCurrencySymbol(Mage::app()->getStore()) ?><span class="required">*</span> >> </label>
            <input id="rate-points" type="text" class="input-text required-entry validate-greater-than-zero" style="width:90px" name="points" value="<?php echo $this->getRate()->getPoints(); ?>"/>
            <label for="rate-points"><?php echo Mage::helper('points/config')->getPointUnitName() ?><span class="required">*</span></label>
        </td>
    <?php endif; ?>
</tr>
