<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    1.3.10
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php $post = $this->getPost() ?>
<div class="postBookmarks"><h4><?php echo Mage::helper('blog')->__('Bookmark with'); ?>:</h4>
    <a href="http://digg.com/submit?phase=2&amp;url=<?php echo $post->getAddress(); ?>&amp;title=<?php echo $post->getTitle(); ?>&amp;bodytext=<?php echo $post->getTitle(); ?>&amp;topic=" class="bm">
        <img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-digg-com.gif" width="16" height="16" alt = "" />&nbsp;<?php echo $this->__('Digg.com'); ?></a>&nbsp;
    <a href="http://www.stumbleupon.com/submit?url=<?php echo $post->getAddress(); ?>&amp;title=<?php echo $post->getTitle(); ?>&amp;newcomment=<?php echo $post->getTitle(); ?>" class="bm">
        <img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-stumbleupon-com.gif" width="16" height="16" alt = "" />&nbsp;<?php echo $this->__('Stumbleupon.com'); ?></a>&nbsp;
    <a href="http://del.icio.us/post/?url=<?php echo $post->getAddress(); ?>&amp;title=<?php echo $post->getTitle(); ?>&amp;notes=<?php echo $post->getTitle(); ?>" class="bm">
        <img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-del-icio-us.gif" width="16" height="16" alt = "" />&nbsp;<?php echo $this->__('Del.icio.us'); ?></a>&nbsp;
    <a href="http://www.facebook.com/sharer.php?u=<?php echo $post->getAddress(); ?>&amp;t=<?php echo $post->getTitle(); ?>" class="bm">
        <img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-www-facebook-com-.gif" width="16" height="16" alt = "" />&nbsp;<?php echo $this->__('Facebook'); ?></a>&nbsp;
    <a href="http://reddit.com/submit?url=<?php echo $post->getAddress(); ?>&amp;title=<?php echo $post->getTitle(); ?>" class="bm">
        <img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-reddit-com.gif" width="16" height="16" alt = "" />&nbsp;<?php echo $this->__('Reddit.com'); ?></a>&nbsp;
</div>
<?php
/*
Below is a list of other bookmarking sites that you can use.

simply copy and past the lines you want to above.

<a href="http://www.google.com/bookmarks/mark?op=add&amp;bkmk=<?php echo $this->getPost()->getAddress();?>&amp;title=<?php echo $this->getPost()->getTitle();?>&amp;annotation=<?php echo $this->getPost()->getTitle();?>&amp;cd=bm&amp;btnA=Add" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-google-com-bookmarks.gif" width="16" border="0" height="16">&nbsp;Google.com</a>&nbsp;
<a href="http://digg.com/submit?phase=2&amp;url=<?php echo $this->getPost()->getAddress();?>&amp;title=<?php echo $this->getPost()->getTitle();?>&amp;bodytext=<?php echo $this->getPost()->getTitle();?>&amp;topic=" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-digg-com.gif" width="16" border="0" height="16">&nbsp;Digg.com</a>&nbsp;
<a href="http://www.stumbleupon.com/submit?url=<?php echo $this->getPost()->getAddress();?>&amp;title=<?php echo $this->getPost()->getTitle();?>&amp;newcomment=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-stumbleupon-com.gif" width="16" border="0" height="16">&nbsp;Stumbleupon.com</a>&nbsp;
<a href="http://technorati.com/faves/?add=<?php echo $this->getPost()->getAddress();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-technorati-com.gif" width="16" border="0" height="16">&nbsp;Technorati.com</a>&nbsp;
<a href="http://www.squidoo.com/lensmaster/bookmark?<?php echo $this->getPost()->getAddress();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-squidoo-com.gif" width="16" border="0" height="16">&nbsp;Squidoo.com</a>&nbsp;
<a href="http://www.myspace.com/Modules/PostTo/Pages/?c=<?php echo $this->getPost()->getAddress();?>&amp;t=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-www-myspace-com-.gif" width="16" border="0" height="16">&nbsp;MySpace</a>&nbsp;
<a href="http://www.facebook.com/sharer.php?u=<?php echo $this->getPost()->getAddress();?>&amp;t=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-www-facebook-com-.gif" width="16" border="0" height="16">&nbsp;Facebook</a>&nbsp;
<a href="http://del.icio.us/post/?url=<?php echo $this->getPost()->getAddress();?>&amp;title=<?php echo $this->getPost()->getTitle();?>&amp;notes=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-del-icio-us.gif" width="16" border="0" height="16">&nbsp;Del.icio.us</a>&nbsp;
<a href="http://www.propeller.com/submit?storyUrl=<?php echo $this->getPost()->getAddress();?>&amp;storyTitle=<?php echo $this->getPost()->getTitle();?>&amp;storyText=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-propeller-com.gif" width="16" border="0" height="16">&nbsp;Propeller.com</a>&nbsp;
<a href="http://twitter.com/home?status=<?php echo $this->getPost()->getTitle();?>%20<?php echo $this->getPost()->getAddress();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-twitter-com.gif" width="16" border="0" height="16">&nbsp;Twitter.com</a>&nbsp;
<a href="http://myweb2.search.yahoo.com/myresults/bookmarklet?u=<?php echo $this->getPost()->getAddress();?>title=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-myweb2-search-yahoo-com-.gif" width="16" border="0" height="16">&nbsp;Yahoo MyWeb</a>&nbsp;
<a href="http://favorites.my.aol.com/ffclient/AddBookmark?url=<?php echo $this->getPost()->getAddress();?>&amp;title=<?php echo $this->getPost()->getTitle();?>&amp;favelet=true" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-favorites-my-aol-com-.gif" width="16" border="0" height="16">&nbsp;myAOL</a>&nbsp;
<a href="http://cgi.fark.com/cgi/fark/submit.pl" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-www-fark-com-.gif" width="16" border="0" height="16">&nbsp;Fark.com</a>&nbsp;
<a href="http://multiply.com/gus/journal/compose/addthis?body=<?php echo $this->getPost()->getTitle();?>&amp;url=<?php echo $this->getPost()->getAddress();?>&amp;subject=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-multiply-com-.gif" width="16" border="0" height="16">&nbsp;Multiply</a>&nbsp;
<a href="https://favorites.live.com/quickadd.aspx?marklet=1&amp;mkt=en-us&amp;url=<?php echo $this->getPost()->getAddress();?>&amp;title=<?php echo $this->getPost()->getTitle();?>&amp;top=1" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-favorites-live-com-.gif" width="16" border="0" height="16">&nbsp;Live</a>&nbsp;
<a href="http://bookmarks.yahoo.com/toolbar/savebm?opener=tb&amp;u=<?php echo $this->getPost()->getAddress();?>&amp;t=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-bookmarks-yahoo-com-.gif" width="16" border="0" height="16">&nbsp;Yahoo Bookmarks</a>&nbsp;
<a href="http://www.indianpad.com/submit.php?url=<?php echo $this->getPost()->getAddress();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-indianpad-com.gif" width="16" border="0" height="16">&nbsp;Indianpad.com</a>&nbsp;
<a href="http://myjeeves.ask.com/mysearch/BookmarkIt?v=1.2&amp;t=webpages&amp;url=<?php echo $this->getPost()->getAddress();?>&amp;title=<?php echo $this->getPost()->getTitle();?>&amp;abstext=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-myjeeves-ask-com.gif" width="16" border="0" height="16">&nbsp;Myjeeves</a>&nbsp;
<a href="http://reddit.com/submit?url=<?php echo $this->getPost()->getAddress();?>&amp;title=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-reddit-com.gif" width="16" border="0" height="16">&nbsp;Reddit.com</a>&nbsp;
<a href="http://slashdot.org/slashdot-it.pl?op=basic&amp;url=<?php echo $this->getPost()->getAddress();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-slashdot-org-.gif" width="16" border="0" height="16">&nbsp;Slashdot.org</a>&nbsp;
<a href="http://www.blinklist.com/?Action=Blink/addblink.php&amp;Description=<?php echo $this->getPost()->getTitle();?>&amp;Url=<?php echo $this->getPost()->getAddress();?>&amp;Title=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-blinklist-com.gif" width="16" border="0" height="16">&nbsp;Blinklist.com</a>&nbsp;
<a href="http://www.megite.com/my/bookmarks.php/?action=add&amp;address=<?php echo $this->getPost()->getAddress();?>&amp;title=<?php echo $this->getPost()->getTitle();?>&amp;description=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-megite-com-discover-.gif" width="16" border="0" height="16">&nbsp;Megite.com</a>&nbsp;
<a href="http://www.killerstartups.com/register/submit.php?url=<?php echo $this->getPost()->getAddress();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-www-killerstartups-com-.gif" width="16" border="0" height="16">&nbsp;Killerstartups.com</a>&nbsp;
<a href="http://blinkbits.com/bookmarklets/save.php?v=1&amp;source_url=<?php echo $this->getPost()->getAddress();?>&amp;title=<?php echo $this->getPost()->getTitle();?>&amp;body=<?php echo $this->getPost()->getTitle();?>&amp;Pop=no" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-blinkbits-com.gif" width="16" border="0" height="16">&nbsp;Blinkbits.com</a>&nbsp;
<a href="http://faves.com/Authoring.aspx?u=<?php echo $this->getPost()->getAddress();?>&amp;t=<?php echo $this->getPost()->getTitle();?>&amp;noteText=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-faves-com.gif" width="16" border="0" height="16">&nbsp;Faves.com</a>&nbsp;
<a href="http://www.newsvine.com/_tools/seed&amp;save?u=<?php echo $this->getPost()->getAddress();?>&amp;h=<?php echo $this->getPost()->getTitle();?>&amp;blurb=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-newsvine-com.gif" width="16" border="0" height="16">&nbsp;Newsvine.com</a>&nbsp;
<a href="http://www.thisnext.com/pick/new/submit/sociable/?url=<?php echo $this->getPost()->getAddress();?>&amp;name=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-www-thisnext-com-.gif" width="16" border="0" height="16">&nbsp;ThisNext.com</a>&nbsp;
<a href="http://www.shoutwire.com/?refer=john_smith&amp;s=<?php echo $this->getPost()->getAddress();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-www-shoutwire-com-.gif" width="16" border="0" height="16">&nbsp;Shoutwire.com</a>&nbsp;
<a href="http://www.furl.net/savedialog.jsp?p=1&amp;t=<?php echo $this->getPost()->getTitle();?>&amp;u=<?php echo $this->getPost()->getAddress();?>&amp;r=&amp;v=1&amp;c=<?php echo $this->getPost()->getTitle();?>&amp;topics=<?php echo $this->getPost()->getTitle();?>&amp;description=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-furl-net.gif" width="16" border="0" height="16">&nbsp;Furl.net</a>&nbsp;
<a href="http://www.dealigg.com/submit.php?url=<?php echo $this->getPost()->getAddress();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-www-dealigg-com-.gif" width="16" border="0" height="16">&nbsp;Dealigg.com</a>&nbsp;
<a href="http://www.diglog.com/submit?act=like&amp;returnurl=true&amp;title=<?php echo $this->getPost()->getTitle();?>&amp;url=<?php echo $this->getPost()->getAddress();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-www-diglog-com-.gif" width="16" border="0" height="16">&nbsp;Diglog.com</a>&nbsp;
<a href="http://stories.swik.net/?bookmarklet=v1&amp;submitUrl&amp;url=<?php echo $this->getPost()->getAddress();?>&amp;title=<?php echo $this->getPost()->getTitle();?>&amp;description=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-swik-net-.gif" width="16" border="0" height="16">&nbsp;swik.net</a>&nbsp;
<a href="http://www.mixx.com/submit?page_url=<?php echo $this->getPost()->getAddress();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-www-mixx-com-.gif" width="16" border="0" height="16">&nbsp;Mixx</a>&nbsp;
<a href="http://www.dzone.com/links/add.html?url=<?php echo $this->getPost()->getAddress();?>&amp;title=<?php echo $this->getPost()->getTitle();?>&amp;description=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-www-dzone-com-.gif" width="16" border="0" height="16">&nbsp;Dzone.com</a>&nbsp;
<a href="http://sphinn.com/submit.php?url=<?php echo $this->getPost()->getAddress();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-sphinn-com-.gif" width="16" border="0" height="16">&nbsp;Sphinn.com</a>&nbsp;
<a href="http://lipstick.com/submit?url=<?php echo $this->getPost()->getAddress();?>&amp;title=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-lipstick-com.gif" width="16" border="0" height="16">&nbsp;Lipstick.com</a>&nbsp;
<a href="http://www.citeulike.org/posturl?url=<?php echo $this->getPost()->getAddress();?>&amp;title=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-www-citeulike-org-.gif" width="16" border="0" height="16">&nbsp;Citeulike.org</a>&nbsp;
<a href="http://blogmarks.net/my/marks,new?url=<?php echo $this->getPost()->getAddress();?>&amp;title=<?php echo $this->getPost()->getTitle();?>&amp;content=<?php echo $this->getPost()->getTitle();?>&amp;via=<?php echo $this->getPost()->getAddress();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-blogmarks-net.gif" width="16" border="0" height="16">&nbsp;Blogmarks.net</a>&nbsp;
<a href="http://www.netvouz.com/action/submitBookmark?url=<?php echo $this->getPost()->getAddress();?>&amp;name=<?php echo $this->getPost()->getTitle();?>&amp;description=<?php echo $this->getPost()->getTitle();?>&amp;note=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-netvouz-com.gif" width="16" border="0" height="16">&nbsp;Netvouz.com</a>&nbsp;
<a href="http://ideas.mailtrust.com/submit.php?url=<?php echo $this->getPost()->getAddress();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-ideas-mailtrust-com-.gif" width="16" border="0" height="16">&nbsp;Ideas.mailtrust.co...</a>&nbsp;
<a href="http://www.mister-wong.com/addurl/?bm_url=<?php echo $this->getPost()->getAddress();?>&amp;bm_description=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-www-mister-wong-com-.gif" width="16" border="0" height="16">&nbsp;Mister-wong.com</a>&nbsp;
<a href="http://wists.com/s.php?c=&amp;r=<?php echo $this->getPost()->getAddress();?>&amp;title=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-wists-com-.gif" width="16" border="0" height="16">&nbsp;Wists.com</a>&nbsp;
<a href="http://ma.gnolia.com/bookmarklet/add?url=<?php echo $this->getPost()->getAddress();?>&amp;title=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-ma-gnolia-com-.gif" width="16" border="0" height="16">&nbsp;Ma.gnolia.com</a>&nbsp;
<a href="http://www.simpy.com/simpy/LinkAdd.do?href=<?php echo $this->getPost()->getAddress();?>&amp;title=<?php echo $this->getPost()->getTitle();?>&amp;note=<?php echo $this->getPost()->getTitle();?>" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-simpy-com.gif" width="16" border="0" height="16">&nbsp;Simpy.com</a>&nbsp;
<a href="http://www.corank.com/submit?url=<?php echo $this->getPost()->getAddress();?>&amp;title=<?php echo $this->getPost()->getTitle();?>&amp;source=w" class="bm"><img src="<?php echo Mage::getDesign()->getSkinUrl('aw_blog/images/communityIcons'); ?>/http-corank-com.gif" width="16" border="0" height="16">&nbsp;Corank.com</a>&nbsp;
*/