<div class="featured_slider featured_slider_set1" id="featured_slider1">

    <div id="featured_bottom_slider_home" class="featured_slider_instance" >
        <?php
            $blocks = Mage::getResourceModel('cms/block_collection');
            $blocks
                ->addFieldToFilter('is_active', 1)
                ->addFieldToFilter('identifier', array('like' => 'interclamp_bottom_slider_%'));
            $i = 0;
        ?>
        <?php foreach ($blocks AS $block): ?>
            <?php ++$i ?>
            <div class="featured_slide" id="<?php echo $i ?>">
                <div class="featured_slideri">
                    <?php
                        $processor = Mage::helper('cms')->getBlockTemplateProcessor();
                        echo $processor->filter($block->getContent());
                    ?>
                    <div class="sldr_clearlt"></div>
                    <div class="sldr_clearrt"></div>
                </div>
            </div>
        <?php endforeach ?>
    </div>
    <?php if(count($blocks)>1): ?>
        <div id="featured_bottom_slider_home_next" class="featured_next"></div>
        <div id="featured_bottom_slider_home_prev" class="featured_prev"></div>
    <?php endif; ?>

</div>

<script>
    (function($) {
        $("html").addClass("featured_slider_fouc");
        $(".featured_slider_fouc .featured_slider_set1").hide();
        $(document).ready(function() {
            $(".featured_slider_fouc .featured_slider_set1").show();
            $("a[rel^='prettyPhoto']").prettyPhoto({
                deeplinking  : false,
                social_tools : false
            });
            $("#featured_bottom_slider_home").cycle2({
                speed  : 1000,
                slides : "div.featured_slide",
                next   : "#featured_bottom_slider_home_next",
                prev   : "#featured_bottom_slider_home_prev",
                fx     : "scrollHorz",
                swipe  : true,
                easing : "easeInExpo",
                timeout: 3000,
                pauseOnHover: true
            });
            $("#featured_bottom_slider_home").featuredSlider({
                width  : 1000,
                origLw : 500,
                origLh : 400,
                origSw : 500,
                origSh : 200
            });
            $(".focuscrop").focusPoint();
        });
    })(jQuery);
</script>