<?php
    $helper = Mage::helper('local');
?>
<div class="home-blocks-white home-blocks-fields">
    <div class="home-blocks-field">
        <h3><?php echo $helper->getStaticBlockTitle('interclamp_banner_top_left') ?></h3>
        <?php echo $helper->getStaticBlockHtml('interclamp_banner_top_left') ?>
    </div>
    <div class="home-blocks-field home-blocks-gray">
        <h3><?php echo $helper->getStaticBlockTitle('interclamp_banner_top_right') ?></h3>
        <?php echo $helper->getStaticBlockHtml('interclamp_banner_top_right') ?>
    </div>
</div>


