
    <div class="top-cart-contain">
        <div class="block-cart">
            <?php $_cartQty = $this->getSummaryCount() ?>
            <!--<span class="top-cart-icon"></span>-->
            <span class="top-cart-title">
                <!--<span>Shopping Cart</span><br/>-->
                <span class="top-cart-inner">
                    <?php echo $this->__('Shopping Cart') ?>: <?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?>
                </span>
            </span>
            
            <span class="cart-icon" onclick="setLocation('<?php echo $this->getUrl('checkout/cart')?>')"></span>
            <div class="top-cart-content">
                <?php $_items = $this->getRecentItems() ?>
                <?php if(count($_items)): ?>
                    <ol id="cart-sidebar" class="mini-products-list">
                    <?php foreach($_items as $_item): ?>
                        <?php echo $this->getItemHtml($_item) ?>
                    <?php endforeach; ?>
                    </ol>
                    <script type="text/javascript">decorateList('cart-sidebar', 'none-recursive')</script>
                <?php else: ?>
                    <p class="empty"><?php echo $this->__('You have no items in your shopping cart.') ?></p>
                <?php endif ?>
                <?php if($_cartQty && $this->isPossibleOnepageCheckout()): ?>
                <div class="actions">
                    <div class="top-cart-total"><?php echo $this->__('Subtotal') ?>: <?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?></div>
                    <?php echo $this->getChildHtml('extra_actions') ?>
                    <button type="button" title="<?php echo $this->__('Checkout') ?>" class="button" onclick="setLocation('<?php echo $this->getCheckoutUrl() ?>')"><span><span><?php echo $this->__('Checkout') ?></span></span></button>
                </div>
                <?php endif ?>
            </div>
        </div>
    </div>
