<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Points
 * @version    1.7.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if (Mage::helper('points')->magentoLess14()): ?>
    <div class="box base-mini mini-cart">
        <div class="head">
            <?php $_cartQty = $this->getSummaryCount() ?>
            <h4><?php echo $this->__('My Cart') ?></h4>
            <?php if ($_cartQty > 0): ?>
                <?php if ($_cartQty == 1): ?>
                    <?php echo $this->__('There is <a href="%s"><strong>1 item</strong></a> in your cart.', $this->getUrl('checkout/cart')) ?>
                <?php else: ?>
                    <?php echo $this->__('There are <a href="%s"><strong>%s items</strong></a> in your cart.', $this->getUrl('checkout/cart'), $_cartQty) ?>
                <?php endif ?>
                <p class="subtotal">
                    <?php echo $this->__('Cart Subtotal:') ?> <strong><?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?></strong>
                    <?php if ($_subtotalInclTax = $this->getSubtotalInclTax()): ?>
                        <br />(<strong><?php echo Mage::helper('checkout')->formatPrice($_subtotalInclTax) ?></strong> <?php echo Mage::helper('tax')->getIncExcText(true) ?>)
                    <?php endif; ?>
                </p>
            <?php endif ?>
        </div>

        <?php echo $this->getChildHtml('checkout.cart.sidebar.points') ?>

        <?php if ($_cartQty && $this->isPossibleOnepageCheckout()): ?>
            <div class="actions">
                <button class="form-button" type="button" onclick="setLocation('<?php echo $this->getCheckoutUrl() ?>')">
                    <span><?php echo $this->__('Checkout') ?></span>
                </button>
            </div>
        <?php endif ?>

        <?php $_items = $this->getRecentItems() ?>
        <?php if (count($_items)): ?>
            <h5><?php echo $this->__('Recently added item(s)') ?></h5>
            <ol id="cart-sidebar">
                <?php foreach ($_items as $_item): ?>
                    <?php echo $this->getItemHtml($_item) ?>
                <?php endforeach; ?>
            </ol>
            <script type="text/javascript">decorateList('cart-sidebar', 'non-recursive')</script>
        <?php else: ?>
            <div class="content"><p><?php echo $this->__('You have no items in your shopping cart.') ?></p></div>
        <?php endif ?>
    </div>
    <!-- [ends] .cart-sidebar // -->

<?php else: ?>

    <?php if ($this->getIsNeedToDisplaySideBar()): ?>
        <div class="block block-cart">
            <?php $_cartQty = $this->getSummaryCount() ?>
            <div class="block-title">
                <strong><span><?php echo $this->__('My Cart') ?></span></strong>
            </div>
            <div class="block-content">
                <?php if ($_cartQty > 0): ?>
                    <div class="summary">
                        <?php if ($_cartQty == 1): ?>
                            <p class="amount"><?php echo $this->__('There is <a href="%s">1 item</a> in your cart.', $this->getUrl('checkout/cart')) ?></p>
                        <?php else: ?>
                            <p class="amount"><?php echo $this->__('There are <a href="%s">%s items</a> in your cart.', $this->getUrl('checkout/cart'), $_cartQty) ?></p>
                        <?php endif ?>
                        <p class="subtotal">
                            <span class="label"><?php echo $this->__('Cart Subtotal:') ?></span> <?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?>
                            <?php if ($_subtotalInclTax = $this->getSubtotalInclTax()): ?>
                                <br />(<?php echo Mage::helper('checkout')->formatPrice($_subtotalInclTax) ?> <?php echo Mage::helper('tax')->getIncExcText(true) ?>)
                            <?php endif; ?>
                        </p>
                    </div>
                <?php endif ?>
                <?php echo $this->getChildHtml('checkout.cart.sidebar.points') ?>
                <?php if ($_cartQty && $this->isPossibleOnepageCheckout()): ?>
                    <div class="actions">
                        <?php echo $this->getChildHtml('extra_actions') ?>
                        <button type="button" title="<?php echo $this->__('Checkout') ?>" class="button" onclick="setLocation('<?php echo $this->getCheckoutUrl() ?>')"><span><span><?php echo $this->__('Checkout') ?></span></span></button>
                    </div>
                <?php endif ?>
                <?php $_items = $this->getRecentItems() ?>
                <?php if (count($_items)): ?>
                    <p class="block-subtitle"><?php echo $this->__('Recently added item(s)') ?></p>
                    <ol id="cart-sidebar" class="mini-products-list">
                        <?php foreach ($_items as $_item): ?>
                            <?php echo $this->getItemHtml($_item) ?>
                        <?php endforeach; ?>
                    </ol>
                    <script type="text/javascript">decorateList('cart-sidebar', 'none-recursive')</script>
                <?php else: ?>
                    <p class="empty"><?php echo $this->__('You have no items in your shopping cart.') ?></p>
                <?php endif ?>
            </div>
        </div>
    <?php endif; ?>

<?php endif; ?>
