<?php $_order = $this->getShipment()->getOrder() ?>
<table cellspacing="0" cellpadding="0" border="0" width="650" style="border:1px solid #EAEAEA; margin-top: 10px; ">
    <thead>
        <tr>
            <th align="left" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px"><?php echo $this->__('Delivery Instructions') ?></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="padding:3px 9px"><?php echo $this->helper('dv_changes')->getDeliverySignAttributeText($_order); ?>
                <p><?php echo $this->helper('dv_changes')->getSpecialDeliveryInstructionsAttributeText($_order); ?></p>
            </td>
        </tr>
     </tbody>
</table>

