<div class="before-copyright">
    <?php $blocks = $this->getChild() ?>
    <?php foreach ($blocks AS $block): ?>
        <div class="footer-block-cols">
            <?php echo $block->toHtml() ?>
        </div>
    <?php endforeach ?>
</div>