<?php if(true): ?>
<script type="text/javascript">
    (function($) {
        $(document).ready(function() {
            $('#navbar li.parent > div').each(function(i, val) {
                var kids = $(val).children('.grid-column');
                if(kids.length > 5) {
                    $(val).addClass('container-fluid').removeClass('grid-container grid-container0 grid-container1 grid-container2 grid-container3');
                    for(var i = 0; i < kids.length; i+=2) {
                      kids.slice(i, i+2).wrapAll('<div class="row divider"></div>');
                    }
                    kids.each(function(i, val) {
                        $(val).addClass('col-sm-6').removeClass('grid-column grid-column0 grid-column1 grid-column2 grid-column3');
                    });
                }
            });
            $('body .wrapper').css('paddingTop', $('#hd').outerHeight());
        });
    })(jQuery);
</script>
<?php endif; ?>
<header id="hd" class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                <div class="top row">
                    <div class="col-xs-12 col-sm-4">
                        <a id="logo" href="/"><img id="logo" src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="large" /></a>
                    </div>
                    <div class="col-xs-12 col-sm-4 contact">
                        <a class="phone" href="tel:1300530306">1300 530 306</a> <span class="time">8am - 4pm</span> <span class="days">Mon - Fri</span> <span class="timezone">(Qld Time)</span>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <?php echo $this->getChildHtml('topSearch') ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle row">
        <div class="col-xs-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <div class="col-lg-2 visible-lg-block">
                                <ul class="nav navbar-nav navbar-left">
                                    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                                </ul>
                            </div>
                            <div id="middle-menu" class="col-lg-8 col-md-12">
                                <?php echo $this->getChildHtml('topMenu') ?>
                            </div>
                            <div id="account-menu" class="col-lg-2 col-md-12">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="hidden-lg"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                                    <li><a href="<?php echo $this->helper('customer')->getAccountUrl(); ?>"><i class="fa fa-user"></i> Account</a></li>
                                    <li>
                                        <?php echo $this->getChildHtml('minicart_head'); ?>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<?php echo $this->getChildHtml('topContainer'); ?>
