
<?php
$groupId = $this->getGroupId ();
$groupInfo = Mage::getModel('menupro/groupmenu')->load($groupId)->getData();
$MCPHTML = $MCPRHTML = "";
if ($this->helper('menupro')->isDevelopMode()) {
	if ($this->isGroupResponsive($groupInfo['responsive'])) {
		if ($groupInfo['responsive'] == "mcp-push-cover" || $groupInfo['responsive'] == "mcp-push-overlap") {
			$MCPRHTML = $this->getPushnewResponsiveHtml($groupId, $groupInfo['responsive']);
		} else {
			$MCPRHTML = $this->getPushResponsiveHtml($groupId, $groupInfo['responsive']);
		}
		$MCPHTML = $this->getMenuHtml($groupId);
		$note = $this->__("<h5 style='padding: 10px; font-size: 12px; font-weight: normal; margin: 5px 0px; line-height: 15px; text-transform: none; font-style: italic; color: rgb(248, 153, 56); background: none repeat scroll 0% 0% rgb(255, 255, 255);'>Enable Developer Mode for showing both status for customizing CSS. Turn off Developer Mode when you have done.</h5>");
		$MCPHTML .= $note;
		$MCPHTML .= $MCPRHTML;
	} else {
		$MCPHTML = $this->getMenuHtml($groupId);
	}
} else {
	if ($this->isGroupResponsive($groupInfo['responsive'])) { 
		if ($this->detectDevice() != "desktop") {
			if ($groupInfo['responsive'] == "mcp-push-cover" || $groupInfo['responsive'] == "mcp-push-overlap") {
				$MCPHTML = $this->getPushnewResponsiveHtml($groupId, $groupInfo['responsive']);
			} else {
				$MCPHTML = $this->getPushResponsiveHtml($groupId, $groupInfo['responsive']);
			}
		} else {
			$MCPHTML = $this->getStaticHtml($groupId);
		}
	} else {
		$MCPHTML = $this->getStaticHtml($groupId);
	}
}
if (strpos($groupInfo['position'],'left-column-menu') !== false) :
	echo '<div class="block block-layered-nav menupro-left-column-menu">';
	echo '<div class="block-content toggle-content">';
    echo '<dl>';
    echo '<dt class="">'.$groupInfo['title'].'</dt>';
    echo '<dd>      ';
    echo $MCPHTML;
	echo '</dd>';
    echo '</dl>';
    echo '</div>';
    echo '</div>';

else:
	echo "<div class='mst'>";
	echo $MCPHTML;
	echo "</div>";
?>
<script type="text/javascript">
jQuery(document).ready(function() {
	var temp =-1;
	var row =0;
	jQuery(".menu-creator-pro:not(.left-column-menu) > li").each(function() {
		var position = jQuery(this).position();
		if(position.top > temp){
			row++;
			temp = position.top;
		}
		jQuery(this).addClass('row-'+row);
	});
	jQuery(".menu-creator-pro:not(.left-column-menu)").addClass('navrow-'+row);
});
jQuery(window).resize(function(){
	jQuery(".menu-creator-pro:not(.left-column-menu)").removeClass (function (index, css) {
	    return (css.match (/(^|\s)navrow-\S+/g) || []).join(' ');
	});
	jQuery(".menu-creator-pro:not(.left-column-menu) > li").removeClass (function (index, css) {
	    return (css.match (/(^|\s)row-\S+/g) || []).join(' ');
	});
	var temp =-1;
	var row =0;
	jQuery(".menu-creator-pro:not(.left-column-menu) > li").each(function() {
		var position = jQuery(this).position();
		if(position.top > temp){
			row++;
			temp = position.top;
		}
		jQuery(this).addClass('row-'+row);
	});
	jQuery(".menu-creator-pro:not(.left-column-menu)").addClass('navrow-'+row);
});
</script>
<?php endif; ?>