<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    1.1.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<?php $post = $this->getMostRecentFromCat();?>

<div class="block-blog home">
    <div class="block-content">
        <div id="messages_product_view">
            <?php Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true)); ?> 
            <?php echo Mage::app()->getLayout()->getMessagesBlock()->getGroupedHtml(); ?> 
        </div>
        <div class="postTitle">
                    <h2><?php echo $post->getTitle(); ?></h2>
                    <span><?php echo date('d M Y',strtotime($post->getCreatedTime())); ?></span>
        </div>
        <div class="postWrapper">
                <div class="postContent"><?php echo $post->getPostContent(); ?></div>
        </div>
        <div class="read-more">
                    <a href="<?php echo $post->getAddress()?>">READ MORE</a>
        </div>
    </div>
</div>

