<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    1.1.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<?php $posts = $this->getPosts(); ?>
<div id="messages_product_view">
    <?php Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true)); ?> 
    <?php echo Mage::app()->getLayout()->getMessagesBlock()->getGroupedHtml(); ?> 
</div>
<div class="block-blog">
    <div class="block-title">
        <strong><?php echo Mage::getStoreConfig(AW_Blog_Helper_Config::XML_BLOG_TITLE) ?></strong>
    </div>
    <div class="block-content">
       <ul class="two-column-post-list clearfix">
    <?php $i=0; foreach ($posts as $post): ?>
           <li class="<?php echo ($i % 2) ? 'f-right':'f-left' ;?>">
            <div class="postWrapper">
                <div class="postTitle">
                    <h2><?php echo $post->getTitle(); ?></h2>
                    <span><?php echo date('d M Y',strtotime($post->getCreatedTime())); ?></span>
                </div>
                <div class="postContent">
                   <?php echo $post->getShortContent(); ?>
                </div>
                <div class="read-more">
                    <a href="<?php echo $post->getAddress()?>">READ MORE</a>
                </div> 
                
           </li>
           <?php $i++; ?>
    <?php endforeach; ?> 
        </ul>
        <div class="blog-pagination clearfix">
        <?php $this->getPages(); ?> 
        </div>
   </div>
   
</div>
