<div class="instagram blog-widget">
    <div class="page-title">
        <h2><?php echo $this->__('INSTAGRAM')?></h2>
    </div>
    <div class="content">
         <?php 
            echo $this->getLayout()->createBlock('cms/block')->setBlockId('instagram')->toHtml(); 
         ?>
    </div>
</div>