<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    1.1.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<?php 
$post = $this->getPost(); 

$navPosts = null;
$navPosts = $this->getNavPosts($post);
?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="block-blog">
    <div class="block-title">
        <strong><?php echo Mage::getStoreConfig(AW_Blog_Helper_Config::XML_BLOG_TITLE) ?></strong>
    </div>
    <div class="block-content">
        <div class="postWrapper">
            <div class="postTitle">
                    <h2><?php echo $post->getTitle(); ?></h2>
                    <span><?php echo date('d M Y',strtotime($post->getCreatedTime())); ?></span>
            </div>
            <div class="postContent"><?php echo $post->getShortContent(); ?></div>
            <div class="postContent"><?php echo $post->getPostContent(); ?></div>
        </div>
        <div class="blog-social clearfix">
           <div class="f-left">
            <?php echo $this->getLayout()->createBlock('sharingtool/share')->setBlockId('addthis_sharetool')->toHtml();?>
           </div>
         
           <div class="f-right">
             <?php if($navPosts['prev'] != null): ?> 
                  <div class="f-left">  
                   <a href="<?php echo $navPosts['prev']->getAddress() ?>"><span class="arrow">&lt;</span>&nbsp;&nbsp;&nbsp;<span class="symbol"><?php echo 'PREV POST' ?></span></a>
                  </div>
             <?php endif;?> 
             <?php if($navPosts['next'] != null): ?>
                  <div class="f-left">  
                   &nbsp;&nbsp;&nbsp; <a href="<?php echo $navPosts['next']->getAddress() ?>"><span class="symbol"><?php echo 'NEXT POST' ?></span>&nbsp;&nbsp;&nbsp;<span class="arrow">&gt;</span></a>
                  </div>
             <?php endif;?>
           </div>
         <?php //endif;?>
        </div>
        <?php $posts = $this->getMostRecentFromPostTag($post);?>
        <?php if ($posts != null):?>
        <div class="blog-related-posts">
             <div class="block-title">
                <strong>RELATED READING</strong>
            </div>
            <div class="block-content">
               <ul class="three-column-post-list clearfix">
               
               <?php $i=0; foreach ($posts as $rpost): ?>
                   <li class="<?php echo ($i % 3 == 2) ? 'f-right':'f-left' ;echo ($i % 3 == 1) ? ' f-center':'' ;?>">
                    <div class="postWrapper">
                        <div class="postTitle">
                            <h2><?php echo $rpost->getTitle(); ?></h2>
                        </div>
                        <div class="postContent">
                           <?php echo $rpost->getShortContent(); ?>
                        </div>
                        <div class="read-more">
                            <a href="<?php echo $rpost->getAddress()?>">READ MORE</a>
                        </div> 
                        
                   </li>
                   <?php $i++; ?>
               <?php endforeach; ?> 
               </ul>
            </div>
        </div>
        <?php endif; ?>
    </div>
    
</div>

<!-- Comment Section -->

<?php if ($this->getCommentsEnabled()): ?>
    <?php $comments = $this->getComment(); ?>
    <div class="postTitle"><a name="commentBox" ></a>
        <h2><?php echo $this->getCommentTotalString($comments); ?></h2>
    </div>

    <?php foreach ($comments as $comment) : ?>
        <div class="commentWrapper">

            <div class="commentDetails"><h4 class="username"><?php echo $comment->getUser(); ?></h4> <?php echo $this->__("posted on") ?> <?php echo $this->formatDate($comment->getCreatedTime(), Mage::getStoreConfig('blog/blog/dateformat'), true); ?></div>
            <div class="commentContent"><?php echo nl2br($comment->getComment()); ?></div>

        </div>
    <?php endforeach; ?>

    <!-- Comments per page implementation -->
    <?php if ($this->getPageCount() > 1) : ?>
        <div class="post-pagelist">
            <?php for ($i = 1; $i <= $this->getPageCount(); $i++) : ?>
                <?php if ($this->current($i)): ?>    
                    <span><?php echo $i ?></span>
                    <?php if ($i != $this->getPageCount()): ?>            
                        <span class="separator">|</span>               
                    <?php endif ?> 
                <?php else: ?>       
                    <a href="<?php echo $this->getPageAddress($i) ?>"><?php echo $i ?></a>
                    <?php if ($i != $this->getPageCount()) : ?>
                        <span class="separator">|</span>
                    <?php endif ?>  
                <?php endif; ?>
            <?php endfor ?>
        </div>   
    <?php endif ?>
    <!--        -->

    <?php if ($post->getComments()): ?>
        <div class="postError"><?php echo Mage::helper('blog')->__('Comments are Closed for this post') ?></div>
    <?php else: ?>
        <?php if ($this->getLoginRequired()): ?>
            <?php if ($this->helper('customer')->isLoggedIn()): ?>
                <form action="" id="postComment" method="post">  
                    <fieldset class="group-select">
                        <h4 class="legend"><?php echo Mage::helper('blog')->__('Submit Comment') ?></h4>
                        <ul class="form-list">
                            <li>

                                <div class="input-box aw-blog-comment-area">
                                    <label for="comment" class="required"><?php echo Mage::helper('blog')->__('Comment') ?><em>*</em></label><br />
                                    <textarea name="comment" id="comment" title="<?php echo $this->__('Comment') ?>" class="required-entry input-text" style="height:150px;width:95%;" cols="50" rows="5"><?php echo $this->getCommentText(); ?></textarea>
                                </div>
                            </li>
                        </ul>
                    </fieldset>
                    <div class="button-set" style="width:96%">
                        <input name="post_id" type="hidden" value="<?php echo $post->getPostId(); ?>" />
                        <input name="email" type="hidden" value="<?php echo $this->htmlEscape($this->helper('blog')->getUserEmail()) ?>"/>
                        <input name="user" type="hidden" value="<?php echo $this->htmlEscape($this->helper('blog')->getUserName()) ?>"/>
                        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                        <button class="form-button button" type="submit"><span><span><?php echo Mage::helper('blog')->__('Submit Comment') ?></span></span></button>
                    </div>
                </form>

                <script type="text/javascript">
                    var contactForm = new VarienForm('postComment', false);
                </script>            

            <?php else: ?>
                <p><?php echo Mage::helper('blog')->__('You must be logged in to post a comment.'); ?></p>
                <p><a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>"><?php echo Mage::helper('blog')->__('click here'); ?></a> <?php echo Mage::helper('blog')->__('to log in'); ?></p>
            <?php endif ?>

        <?php else: ?>

            <form action="" id="postComment" method="post">
                <fieldset class="group-select">
                    <h4 class="legend"><?php echo Mage::helper('blog')->__('Submit Comment') ?></h4>
                    <ul class="form-list">
                        <li>
                            <div class="input-box">
                                <label for="name" class="required"><?php echo Mage::helper('blog')->__('Name') ?><em>*</em></label><br />
                                <input name="user" id="user" value="<?php echo $this->getCommentName(); ?>" title="<?php echo $this->__('Name') ?>" class="required-entry input-text" type="text" />
                            </div>

                            <div class="input-box">
                                <label for="email" class="required"><?php echo Mage::helper('blog')->__('Email') ?><em>*</em></label><br />
                                <input name="email" id="email" value="<?php echo $this->getCommentEmail(); ?>" title="<?php echo $this->__('Email') ?>" class="required-entry input-text validate-email" type="text" />
                            </div>

                            <div class="clear"></div>

                            <div class="input-box aw-blog-comment-area">
                                <label for="comment" class="required"><?php echo Mage::helper('blog')->__('Comment') ?><em>*</em></label><br />
                                <textarea name="comment" id="comment" title="<?php echo Mage::helper('blog')->__('Comment') ?>" class="required-entry input-text" style="height:150px;width:95%;" cols="50" rows="5"><?php echo $this->getCommentText(); ?></textarea>
                            </div>
                        </li>

                        <?php
                        if (Mage::getStoreConfig('blog/recaptcha/enabled') && !$this->helper('customer')->isLoggedIn()) {
                            ?><li><?php
                require_once 'recaptcha/recaptchalib-aw.php';

                // Get a key from http://recaptcha.net/api/getkey
                $publickey = Mage::getStoreConfig('blog/recaptcha/publickey');
                $privatekey = Mage::getStoreConfig('blog/recaptcha/privatekey');
                $error = null;

                echo recaptcha_get_html($publickey, $error);
                            ?></li><?php
            }
                        ?>                        
                    </ul>
                </fieldset>
                <div class="button-set" style="width:96%">
                    <input name="post_id" type="hidden" value="<?php echo $post->getPostId(); ?>" />
                    <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                    <button class="button form-button" type="submit"><span><span><?php echo Mage::helper('blog')->__('Submit Comment') ?></span></span></button>
                </div>
            </form>

            <script type="text/javascript">
                var contactForm = new VarienForm('postComment', false);
            </script>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>
