<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    1.1.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<!--<?php if (Mage::getStoreConfig(AW_Blog_Helper_Config::XML_TAGCLOUD_SIZE) && $this->getCollection()->count()): ?>
    <div class="menu-tags">
        <h5><?php echo Mage::helper('blog')->__('Tags'); ?></h5>
        <ul class="tagcloud">
            <?php foreach ($this->getCollection() as $tag): ?>
                <li><a class="tag-count-<?php echo $this->getTagWeight($tag) ?>" href="<?php echo $this->getTagHref($tag) ?>"><?php echo $tag->getTag() ?></a></li>
            <?php endforeach; ?>  
        </ul>
    </div>
<?php endif; ?>    -->

<?php if (Mage::getStoreConfig(AW_Blog_Helper_Config::XML_TAGCLOUD_SIZE) && $this->getCollection()->count()): ?>

<div class="menu-tags blog-widget">
    <div class="page-title">
        <h2><?php echo $this->__('TAGS')?></h2>
    </div>
    <?php $this->getCollection()->load();?>
    <?php $all_tags = $this->getCollection()->getItems();?>
    <?php $all_tags = array_chunk($all_tags,3);?>

    <div class="content">
        <?php foreach ($all_tags as $tags):?>
            <ul>
                <?php $i=0; foreach ($tags as $tag):?>
                    <li class="item-tags">
                        <span class="product-name"><?php if($i!=0) echo '..&nbsp;&nbsp;'?><a href="<?php echo $this->getTagHref($tag) ?>" title="<?php echo $tag->getTag() ?>"><?php echo $tag->getTag() ?></a></span>
                    </li>
                    <?php $i++;?>
                <?php endforeach;?>
            </ul>
        <?php endforeach;?>
    </div>
</div>

<?php endif; ?>