<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Blog
 * @version    1.1.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE-COMMUNITY.txt
 */
?>
<?php
$currentPage = $this->getCurrentPage();
$pages = $this->getPagesCount();
$route = Mage::helper('blog')->getRoute();
$cat = ($this->getCategoryMode()) ? ('/cat/' . $this->getRequest()->getParam('identifier')) : '';
?>


<div class="pagination-container">
<?php if ($currentPage > 1): ?>
    <div class="nav-button"><a href="<?php echo $this->getUrl($route . $cat . '/page/' . ($currentPage - 1)); ?>" ><span class="arrow">&lt;</span>&nbsp;&nbsp;&nbsp;<span class="symbol">PREV</span></a></div>
<?php else:?>
    <div class="nav-button"><span class="arrow disable">&lt;</span>&nbsp;&nbsp;&nbsp;<span class="symbol disable">PREV</span></div>
<?php endif; ?>
    <ul class="page-numbers">
        <?php for($i = 0 ; $i < $pages; $i++):?>
            <li class="<?php if (($i + 1) == $currentPage) echo 'active' ?>"><a href="<?php echo $this->getUrl($route . $cat . '/page/' . ($i + 1)); ?>"><?php echo $i + 1 ?></a></li>
        <?php endfor;?>
    </ul>
<?php if ($currentPage < $pages): ?>          
    <div class="nav-button"><a href="<?php echo $this->getUrl($route . $cat . '/page/' . ($currentPage + 1)); ?>" ><span class="symbol">NEXT</span>&nbsp;&nbsp;&nbsp;<span class="arrow">&gt;</span></a></div>
<?php else:?>
    <div class="nav-button"><span class="symbol disable">NEXT</span>&nbsp;&nbsp;&nbsp;<span class="arrow disable">&gt;</span></div>
<?php endif; ?>
</div>