<?php $supplier = $this->getSupplier(); ?>

<style>
    .morning .cron-h-box, .morning .cron-h-box2{
        border: 1px solid #AFAFAF;
        margin: 2px;
        padding: 5px;
        -background:#CFC9FC;
        background:#efefef;
    }
    .afternoon .cron-h-box, .afternoon .cron-h-box2{
        -background:#F9C7CD;
        background:#efefef;
        border: 1px solid #AFAFAF;
        margin: 2px;
        padding: 5px;
    }
    .morning-half .cron-h-box, .morning-half .cron-h-box2{
        -background:#BEB6F9;
        background:#efefef;
        border: 1px solid #AFAFAF;
        margin: 2px;
        padding: 5px;
    }
    .afternoon-half .cron-h-box,  .afternoon-half .cron-h-box2{
        -background:#F9B3BC;
        background:#efefef;
        border: 1px solid #AFAFAF;
        margin: 2px;
        padding: 5px;
    }

    .cron-d-box, .cron-d-box2{
        background:#efefef;
        border: 1px solid #AFAFAF;
        margin: 2px;
        padding: 5px;
    }
    .checked{
        background-color: #EFFFF0!important;
    }
</style>
<script>
	delete window['console'];

    document.observe('dom:loaded', function(){

        if(!$('schedule').value.isJSON()){ $('schedule').value='{"days":[],"hours":[]}'; }
        if(!$('schedule_import_stock').value.isJSON()){ $('schedule_import_stock').value='{"days":[],"hours":[]}'; }

        cron= $('schedule').value.evalJSON();
        cron2= $('schedule_import_stock').value.evalJSON();

        console.log(cron);
        console.log(cron2);

        cron.days.each(function(d){
            if($('d-'+d)){
                $('d-'+d).checked=true;
                $('d-'+d).ancestors()[0].addClassName('checked');
            }
        })

        cron2.days.each(function(d){
            if($('d2-'+d)){
                $('d2-'+d).checked=true;
                $('d2-'+d).ancestors()[0].addClassName('checked');
            }
        })


        cron.hours.each(function(h){
            if( $('h-'+h.replace(':',''))){
                $('h-'+h.replace(':','')).checked=true;
                $('h-'+h.replace(':','')).ancestors()[0].addClassName('checked');
            }
        })

        cron2.hours.each(function(h){
            if( $('h2-'+h.replace(':',''))){
                $('h2-'+h.replace(':','')).checked=true;
                $('h2-'+h.replace(':','')).ancestors()[0].addClassName('checked');
            }
        })

        $$('.cron-box').each(function(e){
            e.observe('click',function(){

                if(e.checked)e.ancestors()[0].addClassName('checked');
                else e.ancestors()[0].removeClassName('checked');

                d=new Array
                $$('.cron-d-box INPUT').each(function(e){
                    if(e.checked) d.push(e.value)
                })
                h=new Array;
                $$('.cron-h-box INPUT').each(function(e){
                    if(e.checked) h.push(e.value)
                })

                $('schedule').value=Object.toJSON({days:d,hours:h})

            })
        })

        $$('.cron-box2').each(function(e){
            e.observe('click',function(){

                if(e.checked)e.ancestors()[0].addClassName('checked');
                else e.ancestors()[0].removeClassName('checked');

                d=new Array
                $$('.cron-d-box2 INPUT').each(function(e){
                    if(e.checked) d.push(e.value)
                })
                h=new Array;
                $$('.cron-h-box2 INPUT').each(function(e){
                    if(e.checked) h.push(e.value)
                })

                $('schedule_import_stock').value=Object.toJSON({days:d,hours:h})

            })
        })
    })

</script>
<div class='entry-edit'>
    <div class="entry-edit-head"><h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Schedules'); ?> (Magento cron needs to be running to use this function)</h4></div>
    <div class="fieldset" id='cron-setting'>
        <table class="form-list">
        	<tr>
		        <td class="label"><label for="email_enabled">Schedule Dropshipment</label></td>
		    	<td class="value">
		        <select class=" select" name="schedule_enabled" id="email_enabled">
						<option <?php if(isset($supplier['schedule_enabled']) && $supplier['schedule_enabled']==1): ?> selected="selected" <?php endif; ?> value="1"><?php echo $this->__('Disabled');?></option>
						<option <?php if(isset($supplier['schedule_enabled']) && $supplier['schedule_enabled']==2): ?> selected="selected" <?php endif; ?> value="2"><?php echo $this->__('Enabled');?></option>
					</select>
				</td>
	    	</tr>
	    	<tr>
        		<td class="label"><?php echo $this->__('Last Run'); ?></td>
    			<td class="value"><?php echo (isset($supplier['schedule_dropship_date']) ? $supplier['schedule_dropship_date'] : '' ); ?> </td>
    		</tr>
	    	<!--<tr>
        		<td class="label"><?php echo $this->__('Json'); ?></td>
    			<td class="value">-->
        			<input type="hidden" class="input-text" value="<?php echo htmlentities(isset($supplier['schedule']) ? $supplier['schedule'] : ''); ?>"  name="schedule" id="schedule">
        	<!--</td>
    		</tr>-->
        </table>
        <table>
            <thead>
                <tr><th><?php $this->__('Days of the week');?></th><th width='20'></th><th colspan='4'><?php $this->__('Hours of the day');?></th></tr>
            </thead>
            <tr>
                <td width='300'>
                    <div class='cron-d-box'><input class='cron-box' value='Monday' id="d-Monday" type='checkbox'/> <?php echo $this->__('Monday'); ?></div>
                    <div class='cron-d-box'><input class='cron-box' value='Tuesday' id="d-Tuesday" type='checkbox'/> <?php echo $this->__('Tuesday'); ?></div>
                    <div class='cron-d-box'><input class='cron-box' value='Wednesday' id="d-Wednesday" type='checkbox'/> <?php echo $this->__('Wednesday'); ?></div>
                    <div class='cron-d-box'><input class='cron-box' value='Thursday' id="d-Thursday" type='checkbox'/> <?php echo $this->__('Thursday'); ?></div>
                    <div class='cron-d-box'><input class='cron-box' value='Friday' id="d-Friday" type='checkbox'/> <?php echo $this->__('Friday'); ?></div>
                    <div class='cron-d-box'><input class='cron-box' value='Saturday' id="d-Saturday" type='checkbox'/> <?php echo $this->__('Saturday'); ?></div>
                    <div class='cron-d-box'><input class='cron-box' value='Sunday' id="d-Sunday" type='checkbox'/> <?php echo $this->__('Sunday'); ?></div>
                </td>
                <td></td>
                <td width='150' class='morning-half'>
                    <div class='cron-h-box'><input class='cron-box' value='00:00' id='h-0000'  type='checkbox'/> <?php echo $this->__('00:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='01:00' id='h-0100' type='checkbox'/> <?php echo $this->__('01:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='02:00' id='h-0200' type='checkbox'/> <?php echo $this->__('02:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='03:00' id='h-0300' type='checkbox'/> <?php echo $this->__('03:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='04:00' id='h-0400' type='checkbox'/> <?php echo $this->__('04:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='05:00' id='h-0500' type='checkbox'/> <?php echo $this->__('05:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='06:00' id='h-0600'  type='checkbox'/> <?php echo $this->__('06:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='07:00' id='h-0700' type='checkbox'/> <?php echo $this->__('07:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='08:00' id='h-0800'  type='checkbox'/> <?php echo $this->__('08:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='09:00' id='h-0900' type='checkbox'/> <?php echo $this->__('09:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='10:00' id='h-1000' type='checkbox'/> <?php echo $this->__('10:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='11:00' id='h-1100' type='checkbox'/> <?php echo $this->__('11:00'); ?></div>
                </td>
                <!--<td width='150' class='morning'>
                    <div class='cron-h-box'><input class='cron-box' value='00:30' id='h-0030' type='checkbox'/> <?php echo $this->__('00:30'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='01:30' id='h-0130' type='checkbox'/> <?php echo $this->__('01:30'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='02:30' id='h-0230' type='checkbox'/> <?php echo $this->__('02:30'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='03:30' id='h-0330' type='checkbox'/> <?php echo $this->__('03:30'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='04:30' id='h-0430' type='checkbox'/> <?php echo $this->__('04:30'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='05:30' id='h-0530' type='checkbox'/> <?php echo $this->__('05:30'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='06:30' id='h-0630' type='checkbox'/> <?php echo $this->__('06:30'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='07:30' id='h-0730' type='checkbox'/> <?php echo $this->__('07:30'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='08:30' id='h-0830' type='checkbox'/> <?php echo $this->__('08:30'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='09:30' id='h-0930' type='checkbox'/> <?php echo $this->__('09:30'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='10:30' id='h-1030' type='checkbox'/> <?php echo $this->__('10:30'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='11:30' id='h-1130' type='checkbox'/> <?php echo $this->__('11:30'); ?></div>
                </td>-->
                <td width='150' class='afternoon-half'>
                    <div class='cron-h-box'><input class='cron-box' value='12:00' id='h-1200' type='checkbox'/> <?php echo $this->__('12:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='13:00' id='h-1300' type='checkbox'/> <?php echo $this->__('13:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='14:00' id='h-1400' type='checkbox'/> <?php echo $this->__('14:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='15:00' id='h-1500' type='checkbox'/> <?php echo $this->__('15:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='16:00' id='h-1600' type='checkbox'/> <?php echo $this->__('16:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='17:00' id='h-1700' type='checkbox'/> <?php echo $this->__('17:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='18:00' id='h-1800' type='checkbox'/> <?php echo $this->__('18:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='19:00' id='h-1900' type='checkbox'/> <?php echo $this->__('19:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='20:00' id='h-2000' type='checkbox'/> <?php echo $this->__('20:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='21:00' id='h-2100' type='checkbox'/> <?php echo $this->__('21:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='22:00' id='h-2200' type='checkbox'/> <?php echo $this->__('22:00'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='23:00' id='h-2300' type='checkbox'/> <?php echo $this->__('23:00'); ?></div>
                </td>
                <!--<td width='150' class='afternoon'>
                    <div class='cron-h-box'><input class='cron-box' value='12:30' id='h-1230' type='checkbox'/> <?php echo $this->__('12:30 AM'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='13:30' id='h-1330' type='checkbox'/> <?php echo $this->__('01:30 PM'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='14:30' id='h-1430' type='checkbox'/> <?php echo $this->__('02:30 PM'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='15:30' id='h-1530' type='checkbox'/> <?php echo $this->__('03:30 PM'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='16:30' id='h-1630' type='checkbox'/> <?php echo $this->__('04:30 PM'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='17:30' id='h-1730' type='checkbox'/> <?php echo $this->__('05:30 PM'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='18:30' id='h-1830' type='checkbox'/> <?php echo $this->__('06:30 PM'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='19:30' id='h-1930' type='checkbox'/> <?php echo $this->__('07:30 PM'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='20:30' id='h-2030' type='checkbox'/> <?php echo $this->__('08:30 PM'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='21:30' id='h-2130' type='checkbox'/> <?php echo $this->__('09:30 PM'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='22:30' id='h-2230' type='checkbox'/> <?php echo $this->__('10:30 PM'); ?></div>
                    <div class='cron-h-box'><input class='cron-box' value='23:30' id='h-2330' type='checkbox'/> <?php echo $this->__('11:30 PM'); ?></div>
                </td>-->
            </tr>
        </table>
        <table class="form-list">
        	<tr>
		        <td class="label"><label for="email_enabled">Schedule Stock Import</label></td>
		    	<td class="value">
		        	<select class=" select" name="schedule_import_stock_enabled" id="email_enabled">
						<option <?php if(isset($supplier['schedule_import_stock_enabled']) && $supplier['schedule_import_stock_enabled']==1): ?> selected="selected" <?php endif; ?> value="1"><?php echo $this->__('Disabled');?></option>
						<option <?php if(isset($supplier['schedule_import_stock_enabled']) && $supplier['schedule_import_stock_enabled']==2): ?> selected="selected" <?php endif; ?> value="2"><?php echo $this->__('Enabled');?></option>
					</select>
				</td>
	    	</tr>
	    	<!--<tr>
        		<td class="label"><?php echo $this->__('Json'); ?></td>
    			<td class="value">-->
        			<input type="hidden" class="input-text" value="<?php echo htmlentities(isset($supplier['schedule_import_stock']) ? $supplier['schedule_import_stock'] : ''); ?>"  name="schedule_import_stock" id="schedule_import_stock">
        	<!--</td>
    		</tr>-->
    		<tr>
        		<td class="label"><?php echo $this->__('Last Run'); ?></td>
    			<td class="value"><?php echo (isset($supplier['schedule_import_stock_date']) ? $supplier['schedule_import_stock_date'] : ''); ?> </td>
    		</tr>
        </table>
        <table>
            <thead>
                <tr><th><?php $this->__('Days of the week');?></th><th width='20'></th><th colspan='4'><?php $this->__('Hours of the day');?></th></tr>
            </thead>
            <tr>
                <td width='300'>
                    <div class='cron-d-box2'><input class='cron-box2' value='Monday' id="d2-Monday" type='checkbox'/> <?php echo $this->__('Monday'); ?></div>
                    <div class='cron-d-box2'><input class='cron-box2' value='Tuesday' id="d2-Tuesday" type='checkbox'/> <?php echo $this->__('Tuesday'); ?></div>
                    <div class='cron-d-box2'><input class='cron-box2' value='Wednesday' id="d2-Wednesday" type='checkbox'/> <?php echo $this->__('Wednesday'); ?></div>
                    <div class='cron-d-box2'><input class='cron-box2' value='Thursday' id="d2-Thursday" type='checkbox'/> <?php echo $this->__('Thursday'); ?></div>
                    <div class='cron-d-box2'><input class='cron-box2' value='Friday' id="d2-Friday" type='checkbox'/> <?php echo $this->__('Friday'); ?></div>
                    <div class='cron-d-box2'><input class='cron-box2' value='Saturday' id="d2-Saturday" type='checkbox'/> <?php echo $this->__('Saturday'); ?></div>
                    <div class='cron-d-box2'><input class='cron-box2' value='Sunday' id="d2-Sunday" type='checkbox'/> <?php echo $this->__('Sunday'); ?></div>
                </td>
                <td></td>
                <td width='150' class='morning-half'>
                    <div class='cron-h-box2'><input class='cron-box2' value='00:00' id='h2-0000'  type='checkbox'/> <?php echo $this->__('00:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='01:00' id='h2-0100' type='checkbox'/> <?php echo $this->__('01:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='02:00' id='h2-0200' type='checkbox'/> <?php echo $this->__('02:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='03:00' id='h2-0300' type='checkbox'/> <?php echo $this->__('03:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='04:00' id='h2-0400' type='checkbox'/> <?php echo $this->__('04:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='05:00' id='h2-0500' type='checkbox'/> <?php echo $this->__('05:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='06:00' id='h2-0600'  type='checkbox'/> <?php echo $this->__('06:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='07:00' id='h2-0700' type='checkbox'/> <?php echo $this->__('07:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='08:00' id='h2-0800'  type='checkbox'/> <?php echo $this->__('08:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='09:00' id='h2-0900' type='checkbox'/> <?php echo $this->__('09:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='10:00' id='h2-1000' type='checkbox'/> <?php echo $this->__('10:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='11:00' id='h2-1100' type='checkbox'/> <?php echo $this->__('11:00'); ?></div>

                </td>
                <!--<td width='150' class='morning'>
                    <div class='cron-h-box2'><input class='cron-box2' value='00:30' id='h2-0030' type='checkbox'/> <?php echo $this->__('00:30 AM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='01:30' id='h2-0130' type='checkbox'/> <?php echo $this->__('01:30 AM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='02:30' id='h2-0230' type='checkbox'/> <?php echo $this->__('02:30 AM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='03:30' id='h2-0330' type='checkbox'/> <?php echo $this->__('03:30 AM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='04:30' id='h2-0430' type='checkbox'/> <?php echo $this->__('04:30 AM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='05:30' id='h2-0530' type='checkbox'/> <?php echo $this->__('05:30 AM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='06:30' id='h2-0630' type='checkbox'/> <?php echo $this->__('06:30 AM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='07:30' id='h2-0730' type='checkbox'/> <?php echo $this->__('07:30 AM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='08:30' id='h2-0830' type='checkbox'/> <?php echo $this->__('08:30 AM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='09:30' id='h2-0930' type='checkbox'/> <?php echo $this->__('09:30 AM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='10:30' id='h2-1030' type='checkbox'/> <?php echo $this->__('10:30 AM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='11:30' id='h2-1130' type='checkbox'/> <?php echo $this->__('11:30 AM'); ?></div>
                </td>-->
                <td width='150' class='afternoon-half'>
                    <div class='cron-h-box2'><input class='cron-box2' value='12:00' id='h2-1200' type='checkbox'/> <?php echo $this->__('12:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='13:00' id='h2-1300' type='checkbox'/> <?php echo $this->__('13:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='14:00' id='h2-1400' type='checkbox'/> <?php echo $this->__('14:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='15:00' id='h2-1500' type='checkbox'/> <?php echo $this->__('15:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='16:00' id='h2-1600' type='checkbox'/> <?php echo $this->__('16:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='17:00' id='h2-1700' type='checkbox'/> <?php echo $this->__('17:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='18:00' id='h2-1800' type='checkbox'/> <?php echo $this->__('18:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='19:00' id='h2-1900' type='checkbox'/> <?php echo $this->__('19:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='20:00' id='h2-2000' type='checkbox'/> <?php echo $this->__('20:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='21:00' id='h2-2100' type='checkbox'/> <?php echo $this->__('21:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='22:00' id='h2-2200' type='checkbox'/> <?php echo $this->__('22:00'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='23:00' id='h2-2300' type='checkbox'/> <?php echo $this->__('23:00'); ?></div>
                </td>
                <!--<td width='150' class='afternoon'>
                    <div class='cron-h-box2'><input class='cron-box2' value='12:30' id='h2-1230' type='checkbox'/> <?php echo $this->__('12:30 AM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='13:30' id='h2-1330' type='checkbox'/> <?php echo $this->__('01:30 PM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='14:30' id='h2-1430' type='checkbox'/> <?php echo $this->__('02:30 PM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='15:30' id='h2-1530' type='checkbox'/> <?php echo $this->__('03:30 PM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='16:30' id='h2-1630' type='checkbox'/> <?php echo $this->__('04:30 PM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='17:30' id='h2-1730' type='checkbox'/> <?php echo $this->__('05:30 PM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='18:30' id='h2-1830' type='checkbox'/> <?php echo $this->__('06:30 PM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='19:30' id='h2-1930' type='checkbox'/> <?php echo $this->__('07:30 PM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='20:30' id='h2-2030' type='checkbox'/> <?php echo $this->__('08:30 PM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='21:30' id='h2-2130' type='checkbox'/> <?php echo $this->__('09:30 PM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='22:30' id='h2-2230' type='checkbox'/> <?php echo $this->__('10:30 PM'); ?></div>
                    <div class='cron-h-box2'><input class='cron-box2' value='23:30' id='h2-2330' type='checkbox'/> <?php echo $this->__('11:30 PM'); ?></div>
                </td>-->
            </tr>
        </table>



    </div>


