	<?php
		function cut_string_lastestproductslider($string,$number){
			if(strlen($string) <= $number) {
				return $string;
			}
			else {	
				if(strpos($string," ",$number) > $number){
					$new_space = strpos($string," ",$number);
					$new_string = substr($string,0,$new_space)."..";
					return $new_string;
				}
				$new_string = substr($string,0,$number)."..";
				return $new_string;
			}
		}
	?>
<?php if($this->getConfig('enabled')){ // start enable module?> 
	<?php $this->getProducts() ?>
	<?php $_productCollection=$this->getProductCollection() ?>
	<div class="lastestproductslider-container">
		<?php if($this->getConfig('title')){?>
			<div class="lastestproductslider-title"><h2><?php echo $this->getConfig('title')?></h2></div>
		<?php }?>
		<?php if(!$_productCollection->count()): ?> <!-- start if exist product -->
			<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
		<?php else: ?>
			<div class="flexslider carousel">
				<ul class="slides products-grid">
					<?php $_collectionSize = $_productCollection->count() ?>
					<?php $i=0; foreach ($_productCollection as $_product): ?>
					<?php $_product = Mage::getModel('catalog/product')->load($_product->getId()); ?>
					<li class="lastestproductslider-item item ">
                                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(300,300); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" /></a>
                     		<div class="product-item-info">           
                                    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>
				    
				     <?php if( $this->getConfig('description')){?>
                                        <div class="ma-desc">
                                            <?php if(!$this->getConfig('maxlength')){?>
                                                <?php echo nl2br($this->htmlEscape($_product->getShortDescription())) ?>
                                            <?php } else {?>
                                                <?php echo nl2br(cut_string_lastestproductslider($this->htmlEscape($_product->getShortDescription()),$this->getConfig('maxlength'))) ?>			            
                                            <?php }?>			                    
                                        </div>
                                    <?php }?>
				    
                                    <?php if($this->getConfig('review')): ?>
                                        <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                    <?php endif; ?>
                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                    <div class="actions">
                                        <?php if ($this->getConfig('addtocart')) { ?>
                                            <?php if($_product->isSaleable()): ?>
                                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                            <?php else: ?>
                                                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                            <?php endif; ?>
                                        <?php }?>
                                        <?php if( $this->getConfig('addtowishlist') || $this->getConfig('addtocompare') ){?>
                                            <ul class="add-to-links">
                                                <?php if( $this->getConfig('addtowishlist')): ?>
                                                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                        <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                                <?php if( $this->getConfig('addtocompare')): ?>
                                                    <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                                        <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </ul>
                                        <?php }?>
                                    </div>
                                   </div>
						<?php $i++; $x--;?>
						</li>                    
					<?php endforeach; ?>
				</ul>
				
                <script type="text/javascript">
					$jq('.lastestproductslider-container .flexslider').flexslider({
						slideshow: false,
						itemWidth: 192,
						itemMargin: 10,
						minItems: 2,
						maxItems: <?php echo $this->getConfig('items'); ?>,
						slideshowSpeed: 3000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						animation: "slide"
					});
                </script> 
                <script type="text/javascript">
				jQuery(document).ready(function() {
					setTimeout(function(){
						var max = -1;
						jQuery(".lastestproductslider-container .carousel .lastestproductslider-item .product-item-info").each(function() {
							var h = jQuery(this).height(); 
							max = h > max ? h : max;
						});
						//alert(max);
						jQuery(".lastestproductslider-container .carousel .lastestproductslider-item .product-item-info").css('min-height',max);
						jQuery(".lastestproductslider-container .carousel .lastestproductslider-item .product-item-info .actions").css('position','absolute');
						
					},1000);
				});		
				</script>
			</div>		
		<?php endif; ?> <!-- end exist product -->
	</div> <!-- end products list -->
<?php } ?>


