<?php $video_embed = $this->getProduct()->getData('video_embed'); ?>
<?php if ($video_embed): ?>
    <!--<h2><?php echo $this->__('Product Video') ?></h2>-->
    <div class="std">
        <?php echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $video_embed, 'video_embed') ?>
    </div>
<?php endif; ?>
