<?php
/**
 * MagePlace Gallery Extension
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2014 Mageplace. (http://www.mageplace.com)
 * @license     http://www.mageplace.com/disclaimer.html
 */

/**
 * @var Mageplace_Gallery_Block_Album_List_Toolbar $this
 */

$_catalogHelper = Mage::helper('catalog');

?>
<?php if ($this->getCollection()->getSize()): ?>
    <div class="toolbar">
        <div class="sorter">
            <?php if ($this->isEnabledViewSwitcher()): ?>
                <p class="view-mode">
                    <?php $_modes = $this->getModes(); ?>
                    <?php if ($_modes && count($_modes) > 1): ?>
                        <label><?php echo $_catalogHelper->__('View as'); ?>:</label>
                        <?php foreach ($_modes as $_code): ?>
                            <?php $_label = $this->getModeLabel($_code); ?>
                            <?php if ($this->isModeActive($_code)): ?>
                                <strong title="<?php echo $_label; ?>"
                                        class="<?php echo strtolower($_code); ?>"><?php echo $_label; ?></strong>&nbsp;
                            <?php else: ?>
                                <a href="<?php echo $this->getModeUrl($_code); ?>" title="<?php echo $_label; ?>"
                                   class="<?php echo strtolower($_code); ?>"><?php echo $_label; ?></a>&nbsp;
                            <?php endif; ?>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </p>
            <?php endif; ?>

            <div class="sort-by">
                <label><?php echo $_catalogHelper->__('Sort By'); ?></label>
                <select onchange="setLocation(this.value)">
                    <?php foreach ($this->getAvailableOrders() as $_key => $_order): ?>
                        <option
                            value="<?php echo $this->getOrderUrl($_key, 'asc'); ?>"<?php if ($this->isOrderCurrent($_key)): ?> selected="selected"<?php endif; ?>>
                            <?php echo $this->__($_order); ?>
                        </option>
                    <?php endforeach; ?>
                </select>
                <?php if ($this->getCurrentDirection() == 'desc'): ?>
                    <a href="<?php echo $this->getOrderUrl(null, 'asc'); ?>"
                       title="<?php echo $_catalogHelper->__('Set Ascending Direction'); ?>"><img
                            src="<?php echo $this->getSkinUrl('images/i_desc_arrow.gif'); ?>"
                            alt="<?php echo $_catalogHelper->__('Set Ascending Direction'); ?>"
                            class="v-middle"/></a>
                <?php else: ?>
                    <a href="<?php echo $this->getOrderUrl(null, 'desc'); ?>"
                       title="<?php echo $_catalogHelper->__('Set Descending Direction'); ?>"><img
                            src="<?php echo $this->getSkinUrl('images/i_asc_arrow.gif'); ?>"
                            alt="<?php echo $_catalogHelper->__('Set Descending Direction'); ?>"
                            class="v-middle"/></a>
                <?php endif; ?>
            </div>
        </div>
    </div>
<?php endif ?>
