<?php
$groupId = $this->getGroupId ();
$groupInfo = Mage::getModel('menupro/groupmenu')->load($groupId)->getData();
$MCPHTML = $MCPRHTML = "";
if ($this->helper('menupro')->isDevelopMode()) {
	if ($this->isGroupResponsive($groupInfo['responsive'])) {
		if ($groupInfo['responsive'] == "mcp-push-cover" || $groupInfo['responsive'] == "mcp-push-overlap") {
			$MCPRHTML = $this->getPushnewResponsiveHtml($groupId, $groupInfo['responsive']);
		} else {
			$MCPRHTML = $this->getPushResponsiveHtml($groupId, $groupInfo['responsive']);
		}
		$MCPHTML = $this->getMenuHtml($groupId);
		$note = $this->__("<h5 style='padding: 10px; font-size: 12px; font-weight: normal; margin: 5px 0px; line-height: 15px; text-transform: none; font-style: italic; color: rgb(248, 153, 56); background: none repeat scroll 0% 0% rgb(255, 255, 255);'>Enable Developer Mode for showing both status for customizing CSS. Turn off Developer Mode when you have done.</h5>");
		$MCPHTML .= $note;
		$MCPHTML .= $MCPRHTML;
	} else {
		$MCPHTML = $this->getMenuHtml($groupId);
	}
} else {
	if ($this->isGroupResponsive($groupInfo['responsive'])) { 
		if ($this->detectDevice() != "desktop") {
			if ($groupInfo['responsive'] == "mcp-push-cover" || $groupInfo['responsive'] == "mcp-push-overlap") {
				$MCPHTML = $this->getPushnewResponsiveHtml($groupId, $groupInfo['responsive']);
			} else {
				$MCPHTML = $this->getPushResponsiveHtml($groupId, $groupInfo['responsive']);
			}
		} else {
			$MCPHTML = $this->getStaticHtml($groupId);
		}
	} else {
		$MCPHTML = $this->getStaticHtml($groupId);
	}
}
echo "<div class='mst'>";
echo $MCPHTML;
echo "</div>";
