<?php 
$pushPath = $this->getSkinUrl('menupro/push/');
$groupId = $this->getGroupId ();
$responsiveStyle = explode("-", $this->getData('responsive_style'));
?>
<link rel="stylesheet" type="text/css" href="<?php echo $pushPath ?>css/component.css" />
<script src="<?php echo $pushPath ?>js/modernizr.custom.js"></script>
<script src="<?php echo $pushPath ?>js/jquery.dlmenu.js"></script>
<script>
	var pushMenu = jQuery.noConflict();
	pushMenu(function($) {
		$( '#dl-menu-<?php echo $groupId ?>' ).dlmenu({
			animationClasses : { classin : 'dl-animate-in-<?php echo end($responsiveStyle) ?>', classout : 'dl-animate-out-<?php echo end($responsiveStyle) ?>' }
		});
	});
</script>
<div id="dl-menu-<?php echo $groupId ?>" class="dl-menuwrapper">
	<button class="dl-trigger">Open Menu</button>
	<?php if ($this->helper('menupro')->isDevelopMode()) : ?>
		<?php echo $this->getPushMenuHtml($groupId);  ?>
	<?php else : ?>
		<?php echo $this->getStaticHtml($groupId); ?>
	<?php endif; ?>
</div>