<head>
<style type = "text/css">
body{ font-size: 24px; }
h1 { font-size: 32px; }
h2 { font-size: 28px; }
td { margin: 0; padding: 0; }
</style>
</head>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
    	<td>{{var logo_pdf}}</td>
    	<td>
        	<table width="100%" border = "1" cellspacing="0" cellpadding="4">
        		<tr bgcolor="#CCCCCC"><td colspan="2"><h2>Order info</h2></td></tr>
                <tr><td><strong>Order number</strong></td><td>{{var order.increment_id}}</td></tr>
				<tr><td><strong>Order date</strong></td><td>{{var order.getCreatedAtFormated('short')}}</td></tr>
				<tr><td><strong>Dropship date</strong></td><td>{{var dropship_date}}</td></tr>
        	</table>
        </td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    <tr>
    	<td>
        	<table width="100%" border = "1" cellspacing="0" cellpadding="4">
				<tr bgcolor="#CCCCCC">
                	<td><h2>Billing address</h2></td>
                </tr>
                <tr>    
                	<td>{{var order.getBillingAddress().format('html')}}</td>
                </tr>
			</table>	
		</td>
        <td>
        	<table width="100%" border = "1" cellspacing="0" cellpadding="4">
				<tr bgcolor="#CCCCCC">
                	<td><h2>Shipping address</h2></td>
                </tr>
                <tr>    
                	<td>{{var order.getShippingAddress().format('html')}}</td>
                </tr>
			</table>
        </td>
	</tr>
    <tr>
    	<td>
	    	<table>
	        	<tr>
	            	<td>
	                    <h1>{{var pdf_header}}</h1>
	                    <p>{{var pdf_message}}</p>
	            	</td>
	            </tr>
	            <tr>
	            	<td>
	                	<br/><br/><h2>Ordered items</h2><br/>
	                </td> 
	            </tr>
	        </table>
        </td>
    </tr>
    <tr>
    	<td colspan="2">
        	<table width="100%" border = "1" cellspacing="0" cellpadding="4">
                <tr bgcolor="#CCCCCC">
                    <td width="250">Product Name</td>
                    <td>Details</td>
                    <td width="100">SKU</td>
                    <td width="50">Quantity</td>
                </tr>
                {{var pdf_items}}
            </table>
        </td>
    </tr>  
</table> 
</body>   
