<?php
/**
* @author Amasty Team
* @copyright Copyright (c) 2010-2012 Amasty (http://www.amasty.com)
* @package Amasty_Xnotif
*/
?>
<?php $this->setPreconfiguredValue(); ?>
<?php $_product = $this->getProduct(); ?>
<?php $_associatedProducts = $this->getAssociatedProducts(); ?>
<?php $_hasAssociatedProducts = count($_associatedProducts) > 0; ?>
<?php if (  ((method_exists($this, 'isAvailable') && $_product->isAvailable()) || $_product->isSaleable()) && $_hasAssociatedProducts): ?>
    <p class="availability in-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('In stock') ?></span></p>
<?php else: ?>
    <p class="availability out-of-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('Out of stock') ?></span></p>
<?php endif; ?>
<?php echo $this->getChildHtml('product_type_data_extra') ?>
<?php
$elgate = 0;
if($_product->isGrouped()):
    $attributeSetModel = Mage::getModel("eav/entity_attribute_set");
    $attributeSetModel->load($_product->getAttributeSetId());
    $attributeSetName  = $attributeSetModel->getAttributeSetName();
    if(0 == strcmp($attributeSetName, 'Elgate')) {
        $elgate = 1;
    }
endif;
$showPrice=0;
$additional=1;
if ($this->getCanShowProductPrice($_product)){
    $showPrice=1;
    $additional++;
}
?>
<?php if($elgate): ?>
<?php $totalCol= $_product->getResource()->getAttribute('grouped_no_of_col')->getFrontend()->getValue($_product); ?>
<?php if($totalCol!='No') : ?>
<div class="grouped-items-wrapper">
    <table class="data-table grouped-items-table  <?php if ($showPrice): ?> grouped-items-table-show-price<?php endif; ?> total-col-<?php echo $totalCol+$additional; ?>" id="super-product-table">
        <?php for($i = 1; $i <= $totalCol; $i++): ?>
            <col />
        <?php endfor; ?>   
        <?php if ($showPrice): ?>
            <col />
            <?php if ($_product->isSaleable()): ?>
                <col width="1" />
            <?php endif; ?>
        <?php else: ?>
            <col width="1" />
        <?php endif; ?>     
        <thead>
            <tr>
                <?php for($i = 1; $i <= $totalCol; $i++): ?>
                    <?php $grouped_column_heading_att_code = 'grouped_column_heading_'.$i; ?>
                        <?php if($grouped_column_heading = $_product->getData($grouped_column_heading_att_code)): ?>
                            <th class="a-center tablecol-<?php echo $i; ?>"><?php echo $grouped_column_heading; ?></th>
                        <?php endif; ?>
                    <?php endfor; ?>
                    <?php if ($showPrice): ?>
                        <th class="a-center tablecol-<?php echo $i; ?>"><?php echo $this->__('Price') ?></th>
                        <?php if ($_product->isSaleable()): ?>
                            <th class="a-center tablecol-<?php echo ++$i; ?>"><?php echo $this->__('QTY') ?></th>
                        <?php endif; ?>
                    <?php else: ?>
                        <th class="a-center tablecol-<?php echo $i; ?>"><?php echo $this->__('QTY') ?></th>
                    <?php endif; ?>           
            </tr>
        </thead>
        <tbody>
        <?php if ($_hasAssociatedProducts): ?>
        <?php foreach ($_associatedProducts as $_item): ?>
            <?php $_finalPriceInclTax = $this->helper('tax')->getPrice($_item, $_item->getFinalPrice(), true) ?>
            <tr>
                <?php for($i = 1; $i <= $totalCol; $i++): ?>
                <?php $grouped_column_heading_att_code = 'grouped_column_value_'.$i; ?>
                    <td class="a-center tablecol-<?php echo $i; ?>">
                    <?php if($grouped_column_heading = $_item->getData($grouped_column_heading_att_code)): ?>
                        <?php echo $grouped_column_heading; ?>
                    <?php else: ?>
                         <span class="hide">-</span>
                    <?php endif; ?>
                    <?php if($i==1): ?>
                        <?php if ($status = $this->getStockStatus($_item)): ?>
                            <div class="amstockstatus_grouped_status" style="font-size: 11px;">(<?php echo $status; ?>)</div>
                        <?php endif; ?>
                    <?php endif; ?>
                    </td>
                <?php endfor; ?>
                <?php if ($showPrice): ?>
                <td class="a-right tablecol-<?php echo $i; ?>">
                    <?php if ($this->getCanShowProductPrice($_item)): ?>
                    <?php echo $this->getPriceHtml($_item, true) ?>
                    <?php echo $this->getTierPriceHtml($_item) ?>
                    <?php endif; ?>
                </td>
                <?php endif; ?>
                <?php if ($_product->isSaleable()): ?>
                <td class="a-center tablecol-<?php echo ++$i; ?>">
                <?php if ($_item->isSaleable()) : ?>
                    <input type="text" name="super_group[<?php echo $_item->getId() ?>]" maxlength="12" value="<?php echo $_item->getQty()*1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
                <?php else: ?>
               <?php 
                    if (!$_item->isSaleable()){
                            $isLogged = Mage::helper('customer')->isLoggedIn();
                            echo Mage::helper('amxnotif')->getStockAlert(Mage::getModel('catalog/product')->load($_item->getId()), $isLogged,  1);
                    }
                 ?>
                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                <?php endif; ?>
                </td>
                <?php endif; ?>
            </tr>
        <?php endforeach; ?>
        <?php else: ?>
           <tr>
               <td colspan="<?php if ($_product->isSaleable()): ?>4<?php else : ?>3<?php endif; ?>"><?php echo $this->__('No options of this product are available.') ?></td>
           </tr>
        <?php endif; ?>
        </tbody>
    </table>
    <script type="text/javascript">decorateTable('super-product-table')</script>
</div>
<?php else: ?>
    <div class="grouped-items-wrapper">
    <div class="data-table grouped-items-table  <?php if ($showPrice): ?> grouped-items-table-show-price<?php endif; ?>" id="super-product-table">
        <div class="thead">
            <div class="tr">
                <div class="th col-1"><?php echo $this->__('CODE') ?></div>
                <div class="th col-2"><?php echo $this->__('THRU') ?></div>
                <div class="th col-3"><?php echo $this->__('BUTT') ?></div>
                <div class="th col-4"><?php echo $this->__('CTN') ?></div>
                <div class="th col-5"><?php echo $this->__('KG') ?></div>
                <div class="th col-6"><?php echo $this->__('A') ?></div>
                <div class="th col-7"><?php echo $this->__('B') ?></div>
                <div class="th col-8"><?php echo $this->__('C') ?></div>
                <?php if ($showPrice): ?>
                    <div class="th col-9 col-price"><?php echo $this->__('Price') ?></div>
                    <div class="th col-10 col-qty"><?php echo $this->__('QTY') ?></div>
                <?php else: ?>
                    <div class="th col-9 col-qty"><?php echo $this->__('QTY') ?></div>
                <?php endif; ?>            
            </div>
        </div>
        <div class="tbody">
        <?php if ($_hasAssociatedProducts): ?>
        <?php foreach ($_associatedProducts as $_item): ?>
            <?php $_finalPriceInclTax = $this->helper('tax')->getPrice($_item, $_item->getFinalPrice(), true) ?>
            <div class="tr">
                <div class="td col-1">
                    <?php if($_item->getResource()->getAttribute('elgate_code')->getFrontend()->getValue($_item)): ?>
                        <?php echo $_item->getResource()->getAttribute('elgate_code')->getFrontend()->getValue($_item); ?>
                    <?php else: ?>
                        <span class="hide">-</span>
                    <?php endif; ?>
                    <?php if ($status = $this->getStockStatus($_item)): ?>
                        <div class="amstockstatus_grouped_status" style="font-size: 11px;">(<?php echo $status; ?>)</div>
                    <?php endif; ?>
                </div>
                <div class="td col-2">
                    <?php if($_item->getResource()->getAttribute('elgate_thru')->getFrontend()->getValue($_item)): ?>
                        <?php echo $_item->getResource()->getAttribute('elgate_thru')->getFrontend()->getValue($_item); ?>
                    <?php else: ?>
                        <span class="hide">-</span>
                    <?php endif; ?>
                </div>
                <div class="td col-3">
                    <?php if($_item->getResource()->getAttribute('elgate_butt')->getFrontend()->getValue($_item)): ?>
                        <?php echo $_item->getResource()->getAttribute('elgate_butt')->getFrontend()->getValue($_item); ?>
                    <?php else: ?>
                        <span class="hide">-</span>
                    <?php endif; ?>
                </div>
                <div class="td col-4">
                    <?php if($_item->getResource()->getAttribute('elgate_ctn')->getFrontend()->getValue($_item)): ?>
                        <?php echo $_item->getResource()->getAttribute('elgate_ctn')->getFrontend()->getValue($_item); ?>
                    <?php else: ?>
                        <span class="hide">-</span>
                    <?php endif; ?>
                </div>
                <div class="td col-5">
                    <?php if($_item->getResource()->getAttribute('elgate_kg')->getFrontend()->getValue($_item)): ?>
                        <?php echo $_item->getResource()->getAttribute('elgate_kg')->getFrontend()->getValue($_item); ?>
                    <?php else: ?>
                        <span class="hide">-</span>
                    <?php endif; ?>
                </div>
                <div class="td col-6">
                    <?php if($_item->getResource()->getAttribute('elgate_a')->getFrontend()->getValue($_item)): ?>
                        <?php echo $_item->getResource()->getAttribute('elgate_a')->getFrontend()->getValue($_item); ?>
                    <?php else: ?>
                        <span class="hide">-</span>
                    <?php endif; ?>
                </div>
                <div class="td col-7">
                    <?php if($_item->getResource()->getAttribute('elgate_b')->getFrontend()->getValue($_item)): ?>
                        <?php echo $_item->getResource()->getAttribute('elgate_b')->getFrontend()->getValue($_item); ?>
                    <?php else: ?>
                        <span class="hide">-</span>
                    <?php endif; ?>
                </div>
                <div class="td col-8">d
                    <?php if($_item->getResource()->getAttribute('elgate_c')->getFrontend()->getValue($_item)): ?>
                        <?php echo $_item->getResource()->getAttribute('elgate_c')->getFrontend()->getValue($_item); ?>
                    <?php else: ?>
                        <span class="hide">-</span>
                    <?php endif; ?>
                </div>
                <?php if ($showPrice): ?>
                    <div class="td col-9 col-price">
                        <?php echo $this->getPriceHtml($_item, true) ?>
                    </div>            
                    <?php if ($_product->isSaleable()): ?>
                    <div class="td col-10 col-qty" class="a-center">
                    <?php if ($_item->isSaleable()) : ?>
                        <input type="text" name="super_group[<?php echo $_item->getId() ?>]" maxlength="12" value="<?php echo $_item->getQty()*1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
                    <?php else: ?>                
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                    </div>
                     <?php endif; ?>
                <?php else: ?>
                    <?php if ($_product->isSaleable()): ?>
                    <div class="td col-9 col-qty" class="a-center">
                    <?php if ($_item->isSaleable()) : ?>
                        <input type="text" name="super_group[<?php echo $_item->getId() ?>]" maxlength="12" value="<?php echo $_item->getQty()*1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
                    <?php else: ?>                
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                    </div>
                     <?php endif; ?>
                <?php endif; ?>            
            </div>
        <?php endforeach; ?>
        <?php else: ?>
           <div class="tr">
               <div colspan="<?php if ($_product->isSaleable()): ?>4<?php else : ?>3<?php endif; ?>"><?php echo $this->__('No options of this product are available.') ?></div>
           </div>
        <?php endif; ?>
        </div>
    </div>
    </div>
<?php endif; ?>
<?php else: ?>
<table class="data-table grouped-items-table" id="super-product-table">
    <col />
    <col />
    <col width="1" />
    <thead>
        <tr>
            <th><?php echo $this->__('Product Name') ?></th>
            <?php if ($this->getCanShowProductPrice($_product)): ?>
            <th class="a-right"><?php echo $this->__('Price') ?></th>
            <?php endif; ?>
            <?php if ($_product->isSaleable()): ?>
            <th class="a-center"><?php echo $this->__('Qty') ?></th>
            <?php endif; ?>
        </tr>
    </thead>
    <tbody>
    <?php if ($_hasAssociatedProducts): ?>
    <?php foreach ($_associatedProducts as $_item): ?>
        <?php $_finalPriceInclTax = $this->helper('tax')->getPrice($_item, $_item->getFinalPrice(), true) ?>
        <tr>
            <td>
                <?php echo $this->htmlEscape($_item->getName()) ?>
                <?php if ($status = $this->getStockStatus($_item)): ?>
                    <div class="amstockstatus_grouped_status" style="font-size: 11px;">(<?php echo $status; ?>)</div>
                <?php endif; ?>
            </td>
            <?php if ($this->getCanShowProductPrice($_product)): ?>
            <td class="a-right">
                <?php if ($this->getCanShowProductPrice($_item)): ?>
                <?php echo $this->getPriceHtml($_item, true) ?>
                <?php echo $this->getTierPriceHtml($_item) ?>
                <?php endif; ?>
            </td>
            <?php endif; ?>
            <?php if ($_product->isSaleable()): ?>
            <td class="a-center">
            <?php if ($_item->isSaleable()) : ?>
                <input type="text" name="super_group[<?php echo $_item->getId() ?>]" maxlength="12" value="<?php echo $_item->getQty()*1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
            <?php else: ?>
           <?php 
                if (!$_item->isSaleable()){
                        $isLogged = Mage::helper('customer')->isLoggedIn();
                        echo Mage::helper('amxnotif')->getStockAlert(Mage::getModel('catalog/product')->load($_item->getId()), $isLogged,  1);
                }
             ?>
                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
            <?php endif; ?>
            </td>
            <?php endif; ?>
        </tr>
    <?php endforeach; ?>
    <?php else: ?>
       <tr>
           <td colspan="<?php if ($_product->isSaleable()): ?>4<?php else : ?>3<?php endif; ?>"><?php echo $this->__('No options of this product are available.') ?></td>
       </tr>
    <?php endif; ?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('super-product-table')</script>
<?php endif; ?>

