/* Onlinevisions Custom Skin */

.desktop {display:block; visibility:visible;}
.tablet {display:none; visibility:hidden;}
.mobile {display:none; visibility:hidden;}
.desktop.tablet {display:block; visibility:visible;}
@media (min-width: 1200px) {
  	
}

/* TABLET 1 (LANSCAPE) and Below */
@media (max-width: 1199px) {
	.desktop {display:none; visibility:hidden;}
	.tablet {display:block; visibility:visible;}
	.wide_menu a.level-top span, .fish_menu a.level-top span{padding:15px 14px;}
	.wide_menu li.active a.level-top span, .fish_menu li.active a.level-top span, .wide_menu li.over a.level-top span, .fish_menu li.over a.level-top span, .wide_menu a.level-top:hover span, .fish_menu a.level-top:hover span{padding:15px 14px;}
  .footer li{padding:0 7px 0 1px;}
}
/* TABLET 1 ONLY */
@media (min-width: 980px) and  (max-width: 1199px) {
	.col2-left-layout .row-fluid .col-main[class*="span"] {    margin-left: 2.12766%;}
	.row-fluid .span-msg[class*="span"], .row-fluid .span-search[class*="span"] {    width: 26%;}
	.footer address{font-size:12px;}
  	.footer a{font-size:12px;}
  	.onestepcheckout-index-index input.input-text{    width: 120px;}
}
/* TABLET 2 (POTRAIT) and Below */
@media (max-width: 979px) {

}

/* TABLET 2 ONLY */
@media (min-width: 768px) and (max-width: 979px) {
  	.row-fluid .span-msg[class*="span"] { float:right; }
	.row-fluid .span-search[class*="span"] { clear: both;    float: none;  width: 100%;  }
	.row-fluid .span-search[class*="span"] #search_mini_form { display: block; margin: 10px auto;    width: 250px;}
	.header .form-search {    float: none;    margin: 0;}
	.footer address{font-size:9px;}
 	.footer a{font-size:9px;}
 	.ma-footer-static-container-bottom .footer-static-title h3{font-size:14px;}
 	.ma-footer-static-container-bottom1 .ma-newsletter{margin-left:30px; width:190px;}
 
	.button.sample-pack span span {    width: 155px;}	
	.onestepcheckout-index-index input.input-text{    width: 85px;}
}

/* MINI TABLET and Below */
@media (max-width: 767px) {
	.ma-header-container .toplink .row-fluid .span9[class*="span"] { float:none; }
	.ma-header-container .toplink .row-fluid [class*="span"] {    height: auto;    min-height: auto;}
	.col2-left-layout .row-fluid .col-main[class*="span"] {    float: none;    margin-left: 0;}
	.row-fluid .span-logo[class*="span"], .row-fluid .span-msg[class*="span"], .row-fluid .span-search[class*="span"] {    float: none;    width: 100%;}
	.row-fluid .span-search[class*="span"] #search_mini_form { display: block; margin: 10px auto;    width: 225px;}
	.header .form-search {    float: none;    margin: 0;}
	.footer a{font-size:12px;}
	  
	.category-description-container, .category-shortdescription-container {    width: auto;}
	.sample-pack-container { margin-bottom:10px; }
	  


}

/* Mobile and Below */
@media (max-width: 480px) {
	.desktop {display:none; visibility:hidden;}
	.tablet {display:none; visibility:hidden;}
	.mobile {display:block; visibility:visible;}
	
	
.category-title-wrapper {
    margin-top: 0;
    position: relative;
}
.category-title-container {
    display: block;
    height: auto;
}
}