<?php
/**
* @author Amasty Team
* @copyright Copyright (c) 2012 Amasty (http://www.amasty.com)
* @package Amasty_Xnotif
*/   
?>
<div style="margin-left: 9px; margin-bottom: 5px;"> 
    <div style="margin-bottom: 5px;"> <label style="color: #2F2F2F;font-weight: bold;" ><?php echo $this->__('Subscribe to back in stock notification'); ?> </label></div> 
     <form method="get" action="<?php echo $this->escapeHtml(Mage::helper('amxnotif')->getEmailUrl()) ?>" id="form-guest-email">
        <input type="text" name="guest_email" id="guest_email" onKeyPress="return checkIt(event, 'form-guest-email')" class="input-text validate-email required-entry" size="33" />
        <input type="hidden" name="product_id" value="<?php echo Mage::registry('product')->getId()?>" />
        <input type="hidden" name="type" value="email" />
        <input type="hidden" name="parent_id" value="<?php echo Mage::registry('par_product_id')?>" />
        <input type="hidden" name="<?php echo Mage_Core_Controller_Front_Action::PARAM_NAME_URL_ENCODED ?>" value="<?php echo Mage::helper('amxnotif')->getEncodedUrl()?>" />
        <button type="button" class="button btn-cart amcart-ignore" id="button-alert-email"  onclick="return send_email('form-guest-email');" title="<?php echo $this->__('Subscribe'); ?>"><span><span><?php echo $this->__('Subscribe'); ?></span></span></button>
    </form>  
</div>    
 <!-- Google Code for Stock notification Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 982297968;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "JJ-VCKDP-iMQ8Nqy1AM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/982297968/?label=JJ-VCKDP-iMQ8Nqy1AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
