.albums-side-col .content-header {
	padding: 0;
}

.albums-side-col .content-header h3 {
	float: none;
}

.albums-side-col .content-header button {
	margin: 5px 0 0;
}

.albums-side-col .switcher {
	margin: 10px 20px 0 0;
}

.albums-side-col .tree-actions {
	text-align: center;
	margin: 10px 20px 10px 0;
}

.categories-side-col .tree-holder {
	margin-right: 20px;
}

.active-album a span {
}

.no-active-album a span {
	color: #aaa !important;
}

.fieldset-wide .form-list td.value input.input-text {
	width: 50% !important;
}

#album_tab_content div.collapseable, #photo_edit_form div.collapseable {
	margin-top: 1px;
}

.columns  #album_tab_content .form-list td.value, .columns #photo_edit_form .form-list td.value {
	width: auto;
}