<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Points
 * @version    1.7.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
$summaryForCustomer = $this->getSummaryForCustomer();
$textForPoints = Mage::helper('points/config')->getPointUnitName();
$defaultValue = Mage::app()->getRequest()->getParam('payment[points_amount]');
?>

<div class="onestepcheckout-payment-methods">
    <dl class="sp-methods" id="checkout-payment-method-load">
        <?php if ($this->pointsSectionAvailable()): ?>
            <dt>
                <input type="checkbox" name="payment[use_points]" id="use_points" />
                <label for="use_points"><?php echo $this->__('Use my %s', $textForPoints) ?></label>
            </dt>
            <dd id="container_payment_method_use_points" class="payment-method" style="display: none;">
                <input type="text" name="payment[points_amount]" value ="<?php echo $defaultValue; ?>" id="points_amount" onchange="pointsAmountChanged()" />
                <label for="points_amount"><?php echo Mage::helper('points')->__('of %s %s (%s) available', $summaryForCustomer->getPoints(), $textForPoints, $this->getMoneyForPoints()) ?></label>
            </dd>
        <?php endif; ?>
        <?php $i=0;?>
        <?php foreach ($this->getMethods() as $_method): $_code = $_method->getCode() ?>
            <?php $i++;?>
            <?php if($i != count($this->getMethods())):?>
                <style type="text/css">
                    #advice-validate-one-required-by-name-p_method_<?php echo $_code ?>{
                        display: none !important;
                    }
                </style>
            <?php endif;?>
            <dt>
                <?php if( sizeof($this->getMethods()) > 1 ): ?>
                    <input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" title="<?php echo $this->htmlEscape($_method->getTitle()) ?>" onclick="save_shipping_method(shipping_method_url);" <?php if($this->getSelectedMethodCode()==$_code): ?> checked="checked"<?php endif; ?> class="radio validate-one-required-by-name" />
                <?php else: ?>
                    <span class="no-display"><input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" checked="checked" class="radio validate-one-required-by-name " onclick="save_shipping_method(shipping_method_url);" /></span>
                <?php endif; ?>
                <label for="p_method_<?php echo $_code ?>"><?php echo $this->getMethodTitle($_method) ?> <?php echo $this->getMethodLabelAfterHtml($_method) ?></label>
            </dt>
            <?php if ($html = $this->getPaymentMethodFormHtml($_method)): ?>
                <dd id="container_payment_method_<?php echo $_code; ?>" class="payment-method">
                    <?php echo $html; ?>
                </dd>
            <?php endif; ?>
        <?php endforeach; ?>
    </dl>
</div>
<div class="tool-tip" id="payment-tool-tip" style="display:none;">
    <div class="btn-close"><a href="#" id="payment-tool-tip-close" title="<?php echo $this->__('Close') ?>"><?php echo $this->__('Close') ?></a></div>
    <div class="tool-tip-content"><img src="<?php echo $this->getSkinUrl('images/cvv.gif') ?>" alt="<?php echo $this->__('Card Verification Number Visual Reference') ?>" title="<?php echo $this->__('Card Verification Number Visual Reference') ?>" /></div>
</div>
<script type="text/javascript">
    //<![CDATA[
    $$('#checkout-payment-method-load dt input').invoke('observe', 'click', function(e) {
        var element = e.element();
        var name = 'payment_form_' + element.value;

        /* Hide all other forms */
        $$('dd.payment-method').invoke('hide');

        if(element.checked) {
            var form = $(name);
            var container = $('container_payment_method_' + element.value);

            if(element !== null && container !== null)    {
                container.show();
                $(name).show();
            }
        }
        if($('use_points').checked){
            $('container_payment_method_use_points').show();
        }
    });
    jQuery(document).ready(function(){
        setCheckboxPropertyValue(jQuery('#use_points'));
        jQuery('#use_points').on('change', function(e){
            setCheckboxPropertyValue(jQuery(this));
        });
    });

    setCheckboxPropertyValue = function($el){
        if($el.prop('checked') == true){
            $el.prop('value', 'on');
        } else {
            $el.prop('value', '');
        }
    }
    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
    function toggleToolTip(event){
        if($('payment-tool-tip')){
            $('payment-tool-tip').setStyle({
                top: (Event.pointerY(event)-560)+'px'//,
                //left: (Event.pointerX(event)+100)+'px'
            })
            $('payment-tool-tip').toggle();
        }
        Event.stop(event);
    }
    if($('payment-tool-tip-close')){
        Event.observe($('payment-tool-tip-close'), 'click', toggleToolTip);
    }

    initWhatIsCvvListeners();
    //]]>
</script>
<?php if ($this->pointsSectionAvailable()): ?>
    <script type="text/javascript">
        //<![CDATA[
        var customerPoints = <?php echo $summaryForCustomer->getPoints() ?>;
        var neededPoints = <?php echo $this->getNeededPoints() ?>;
        var limitedPoints = <?php echo $this->getLimitedPoints() ?>;

        $('use_points').disabled = $('points_amount').disabled = false;
        $('points_amount').value = Math.abs(Math.min(customerPoints, neededPoints, limitedPoints)).toFixed(0);

        var pointsAmountChanged = function () {
            var points_amount = $('points_amount').value;
            if (isNaN(points_amount)) points_amount = 0;
            points_amount = Math.min(Math.abs(points_amount), customerPoints, neededPoints, limitedPoints);
            $('points_amount').value = Math.abs(points_amount).toFixed(0);
        };

        Event.observe(window, 'load', function()
        {
            if (typeof payment != 'undefined') {
                payment.copySave = payment.save;
                payment.anyPaymentMethodChecked = function () {
                    var methods = document.getElementsByName('payment[method]');
                    for (var i = 0; i < methods.length; i++) {
                        if (methods[i].checked) {
                            return true;
                        }
                    }
                    return false;
                };

                payment.save = function() {
                    var quoteBaseGrandTotalInPoints = <?php echo $this->getBaseGrandTotalInPoints() ?>;
                    if (quoteBaseGrandTotalInPoints > $('points_amount').value
                        && !payment.anyPaymentMethodChecked())      {
                        alert(Translator.translate('Please specify payment method.'));
                        return false;
                    } else  {
                        return payment.copySave();
                    }
                }
            }
        });
        //]]>
    </script>
<?php endif; ?>












