<?php
$processor = Mage::helper('cms')->getBlockTemplateProcessor();
$blocks = Mage::getResourceModel('cms/block_collection');
$blocks->addFieldToFilter('is_active', 1)->addFieldToFilter('identifier', array('like' => 'home_message'));
$home_message = false;
if(count($blocks) == 1) $home_message = $processor->filter($blocks->getFirstItem()->getContent());
if(empty($home_message)) $home_message = false;
?>
<script type="text/javascript" src="/skin/frontend/tfs/default/js/grids.min.js"></script>
<script type="text/javascript" src="/skin/frontend/tfs/default/js/jquery.hoverIntent.js"></script>
<?php if($home_message != false): ?>
<script type="text/javascript" src="/skin/frontend/tfs/default/js/jquery.amaran.min.js"></script>
<div id="home-message" style="display: none;">
	<?=$home_message; ?>
</div>
<?php endif; ?>
<div id="boxes" class="container-fluid">
	<div class="row text-center">
		<div class="col-sm-6 background left" style="background-image: url(/media/wysiwyg/home-box-left.jpg);">
			<?php
				$blocks = Mage::getResourceModel('cms/block_collection');
				$blocks->addFieldToFilter('is_active', 1)->addFieldToFilter('identifier', array('like' => 'home_box_left'));
				if(count($blocks) == 1) echo $processor->filter($blocks->getFirstItem()->getContent());
			?>
		</div>
		<div class="col-sm-6 right">
			<div class="row">
				<div class="background col-xs-6" style="background-image: url(/media/wysiwyg/home-box-rural.jpg);">
					<?php
						$blocks = Mage::getResourceModel('cms/block_collection');
						$blocks->addFieldToFilter('is_active', 1)->addFieldToFilter('identifier', array('like' => 'home_box_rural'));
						if(count($blocks) == 1) echo $processor->filter($blocks->getFirstItem()->getContent());
					?>
				</div>
				<div class="background col-xs-6" style="background-image: url(/media/wysiwyg/home-box-commercial.jpg);">
					<?php
						$blocks = Mage::getResourceModel('cms/block_collection');
						$blocks->addFieldToFilter('is_active', 1)->addFieldToFilter('identifier', array('like' => 'home_box_commercial'));
						if(count($blocks) == 1) echo $processor->filter($blocks->getFirstItem()->getContent());
					?>
				</div>
			</div>
			<div class="row">
				<div class="background col-xs-6" style="background-image: url(/media/wysiwyg/home-box-fence-fittings.jpg);">
					<?php
						$blocks = Mage::getResourceModel('cms/block_collection');
						$blocks->addFieldToFilter('is_active', 1)->addFieldToFilter('identifier', array('like' => 'home_box_fence_fittings'));
						if(count($blocks) == 1) echo $processor->filter($blocks->getFirstItem()->getContent());
					?>
				</div>
				<div class="background col-xs-6" style="background-image: url(/media/wysiwyg/home-box-residential.jpg);">
					<?php
						$blocks = Mage::getResourceModel('cms/block_collection');
						$blocks->addFieldToFilter('is_active', 1)->addFieldToFilter('identifier', array('like' => 'home_box_residential'));
						if(count($blocks) == 1) echo $processor->filter($blocks->getFirstItem()->getContent());
					?>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="cta-strip" class="container">
	<div class="row">
		<div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<div class="row">
				<div class="col-xs-6 col-sm-3">
					<a href="/index.php/webforms/index/index/id/8/" style="background-image: url(/skin/frontend/tfs/default/images/media/cta-01.png);">
						<strong>No Obligation free quote</strong>
					</a>
				</div>
				<div class="col-xs-6 col-sm-3">
					<a href="/samples-request" style="background-image: url(/skin/frontend/tfs/default/images/media/cta-02.png);">
						<strong>Free Sample Pack</strong>
						<span>click for details</span>
					</a>
				</div>
				<div class="clearfix visible-xs-block"></div>
				<div class="col-xs-6 col-sm-3">
					<a href="/trade-enquiries" style="background-image: url(/skin/frontend/tfs/default/images/media/cta-03.png);">
						<strong>Trade Enquiries</strong>
						<span>click for details</span>
					</a>
				</div>
				<div class="col-xs-6 col-sm-3">
					<a href="/delivery" style="background-image: url(/skin/frontend/tfs/default/images/media/cta-04.png);">
						<strong>Next Day Delivery*</strong>
						<span>across Australia</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="split" class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 left">
						<div class="row">
							<div class="col-sm-11">
								<?php
									$blocks = Mage::getResourceModel('cms/block_collection');
									$blocks->addFieldToFilter('is_active', 1)->addFieldToFilter('identifier', array('like' => 'home_split_left'));
									if(count($blocks) == 1) echo $processor->filter($blocks->getFirstItem()->getContent());
								?>
							</div>
						</div>
					</div>
					<div class="col-sm-6 right">
						<div class="row">
							<div class="col-sm-11 col-sm-offset-1">
								<?php
									$blocks = Mage::getResourceModel('cms/block_collection');
									$blocks->addFieldToFilter('is_active', 1)->addFieldToFilter('identifier', array('like' => 'home_split_right'));
									if(count($blocks) == 1) echo $processor->filter($blocks->getFirstItem()->getContent());
								?>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="brands" class="container text-center">
	<div class="row">
		<div class="col-xs-12">
			<?php
				$blocks = Mage::getResourceModel('cms/block_collection');
				$blocks->addFieldToFilter('is_active', 1)->addFieldToFilter('identifier', array('like' => 'home_brands'));
				if(count($blocks) == 1) echo $processor->filter($blocks->getFirstItem()->getContent());
			?>
		</div>
	</div>
</div>
<?php
	$blocks = Mage::getResourceModel('cms/block_collection');
	$blocks->addFieldToFilter('is_active', 1)->addFieldToFilter('identifier', array('like' => 'testimonial_%'));
?>
<?php if(count($blocks) > 0): ?>
<div id="testimonials" class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<i class="fa fa-quote-left fa-2x fa-pull-left"></i>
						<h1 class="text-center">What Customers are saying about<br /> The Fencing Store</h1>
						<div id="testimonial-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
							<ol class="carousel-indicators">
								<?php $i=0; foreach($blocks as $block): ?>
								<li data-target="#testimonial-carousel" data-slide-to="<?=$i;?>"<?=($i==0 ? ' class="active"' : '');?>></li>
								<?php $i++; endforeach; ?>
							</ol>
							<div class="carousel-inner" role="listbox">
							    <?php $i=0; foreach($blocks as $block): ?>
							    <div class="item<?=($i == 0 ? ' active' : '');?>">
							        <?=$processor->filter($block->getContent()); ?>
							    </div>
							    <?php $i++; endforeach; ?>
							</div>
							<?php if(false): ?>
							<a class="left carousel-control" href="#testimonial-carousel" role="button" data-slide="prev">
							    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							    <span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#testimonial-carousel" role="button" data-slide="next">
							    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							    <span class="sr-only">Next</span>
							</a>
							<?php endif; ?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<?php endif; ?>
<script type="text/javascript">
	(function($) {
		$(document).ready(function() {
			$('#boxes > .row > div').responsiveEqualHeightGrid();
			$('h2', '#boxes').each(function() {
				$(this).css('lineHeight',$(this).height()+'px');
			});
			var animate_speed = 500;
			var easing = 'easeOutExpo';
			$('#boxes').hoverIntent({
				over: function() {
					var me = $(this);
					var h2 = me.find('h2');
					h2.css('lineHeight', h2.height()+'px').animate({
						top: '0'
					}, animate_speed, easing);
					var list = me.children('ul');
					if(list.length) list.wrap('<div />');
					me.find('div').animate({
						top: '20%'
					}, animate_speed, easing, function() {
						var popup = $(this);
						var my_height = popup.height();
						var list_height = popup.find('ul').height();
						if(list_height > (my_height - 20)) popup.css('overflowY', 'scroll');
						else popup.css('overflowY', 'hidden');
						me.addClass('open');
					});
				},
				out: function() {
					var me = $(this);
					me.find('h2').animate({
						top: '80%'
					}, animate_speed, easing);
					me.find('div').animate({
						top: '100%'
					}, animate_speed, easing);
					me.removeClass('open');
				},
				timeout: 1000,
				selector: '.background'
			});
			<?php if($home_message != false): ?>
			$.amaran({
				content: {
					title: 'Kwikclamp Message',
					message: $('#home-message').html()
				},
				sticky: true,
				closeOnClick: true,
				closeButton: true,
				position: 'bottom left',
				inEffect: 'fadeIn',
				outEffect: 'fadeOut'
			});
			<?php endif; ?>
    	});
    })(jQuery);
    jQuery.easing.easeOutExpo = function (x, t, b, c, d) {
		return (t==d) ? b+c : c * (-Math.pow(2, -10 * t/d) + 1) + b;
	}
</script>
