<?php
    $helper = Mage::helper('local');
?>
<div class="home-blocks-white home-blocks-wide">
    <h3><?php echo $helper->getStaticBlockTitle('home_banner_top') ?></h3>
    <?php echo $helper->getStaticBlockHtml('home_banner_top') ?>
</div>
<div class="home-blocks-green home-blocks-fields">
    <div class="home-blocks-field">
        <h3><?php echo $helper->getStaticBlockTitle('home_banner_top_left') ?></h3>
        <?php echo $helper->getStaticBlockHtml('home_banner_top_left') ?>
    </div>
    <div class="home-blocks-field">
        <h3><?php echo $helper->getStaticBlockTitle('home_banner_top_right') ?></h3>
        <?php echo $helper->getStaticBlockHtml('home_banner_top_right') ?>
    </div>
</div>
<div class="home-blocks-white home-blocks-fields">
    <div class="home-blocks-field">
        <h3><?php echo $helper->getStaticBlockTitle('home_banner_top_left2') ?></h3>
        <?php echo $helper->getStaticBlockHtml('home_banner_top_left2') ?>
    </div>
    <div class="home-blocks-field home-blocks-gray">
        <h3><?php echo $helper->getStaticBlockTitle('home_banner_top_right2') ?></h3>
        <?php echo $helper->getStaticBlockHtml('home_banner_top_right2') ?>
    </div>
</div>


