<?php
    $processor = Mage::helper('cms')->getBlockTemplateProcessor();
    $blocks = Mage::getResourceModel('cms/block_collection');
    $blocks
        ->addFieldToFilter('is_active', 1)
        ->addFieldToFilter('identifier', array('like' => 'home_slideshow_%'));
?>
<div id="home_slideshow" class="carousel slide" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
        <?php $i=0; foreach($blocks as $block): ?>
        <li data-target="#home_slideshow" data-slide-to="<?=$i;?>"<?=($i==0 ? ' class="active"' : '');?>></li>
        <?php $i++; endforeach; ?>
    </ol>
    <div class="carousel-inner" role="listbox">
        <?php $i=0; foreach($blocks as $block): ?>
        <div class="item<?=($i == 0 ? ' active' : '');?>">
            <?=$processor->filter($block->getContent()); ?>
        </div>
        <?php $i++; endforeach; ?>
    </div>
    <a class="left carousel-control" href="#home_slideshow" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#home_slideshow" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>