<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Points
 * @version    1.7.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php $_creditmemo = $this->getCreditmemo() ?>
<?php $_order = $this->getOrder() ?>
<?php if ($_creditmemo && $_order): ?>
    <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border:1px solid #bebcb7; background:#f8f7f5;">
        <thead>
            <tr>
                <th align="left" bgcolor="#d9e5ee" style="padding:3px 9px"><?php echo $this->__('Item') ?></th>
                <th align="left" bgcolor="#d9e5ee" style="padding:3px 9px"><?php echo $this->__('Sku') ?></th>
                <th align="center" bgcolor="#d9e5ee" style="padding:3px 9px"><?php echo $this->__('Qty') ?></th>
                <th align="right" bgcolor="#d9e5ee" style="padding:3px 9px"><?php echo $this->__('Subtotal') ?></th>
            </tr>
        </thead>

        <?php $i = 0;
        foreach ($_creditmemo->getAllItems() as $_item): ?>
                <?php if ($_item->getOrderItem()->getParentItem())
                    continue; else
                    $i++; ?>
            <tbody<?php echo $i % 2 ? ' bgcolor="#eeeded"' : '' ?>>
        <?php echo $this->getItemHtml($_item) ?>
            </tbody>
    <?php endforeach; ?>

        <tfoot>
            <tr>
                <td colspan="3" align="right" style="padding:3px 9px"><?php echo $this->__('Subtotal') ?></td>
                <td align="right" style="padding:3px 9px"><?php echo $_order->formatPrice($_creditmemo->getSubtotal()) ?></td>
            </tr>
    <?php if ($_creditmemo->getDiscountAmount() > 0): ?>
                <tr>
                    <td colspan="3" align="right" style="padding:3px 9px"><?php echo $this->__('Discount%s', $_order->getCouponCode() ? ' (' . $_order->getCouponCode() . ')' : '') ?></td>
                    <td align="right" style="padding:3px 9px"><?php echo $_order->formatPrice(0.00 - $_creditmemo->getDiscountAmount()) ?></td>
                </tr>
    <?php endif; ?>
    <?php if ($_creditmemo->getShippingAmount()): ?>
                <tr>
                    <td colspan="3" align="right" style="padding:3px 9px"><?php echo $this->__('Shipping & Handling') ?></td>
                    <td align="right" style="padding:3px 9px"><?php echo $_order->formatPrice($_creditmemo->getShippingAmount()) ?></td>
                </tr>
    <?php endif; ?>
    <?php if (($_creditmemo->getTaxAmount() > 0) || (Mage::helper('tax')->displayZeroTax())): ?>
                <tr>
                    <td colspan="3" align="right" style="padding:3px 9px"><?php echo $this->__('Tax') ?></td>
                    <td align="right" style="padding:3px 9px"><?php echo $_order->formatPrice($_creditmemo->getTaxAmount()) ?></td>
                </tr>
    <?php endif; ?>
    <?php if ((float) $_creditmemo->getAdjustmentPositive()): ?>
                <tr>
                    <td colspan="3" align="right" style="padding:3px 9px"><?php echo $this->__('Adjustment Refund') ?></td>
                    <td align="right" style="padding:3px 9px"><?php echo $_order->formatPrice($_creditmemo->getAdjustmentPositive()) ?></td>
                </tr>
    <?php endif; ?>

    <?php if ((float) $_creditmemo->getAdjustmentNegative()): ?>
                <tr>
                    <td colspan="3" align="right" style="padding:3px 9px"><?php echo $this->__('Adjustment Fee') ?></td>
                    <td align="right" style="padding:3px 9px"><?php echo $_order->formatPrice($_creditmemo->getAdjustmentNegative()) ?></td>
                </tr>
    <?php endif; ?>
    <?php if ($_order->getMoneyForPoints()): ?>
                <tr>
                    <td colspan="3" align="right" style="padding:3px 9px"><?php echo Mage::helper('points/config')->getPointUnitName() ?></td>
                    <td align="right" style="padding:3px 9px"><?php echo $_order->formatPrice($_order->getMoneyForPoints()) ?></td>
                </tr>
    <?php endif; ?>
            <tr bgcolor="#DEE5E8">
                <td colspan="3" align="right" style="padding:3px 9px"><strong><big><?php echo $this->__('Grand Total') ?></big></strong></td>
                <td align="right" style="padding:6px 9px"><strong><big><?php echo $_order->formatPrice($_creditmemo->getGrandTotal()) ?></big></strong></td>
            </tr>
        </tfoot>
    </table>
<?php endif; ?>