<div class="supplier_instructional supplier_small_block">
    <div class="title_style"><span class="supplier_block_title"><?php echo $this->__('Shipping Instructional') ?></span></div>
    <div class="inner">
        <div class="std">
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('supplier_shipping_instructional')->toHtml(); ?>
        </div>
    </div>
</div>
