<div class="supplier_view_left">
    <ul>
    	<li><a href="<?php echo Mage::getUrl('supplier/order/view') . 'order_id/' . $this->getOrderId(); ?>"><?php echo $this->__('Order'); ?></a></li>
        <li class="active"><?php echo $this->__('Shipment History'); ?></li>
        <?php if($this->canShip($this->getOrderId())): ?>
            <li><a href="<?php echo Mage::getUrl('supplier/shipping/ship/' ) . 'order_id/' . $this->getOrderId()  ?>"><?php echo $this->__('New Shipment'); ?></a></li>
        <?php endif; ?>
    </ul>
</div>
<div class="supplier_view_main">
	<h1 class="supplier_page_title"><?php echo $this->__('Shipments'); ?></h1>
	<?php $shipments  = $this->getShipments($this->getOrderId()); ?>
	<?php if($shipments):?>
	<div class="supplier_list">
	    	<table id="shipments" style="width: 100%;" class="supplier_order_list st">
	            <tr>
	                <th><?php echo $this->__('Shipping Number'); ?></th>
	                <th><?php echo $this->__('Date'); ?></th>
	                <th><?php echo $this->__('Tracking'); ?></th>
	                <th><?php echo $this->__('Action'); ?></th>
	            </tr>
		<?php $i = 0; foreach ($shipments as $shipment): $i++; ?>
	            <tr class="position  <?php if(($i%2) == 0){?>even<?}else{?>odd<?php } ?>">
	                <td><?php echo $shipment['increment_id']; ?></td>
	                <td><?php echo $shipment['created_at']; ?></td>
	                <td>
                        <?php $trackings = $this->getTrackings($shipment['entity_id']); ?>
                         <?php if($trackings): ?>
                             <a href="<?php echo Mage::getUrl('supplier/shipping/view/') . 'shipping_id/' . $shipment['entity_id']; ?>" >
                                <?php $i=0; foreach($trackings as $tracking): $i++ ?>
                                    <?php echo $tracking['track_number']; ?><?php if (count($trackings) < $i) echo ', '?>
                                <?php endforeach; ?>
                             </a>
                        <?php endif;?>
                    </td>
	                <td><a href="<?php echo Mage::getUrl('supplier/shipping/view/') . 'shipping_id/' . $shipment['entity_id']; ?>"><?php echo $this->__('View'); ?></a></td>
	                <td><a href="<?php echo Mage::getUrl('supplier/shipping/email/') . 'shipping_id/' . $shipment['entity_id']; ?>"><?php echo $this->__('Email'); ?></a></td>
	            </tr>

	    <?php endforeach; ?>
		</table>
	</div>
	<?php else: ?>
	<?php echo $this->__('No Shipments'); ?>
	<?php endif; ?>
</div>

<script>
jQuery(document).ready(function(){						       
	jQuery('tr td .tracking').click(function() {
		jQuery(this).parent().parent().next().show();
		return false;
	});
});
</script>