<?php if ($_category = Mage::registry('current_category')): ?>
    <?php $_helper    = $this->helper('catalog/output'); ?>
    <?php if($_customCategoryPageTitle = Mage::getResourceModel('catalog/category')->getAttributeRawValue($_category->getId(), "custom_category_category_links", Mage::app()->getStore()->getId())): ?>
        <div class="block block-layered-nav">
            <div class="block-title">
                <strong><span><?php $this->__('You may also like'); ?></span></strong>
            </div>
            <div class="block-content">
                <dl>
                    <dt class=""><?php echo $this->__('You may also like'); ?></dt>
                    <dd>      
                        <?php echo $_helper->categoryAttribute($_category, $_customCategoryPageTitle, 'custom_category_category_links') ?>
                    </dd>
                </dl>
                <script type="text/javascript">decorateDataList('narrow-by-list2')</script>
            </div>
        </div>
    <?php endif; ?>
<?php endif; ?>