<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Points
 * @version    1.7.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php $_order = $this->getOrder() ?>
<h3><?php echo $this->__('Order #%s', $_order->getRealOrderId()) ?></h3>
<p><?php echo $this->__('Order Date: %s', $this->formatDate($_order->getCreatedAtStoreDate(), 'long')) ?></p>
<?php $_invoice = $this->getInvoice() ?>
<?php if ($_invoice): ?>
    <?php $_invoices = array($_invoice); ?>
<?php else: ?>
    <?php $_invoices = $_order->getInvoiceCollection() ?>
<?php endif; ?>
<?php foreach ($_invoices as $_invoice): ?>
    <div class="divider"></div>
    <div class="head">
        <h3><?php echo $this->__('Invoice #%s', $_invoice->getIncrementId()) ?></h3>
        <!--<a href="#"><?php echo $this->__('Print Invoice') ?></a>-->
    </div>
    <div class="col2-set">
        <div class="col-1">
            <?php if (!$_order->getIsVirtual()): ?>
                <h4><?php echo $this->__('Shipping Address') ?></h4>
                <?php $_shipping = $_invoice->getShippingAddress() ?>
                <address><?php echo $_shipping->format('html') ?></address>
            </div>
            <div class="col-2">
            <?php endif; ?>
            <h4><?php echo $this->__('Billing Address') ?></h4>
            <?php $_billing = $_invoice->getbillingAddress() ?>
            <address><?php echo $_order->getBillingAddress()->format('html') ?></address>
        </div>
        <?php if (!$_order->getIsVirtual()): ?>
        </div>
        <br />
        <div class="col2-set">
            <div class="col-1">
                <h4><?php echo $this->__('Shipping Method') ?></h4>
                <?php echo $_order->getShippingDescription() ?>
            </div>
        <?php endif; ?>
        <div class="col-2">
            <h4><?php echo $this->__('Payment Method') ?></h4>
            <?php echo $this->getPaymentInfoHtml() ?>
        </div>
    </div>
    <br />
    <h4><?php echo $this->__('Items Invoiced') ?></h4>
    <table cellspacing="0" class="data-table print" id="my-invoice-table-<?php echo $_invoice->getId(); ?>">
        <col />
        <col width="25%" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <thead>
            <tr>
                <th><?php echo $this->__('Product Name') ?></th>
                <th><?php echo $this->__('SKU') ?></th>
                <th class="a-right"><?php echo $this->__('Price') ?></th>
                <th class="a-center"><span class="nobr"><?php echo $this->__('Qty Invoiced') ?></span></th>
                <th class="a-right last"><?php echo $this->__('Subtotal') ?></th>
            </tr>
        </thead>
        <?php $colspan = 4; ?>
        <tfoot>
            <?php if ($_invoice->getSubtotal() != $_invoice->getGrandTotal()): ?>
                <tr>
                    <td colspan="<?php echo $colspan; ?>" class="a-right"><?php echo $this->__('Order Subtotal') ?></td>
                    <td class="last a-right"><?php echo $_order->formatPrice($_invoice->getSubtotal()) ?></td>
                </tr>
            <?php endif; ?>
            <?php if ($_invoice->getDiscountAmount() > 0): ?>
                <tr>
                    <td colspan="<?php echo $colspan; ?>" class="a-right"><?php echo $this->__('Discount :') ?></td>
                    <td class="last a-right"><?php echo $_order->formatPrice(0.00 - $_invoice->getDiscountAmount()) ?></td>
                </tr>
            <?php endif; ?>
            <?php if ($_invoice->getTaxAmount() > 0): ?>
                <tr>
                    <td colspan="<?php echo $colspan; ?>" class="a-right"><?php echo $this->__('Tax') ?></td>
                    <td class="last a-right"><?php echo $_order->formatPrice($_invoice->getTaxAmount()) ?></td>
                </tr>
            <?php endif; ?>
            <?php if ($_invoice->getShippingAmount() * 1 || $_invoice->getShippingDescription()): ?>
                <tr>
                    <td colspan="<?php echo $colspan; ?>" class="a-right"><?php echo $this->__('Shipping & Handling') ?></td>
                    <td class="last a-right"><?php echo $_order->formatPrice($_invoice->getShippingAmount()) ?></td>
                </tr>
            <?php endif; ?>
            <?php if ($_order->getMoneyForPoints()): ?>
                <tr>
                    <td colspan="<?php echo $colspan; ?>" class="a-right"><?php echo Mage::helper('points/config')->getPointUnitName() ?></td>
                    <td class="last a-right"><?php echo $_order->formatPrice($_order->getMoneyForPoints()) ?></td>
                </tr>
            <?php endif; ?>
            <tr>
                <td colspan="<?php echo $colspan; ?>" class="a-right"><?php echo $this->__('Grand Total') ?></td>
                <td class="last a-right"><?php echo $_order->formatPrice($_invoice->getGrandTotal()) ?></td>
            </tr>
        </tfoot>
        <?php $_items = $_invoice->getItemsCollection(); ?>
        <?php $_count = $_items->count(); ?>
        <?php foreach ($_items as $_item): ?>
            <?php if ($_item->getOrderItem()->getParentItem())
                continue; ?>
            <tbody>
            <?php echo $this->getItemHtml($_item) ?>
            </tbody>
    <?php endforeach; ?>
    </table>
    <script type="text/javascript">decorateTable('my-invoice-table-<?php echo $_invoice->getId(); ?>', {'tbody' : ['odd', 'even'], 'tbody tr' : ['first', 'last']})</script>
<?php endforeach; ?>
<script type="text/javascript">window.print();</script>