<?php
/**
 * MagePlace Gallery Extension
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2014 Mageplace. (http://www.mageplace.com)
 * @license     http://www.mageplace.com/disclaimer.html
 */

/**
 * @var Mageplace_Gallery_Block_Photo_List $this
 */

$_curAlbum = $this->getCurrentAlbum();
$_photoCollection = $this->getPhotos();
$_photoCount = $_photoCollection->count();
$_helper = $this->helper('mpgallery');
$_urlHelper = $this->helper('mpgallery/url');
$_mode = $this->getMode();
?>

<?php echo $this->getChildHtml('top'); ?>

<?php if (!$_photoCount): ?>
    <?php if ($this->canDisplayEmptyMessage()) : ?>
        <p class="note-msg"><?php echo $this->__('There are no photos matching the selection.') ?></p>
    <?php endif; ?>
<?php else: ?>
    <div class="gallery-photos">
    <?php if ($this->canDisplayTopToolbar()) : ?>
        <?php echo $this->getToolbarHtml(); ?>
    <?php endif; ?>

    <?php if ($_mode == 'list'): ?>
        <?php $_iterator = 0; ?>
        <ol class="photos-list" id="photos-list">
            <?php /** @var Mageplace_Gallery_Model_Photo $_photo */ ?>
            <?php foreach ($_photoCollection as $_photo): ?>
                <?php $_photoNameStripped = $this->stripTags($_photo->getName(), null, true); ?>
                <li class="item<?php if (++$_iterator == $_photoCount): ?> last<?php endif; ?>">
                    <a href="<?php echo $_urlHelper->getPhotoUrl($_photo); ?>"
                       title="<?php echo $_photoNameStripped; ?>"
                       id="photo-list-image-<?php echo $_photo->getUrlKey(); ?>"
                       class="photo-image"><img
                            src="<?php echo $this->getImage($_photo, 'small_image', $this->getAlbumSizes()->getPhotoListThumbSize()); ?>"
                            alt="<?php echo $_photoNameStripped; ?>"/></a>

                    <div class="photo-info">
                        <div class="f-fix">
                            <?php if ($this->getDisplayName()) : ?>
                                <h2 class="photo-name">
                                    <a href="<?php echo $_urlHelper->getPhotoUrl($_photo); ?>"
                                       title="<?php echo $_photoNameStripped; ?>">
                                        <?php echo $_photo->getName(); ?>
                                    </a>
                                </h2>
                            <?php endif; ?>

                            <?php if ($this->getDisplayRate()) : ?>
                                <div class="ratings">
                                    <div class="rating-box">
                                        <div class="rating"
                                             style="width:<?php echo $this->getPhotoAvgRate($_photo); ?>%"></div>
                                    </div>
                                </div>
                            <?php endif; ?>

                            <?php if ($this->getDisplayUpdateDate()) : ?>
                                <div class="update-date">
                                    <?php echo $this->formatDate($_photo->getUpdateDate(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM); ?>
                                </div>
                            <?php endif; ?>

                            <?php /*if ($_product->getRatingSummary()): ?>
                                    <?php echo $this->getReviewsSummaryHtml($_product) ?>
                                <?php endif;*/
                            ?>

                            <?php if ($this->getDisplayShortDescription()) : ?>
                                <div class="desc std">
                                    <?php echo $_photo->getShortDescription(); ?>
                                </div>
                            <?php endif; ?>

                            <?php if ($this->getDisplayShowLink()) : ?>
                                <div class="actions">
                                    <a href="<?php echo $_urlHelper->getPhotoUrl($_photo); ?>"
                                       title="<?php echo $_photoNameStripped; ?>"
                                       class="link-learn"><?php echo $this->__('Show'); ?></a>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </li>
            <?php endforeach; ?>
        </ol>

        <script type="text/javascript">
            decorateList('photos-list', 'none-recursive')
        </script>

    <?php elseif ($_mode == 'simple'): ?>

    <?php $_columnCount = $this->getColumnCount(); ?>

    <?php $i = 0; ?>
    <?php /** @var Mageplace_Gallery_Model_Photo $_photo */ ?>
    <?php foreach ($_photoCollection as $_photo): ?>
    <?php $_photoNameStripped = $this->stripTags($_photo->getName(), null, true); ?>

    <?php if ($i++ % $_columnCount == 0): ?>
        <ul class="photos-simple">
    <?php endif ?>
        <li class="item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">
            <a href="<?php echo $_urlHelper->getPhotoUrl($_photo); ?>" title="<?php echo $_photoNameStripped; ?>"
               id="photo-list-image-<?php echo $_photo->getUrlKey(); ?>"
               class="photo-image"><img
                    src="<?php echo $this->getImage($_photo, 'small_image', $this->getAlbumSizes()->getPhotoSimpleThumbSize()); ?>"
                    alt="<?php echo $_photoNameStripped; ?>"/></a>

            <?php if ($this->getDisplayName()) : ?>
                <h2 class="photo-name">
                    <a href="<?php echo $_urlHelper->getPhotoUrl($_photo); ?>"
                       title="<?php echo $_photoNameStripped; ?>">
                        <?php echo $_photo->getName(); ?>
                    </a>
                </h2>
            <?php endif; ?>

            <?php if ($this->getDisplayRate()) : ?>
                <div class="ratings">
                    <div class="rating-box">
                        <div class="rating" style="width:<?php echo $this->getPhotoAvgRate($_photo); ?>%"></div>
                    </div>
                </div>
            <?php endif; ?>

            <?php if ($this->getDisplayUpdateDate()) : ?>
                <div class="update-date">
                    <?php echo $this->formatDate($_photo->getUpdateDate(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM); ?>
                </div>
            <?php endif; ?>

            <?php if ($this->getDisplayShortDescription()) : ?>
                <div class="desc std">
                    <?php echo $_photo->getShortDescription(); ?>
                </div>
            <?php endif; ?>

            <?php if ($this->getDisplayShowLink()) : ?>
                <div class="actions">
                    <a href="<?php echo $_urlHelper->getPhotoUrl($_photo); ?>"
                       title="<?php echo $_photoNameStripped; ?>"
                       class="link-learn"><?php echo $this->__('Show'); ?></a>
                </div>
            <?php endif; ?>
        </li>
        <?php if ($i % $_columnCount == 0 || $i == $_photoCount): ?>
        </ul>
    <?php endif ?>
    <?php endforeach ?>

        <script type="text/javascript">
            decorateGeneric($$('ul.photos-simple'), ['odd', 'even', 'first', 'last'])
        </script>

    <?php else: ?>

    <?php $_columnCount = $this->getColumnCount(); ?>

    <?php $i = 0; ?>
    <?php /** @var Mageplace_Gallery_Model_Photo $_photo */ ?>
    <?php foreach ($_photoCollection as $_photo): ?>
    <?php $_photoNameStripped = $this->stripTags($_photo->getName(), null, true); ?>

    <?php if ($i++ % $_columnCount == 0): ?>
        <ul class="photos-grid">
    <?php endif ?>
        <li class="item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">
            <a href="<?php echo $_urlHelper->getPhotoUrl($_photo); ?>" title="<?php echo $_photoNameStripped; ?>"
               id="photo-list-image-<?php echo $_photo->getUrlKey(); ?>"
               class="photo-image"><img
                    src="<?php echo $this->getImage($_photo, 'small_image', $this->getAlbumSizes()->getPhotoGridThumbSize()); ?>"
                    alt="<?php echo $_photoNameStripped; ?>"/></a>

            <?php if ($this->getDisplayName()) : ?>
                <h2 class="photo-name">
                    <a href="<?php echo $_urlHelper->getPhotoUrl($_photo); ?>"
                       title="<?php echo $_photoNameStripped; ?>">
                        <?php echo $_photo->getName(); ?>
                    </a>
                </h2>
            <?php endif; ?>

            <?php if ($this->getDisplayRate()) : ?>
                <div class="ratings">
                    <div class="rating-box">
                        <div class="rating" style="width:<?php echo $this->getPhotoAvgRate($_photo); ?>%"></div>
                    </div>
                </div>
            <?php endif; ?>

            <?php if ($this->getDisplayUpdateDate()) : ?>
                <div class="update-date">
                    <?php echo $this->formatDate($_photo->getUpdateDate(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM); ?>
                </div>
            <?php endif; ?>

            <?php if ($this->getDisplayShortDescription()) : ?>
                <div class="desc std">
                    <?php echo $_photo->getShortDescription(); ?>
                </div>
            <?php endif; ?>

            <?php if ($this->getDisplayShowLink()) : ?>
                <div class="actions">
                    <a href="<?php echo $_urlHelper->getPhotoUrl($_photo); ?>"
                       title="<?php echo $_photoNameStripped; ?>"
                       class="link-learn"><?php echo $this->__('Show'); ?></a>
                </div>
            <?php endif; ?>
        </li>
        <?php if ($i % $_columnCount == 0 || $i == $_photoCount): ?>
        </ul>
    <?php endif ?>
    <?php endforeach ?>

        <script type="text/javascript">
            decorateGeneric($$('ul.photos-grid'), ['odd', 'even', 'first', 'last'])
        </script>
    <?php endif; ?>

    <?php if ($this->canDisplayBottomToolbar()) : ?>
        <div class="toolbar-bottom">
            <?php echo $this->getToolbarHtml() ?>
        </div>
    <?php endif; ?>


    <?php if ($this->isJqueryEnable()) : ?>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('.gallery-photos .photo-image').bind('click', function (event) {
                    event.preventDefault();

                    var position = 0;
                    var imgKey = this.id.replace('photo-list-image-', '');
                    for (var i = 0; i < imageUrls.length; i++) {
                        if (imageUrls[i]['id'] == imgKey) {
                            position = ++i;
                            break;
                        }
                    }

                    Lightview.show(imageUrls, {
                        controls: {
                            slider: {
                                items: <?php echo $this->getLimit() < $_photoCount ? $this->getLimit() : $_photoCount; ?>
                            }
                        },
                        slideshow: <?php echo $this->slideshowDelay(); ?>,
                        onShow: function () {
                            <?php if($this->isSlideshowAutostart()): ?>
                            setTimeout(function () {
                                Lightview.play();
                            }, <?php echo $this->slideshowDelay(); ?>);
                            <?php endif; ?>
                        }
                    }, position);
                });

                $('#photo_view_image').css({"cursor": "pointer"});
            });

            var imageUrls = <?php echo $this->getImagesJson(); ?>;
        </script>
    <?php endif; ?>
    </div>
<?php endif; ?>

<?php echo $this->getChildHtml('bottom'); ?>