/* BUTTONS */
.bar-rating .buttons {
    margin: 0 auto 40px auto;
    width: 345px;
}

.bar-rating .buttons button {
    margin: 0 10px 0 10px;
}

.bar-rating button.blue-pill {
    background-color: #a5b8da;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7bc0eb), color-stop(100%, #59a6d6));
    background-image: -webkit-linear-gradient(top, #7bc0eb, #59a6d6);
    background-image: -moz-linear-gradient(top, #7bc0eb, #59a6d6);
    background-image: -ms-linear-gradient(top, #7bc0eb, #59a6d6);
    background-image: -o-linear-gradient(top, #7bc0eb, #59a6d6);
    background-image: linear-gradient(top, #7bc0eb, #59a6d6);
    border-top: 1px solid #758fba;
    border-right: 1px solid #6c84ab;
    border-bottom: 1px solid #5c6f91;
    border-left: 1px solid #6c84ab;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 -1px 1px #4f768e;
    text-transform: uppercase;
    width: 150px;
}

.bar-rating button.blue-pill:hover {
    background-color: #9badcc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #71b1da), color-stop(100%, #478dba));
    background-image: -webkit-linear-gradient(top, #71b1da, #478dba);
    background-image: -moz-linear-gradient(top, #71b1da, #478dba);
    background-image: -ms-linear-gradient(top, #71b1da, #478dba);
    background-image: -o-linear-gradient(top, #71b1da, #478dba);
    background-image: linear-gradient(top, #71b1da, #478dba);
    border-top: 1px solid #4f768e;
    border-right: 1px solid #4f768e;
    border-bottom: 1px solid #4f768e;
    border-left: 1px solid #4f768e;
    cursor: pointer;
}

.bar-rating button.blue-pill:active {
    border: 1px solid #4f768e;
    -webkit-box-shadow: inset 0 0 8px 2px #5285a5, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 2px #5285a5, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 2px #5285a5, 0 1px 0 0 #eeeeee;
}

.bar-rating button.blue-pill.deactivated {
    opacity: .4;
}

.bar-rating button.blue-pill.deactivated:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7bc0eb), color-stop(100%, #59a6d6));
    background-image: -webkit-linear-gradient(top, #7bc0eb, #59a6d6);
    background-image: -moz-linear-gradient(top, #7bc0eb, #59a6d6);
    background-image: -ms-linear-gradient(top, #7bc0eb, #59a6d6);
    background-image: -o-linear-gradient(top, #7bc0eb, #59a6d6);
    background-image: linear-gradient(top, #7bc0eb, #59a6d6);
    border-top: 1px solid #758fba;
    border-right: 1px solid #6c84ab;
    border-bottom: 1px solid #5c6f91;
    border-left: 1px solid #6c84ab;
    cursor: auto;
}

/* OPTION A */
.bar-rating .rating-a .br-widget {
    height: 52px;
}

.bar-rating .rating-a .br-widget a {
    display: block;
    width: 15px;
    padding: 5px 0 5px 0;
    height: 30px;
    float: left;
    background-color: #e3e3e3;
    margin: 1px;
    text-align: center;
}

.bar-rating .rating-a .br-widget a.br-active,
.bar-rating .rating-a .br-widget a.br-selected {
    background-color: #59a6d6;
}

.bar-rating .rating-a .br-widget .br-current-rating {
    font-size: 20px;
    line-height: 2;
    float: left;
    padding: 0 20px 0 20px;
    color: #646464;
}

/* OPTION B */
.bar-rating .rating-b .br-widget {
    height: 25px;
}

.bar-rating .rating-b .br-widget a {
    display: block;
    width: 70px;
    height: 16px;
    float: left;
    background-color: #e3e3e3;
    margin: 1px;
}

.bar-rating .rating-b .br-widget a.br-active,
.bar-rating .rating-b .br-widget a.br-selected {
    background-color: #59a6d6;
}

.bar-rating .rating-b .br-widget .br-current-rating {
    line-height: 1.1;
    float: left;
    padding: 0 20px 0 20px;
    color: #646464;
}

.bar-rating .rating-b .br-readonly a.br-active,
.bar-rating .rating-b .br-readonly a.br-selected {
    background-color: #cbcbcb;
}

/* OPTION C */
.bar-rating .rating-c .br-widget {
    height: 52px;
}

.bar-rating .rating-c .br-widget a {
    display: block;
    width: 35px;
    height: 35px;
    float: left;
    background-color: #e3e3e3;
    margin: 2px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.2;
    text-align: center;
    color: #b6b6b6;
}

.bar-rating .rating-c .br-widget a.br-active,
.bar-rating .rating-c .br-widget a.br-selected {
    background-color: #59a6d6;
    color: white;
}

/* OPTION D */
.bar-rating .rating-d .br-widget {
    height: 52px;
}

.bar-rating .rating-d .br-widget a {
    display: block;
    width: 40px;
    padding: 5px 0 5px 0;
    height: 30px;
    float: left;
    background-color: white;
    border-bottom: 2px solid #e3e3e3;
    color: #646464;
    margin: 1px;
    text-decoration: none;
    line-height: 2.1;
    text-align: center;
}

.bar-rating .rating-d .br-widget a span {
    color: white;
}

.bar-rating .rating-d .br-widget a.br-active,
.bar-rating .rating-d .br-widget a.br-selected {

    border-bottom: 2px solid #646464;
}

.bar-rating .rating-d .br-widget a:hover span,
.bar-rating .rating-d .br-widget a.br-current span {
    color: #646464;
}

/* OPTION E */
.bar-rating .rating-e .br-widget a {
    padding: 5px;
    color: #646464;
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
    line-height: 3;
    text-align: center;
}

.bar-rating .rating-e .br-widget a.br-active {
    background-color: #e3e3e3;
    color: #646464;
}

.bar-rating .rating-e .br-widget a.br-selected {
    background-color: #59a6d6;
    color: white;
}

/* OPTION F */
.bar-rating .rating-f .br-widget {
    height: 24px;
}

.bar-rating .rating-f .br-widget a {
    background: url('../img/star.png');
    width: 24px;
    height: 24px;
    display: block;
    float: left;
}

.bar-rating .rating-f .br-widget a:hover,
.bar-rating .rating-f .br-widget a.br-active,
.bar-rating .rating-f .br-widget a.br-selected {
    background-position: 0 24px;
}

/* OPTION G */
.bar-rating .rating-g .br-widget {
    height: 25px;
}

.bar-rating .rating-g .br-widget a {
    display: block;
    width: 50px;
    height: 16px;
    float: left;
    background-color: #e3e3e3;
    margin: 1px;
}

.bar-rating .rating-g .br-widget a.br-active,
.bar-rating .rating-g .br-widget a.br-selected {
    background-color: #59a6d6;
}

.bar-rating .rating-g .br-widget .br-current-rating {
    line-height: 1.1;
    float: left;
    padding: 0 20px 0 20px;
    color: #646464;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
    .bar-rating .rating-f .br-widget a {
        background: url('../img/star@2x.png');
        background-size: 24px 48px;
    }
}

.photos-grid .rating-box,
.photos-list .rating-box,
.photos-simple .rating-box,
.photos-carousel .rating-box,
.photo-info .rating-box,
.review-item .rating-box {
    background: url('../img/star-14.png') 0 0 repeat-x;
}

.photos-grid .rating-box .rating,
.photos-list .rating-box .rating,
.photos-simple .rating-box .rating,
.photos-carousel .rating-box .rating,
.photo-info .rating-box .rating,
.review-item .rating-box .rating {
    background: url('../img/star-14.png') 0 -14px repeat-x;
}