<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Points
 * @version    1.7.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php /* @var $this AW_Points_Block_Catalog_Product_Points */ ?>
<?php $helperConfig = Mage::helper('points/config'); ?>
<div>
    <?php if ($this->canShow()): ?>
        <ul class="messages">
            <li class="points-notice-msg">
                <ul>
                    <li>
                        <?php if ($this->getMoney()) : ?>
                            <?php echo $this->__('Purchasing this item will earn you %s reward points (%s %s) !', $this->getPoints(), $helperConfig->getPointUnitName(), Mage::app()->getStore()->convertPrice($this->getMoney(), true)); ?>
                        <?php else : ?>
                            <?php echo $this->__('Purchasing this item will earn you %s %s !', $this->getPoints(), $helperConfig->getPointUnitName()) ?>
                        <?php endif; ?>
                        <?php echo $this->getChildHtml('infopage.link') ?>
                    </li>
                    <?php if ($this->customerIsGuest()): ?>
                        <li>
                            <?php echo $this->__('Applies only to registered customers, may vary when logged in.') ?>
                        </li>
                    <?php endif; ?>
                </ul>
            </li>
        </ul>
    <?php endif; ?>
</div>