<?php
/**
 * Print Gift Card
 */
?>
<?php $_store = Mage::app()->getStore() ?>
<?php $_giftCard = $this->getGiftVoucher() ?>
<?php $_template = $this->getGiftcardTemplate($_giftCard->getGiftcardTemplateId()) ?>
<?php 
	if ($_template->getNotes())
		$notes = $_template->getNotes();
	else 
		$notes = $_giftCard->getPrintNotes();
		
    $barcode = Mage::helper('giftvoucher')->getGeneralConfig('barcode_enable');
    $barcode_type = Mage::helper('giftvoucher')->getGeneralConfig('barcode_type');
    $url_barcode = '';
    $qr = new Magestore_Giftvoucher_QRCode($_giftCard->getGiftCode());
    if($barcode){
        $resizeImage = FALSE;
        if($barcode_type == 'code128'){
            $url_barcode = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/template/barcode/'.$_giftCard->getGiftCode().'.png';
            $imageUrl = Mage::getBaseDir('media') . DS . 'giftvoucher' . DS . 'template' . DS . 'barcode' . DS . $_giftCard->getGiftCode().'.png';
            $imageObj = new Varien_Image($imageUrl);
            if($imageObj->getOriginalWidth() > 200) $resizeImage = true;
        }
        else $url_barcode = $qr->getResult();
    }
?>
<?php 
    if(!$_template->getStyleColor()) $_template->setStyleColor('orange');
    if(!$_template->getTextColor()) $_template->setTextColor('#2f2f2f');
    $_styleColor = $_template->getStyleColor();
    $_textColor = $_template->getTextColor();
    if(!$_giftCard->getGiftcardTemplateImage()) $_giftCard->setGiftcardTemplateImage('default.png');
    if(!$_template->getBackgroundImg()) $_template->setBackgroundImg('default.png');
?>
<style>
    #giftcard-template-back p, #giftcard-template-back span,
    p, span, label{
         font-family: 'Open Sans', sans-serif;
    }
    .giftcard-print-top p, .giftcard-print-top span, print-font{
         font-family: 'Open Sans', sans-serif;
    }
    .print-notes{
        color: <?php echo $_styleColor ?>;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 12px;
    }
    .giftcard-text-color{
        font-size: 16px;
        font-weight: 600;
    }
     #giftcard-template-back a, 
    .giftcard-print-top a{font-size: 12px;}
    .print-font{   
        font-size: 12px;
        float: left;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
    }
    .giftcard-template-content-left.giftcard-change-image{
        float: left;
        width: 250px;
    }     
    .bkg-logo{
        float: left;
        position: absolute;
        top: 287px;
        text-align: center;
        width: 250px;        
    }
     .giftcard-print{
        float: left;
        width: 600px;
    }
    .giftcard-template-content{
        float: right;
        /* position: absolute; */
        width: 350px;
        height: 365;
    }
    .giftcard-mag{
        margin: 15px 10px;
    }
    .giftcard-style-color.giftcard-title{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 5px;
        font-family: 'Open Sans', sans-serif;
    }
    .message-box {
        height: 97px;
        background: #fff;
        border: 1px solid #ececec;
        border-radius: 5px;
        float: left;
        width: 100%;
        margin-top: 6px;
    }
    .message-box-top{               
        width: 342px;
        height: 97px;
        display: table-cell;
        vertical-align: middle;
        color: #0A2F23;
        background: #fff;
        border: 1px solid #ececec;
        border-radius: 5px;
        clear: both;
        float: left;        
    }
</style>
<?php if($_template->getDesignPattern() == Magestore_Giftvoucher_Model_Designpattern::PATTERN_TOP): ?>
<div class = "giftcard-print-top" style="float: left; width: 600px;height: 365px;position: relative;">   
    <div class = "background-top" style="position: relative; height: 190px;background-image: url();">
        <img style=" "src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/template/images/top/'.$_giftCard->getGiftcardTemplateImage() ?>" width="600" height="190" />
        <div style="float: left;position: absolute;top: 0;height: 190px;width: 600px;">
            <div style="width: 100%; height: 84px; float: left; /* margin-left: 9px; */"">
                <img style=" margin-left: 15px; max-height: 70px;border-radius: 0px 0px 5px 5px"src="<?php echo $_giftCard->getPrintLogo() ? $_giftCard->getPrintLogo() : $this->getSkinUrl('images/logo_print.gif') ?>" height="63" width="auto" alt="<?php echo $_store->getFrontendName() ?>" title="<?php echo $_store->getFrontendName() ?>" />
            </div>
            <div style=" position: absolute;bottom: 0;width: 100%;height: 50px;float: left; max-height: 70px;">
                <img src="<?php echo $this->getSkinUrl('images/bkg-title.png')?>" width="600"/>
                 <div style="position: absolute; top: 0;width: 600px" >
                    <div style="padding-top: 12px; float: left; margin-left: 15px;color: <?php echo $_styleColor ?>"><span class ="giftcard-style-color giftcard-title"><?php echo $_template->getCaption() ?></span></div>
                    <div class="print-font" style="text-align: right; float:right; height: 50px; width: 205px; color: <?php echo $_textColor ?>;">
                        <img src="<?php echo $this->getSkinUrl('images/bkg-value.png')?>" width="205px" height="52" />
                         <div style="position: absolute; top: 0; width: 205px;height: 52px;">
                            <span style="margin-right: 10px;font-size: 12px;">
                                 <?php echo Mage::helper('giftvoucher')->__('Value') ?>
                            </span>
                            <span style="text-align: right; margin-right: 15px; line-height: 52px; font-size: 26px;height: 50px; color: <?php echo $_styleColor ?>; font-weight: bold">
                                <?php echo Mage::helper('core')->formatPrice($_giftCard->getBalance()) ?>
                            </span>
                         </div>
                    </div> 
                 </div>
            </div> 
        </div>
    </div>    
    <div class = "giftcard-template-content-temp2">       
         <img style=" "src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/template/background/top/'.$_template->getBackgroundImg() ?>" width="600" height="180" />
        <div style="margin: 0px 15px; float: left;position: absolute;bottom: 8px;">
            <div style="float: left;width: 55%; margin-top: 10px;">
                <div style="float: left;">
                    <span style="float: left; margin-bottom: 5px;">
                        <label for="giftcard-from" style="font-weight: 600;float: left;color: <?php echo $_textColor ?>"><?php echo Mage::helper('giftvoucher')->__('From:') ?></label>
                        <span class="giftcard-text-color giftcard-send-form" style="line-height: 22px;font-size: 16px;margin-left: 15px; color: <?php echo $_textColor ?>"><?php echo $_giftCard->getCustomerName() ?></span>
                    </span>
                    <span style="float: left; clear: both;">
                        <label for="giftcard-to" style="font-weight: 600;float: left;margin-right: 10px;color: <?php echo $_textColor ?>"><?php echo Mage::helper('giftvoucher')->__('To:') ?> </label>
                        <span class="giftcard-text-color giftcard-send-to" style="font-size: 16px;line-height: 22px; color: <?php echo $_textColor ?>"><?php echo $_giftCard->getRecipientName() ?></span>
                    </span>
                </div>
                <div style="float: left; width: 100%;margin-top: 10px;">
                    <div class = "message-box-top"style="color: <?php echo $_textColor ?>">
                        <p  class="print-font" style="height: 69px;padding: 10px; margin: 0;overflow: hidden; font-size: 11px">
                            <?php echo $_giftCard->getMessage() ?>
                        </p>
                    </div>
                </div>
            </div>
            <div style="float: right;width: 37%; margin-top: 5px;">           
                <div style="text-align: right;float: right; width: 130%;margin-top: 5px;">                
                    <?php if($url_barcode != ''): ?>
                    <span style=" font-weight: 600; font-size: 16px;  font-family: 'Open Sans', sans-serif;font-style: italic; color: <?php echo $_textColor ?>;"><?php echo $_giftCard->getGiftCode() ?></span>
                    <span style="width: 100%; float: right;margin-top: 5px;margin-bottom: 5px; ">
                        <img src="<?php echo $url_barcode ?>" <?php if($resizeImage) echo 'width="200" height="40"' ?> style="float: right; height: 40px"/>
                    </span>
                    <?php else: ?>
                    <span style=" font-weight: 600;  font-family: 'Open Sans', sans-serif;font-size: 16px; font-style: italic; color: <?php echo $_textColor ?>;"><?php echo $_giftCard->getGiftCode() ?></span>
                    <?php endif; ?>                
                </div>
                <span style="height: 85px;float: left;text-align: right;overflow: hidden;position: absolute;bottom: 0px; width: 37%;">
                    <span class="print-font"  style="width: 100%;font-size: 11px; float: right; color: <?php echo $_textColor ?>"><?php echo $notes ?></span>
                </span>
            </div>
        </div>
    </div>
</div>
<?php elseif($_template->getDesignPattern() == Magestore_Giftvoucher_Model_Designpattern::PATTERN_CENTER): ?>
<div id="giftcard-template-back" style="position: relative; width: 600px; height: 365px;">    
    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/template/images/'.$_giftCard->getGiftcardTemplateImage() ?>" height="365" width="600" />
    <div style="top: 0; position: absolute;">
        <div style="float: left; width: 100%">
            <div style="float: left;width: 100%;height: 82px;">
                <img style="margin-left: 15px; border-radius: 0px 0px 5px 5px; max-height: 70px" src="<?php echo $_giftCard->getPrintLogo() ? $_giftCard->getPrintLogo() : $this->getSkinUrl('images/logo_print.gif') ?>" height="63" width="auto"/>
            </div>            
            <div class = "title-value" style=" float: left; width: 100%; height: 50px;background-size: 100%; background-image: url()"  >
                <img src="<?php echo $this->getSkinUrl('images/bkg-title.png')?>" width="600" height= "52px"/>
                <div style="position: absolute; top: 82px;width: 600px;height: 52px;" >
                    <div class="giftcard-style-color giftcard-title" style="line-height: 35px; margin-left: 15px; padding-top: 7px; float: left;color: <?php echo $_styleColor ?>"><span><?php echo $_template->getCaption() ?></span></div>
                    <div style="text-align: right; position: relative;width: 205px;float: right; height: 50px;">
                        <img src="<?php echo $this->getSkinUrl('images/bkg-value.png')?>" width="205px" height="52" />
                        <div style="position: absolute; top: 0; width: 205px;height: 52px;">
                            <span class="print-font" style="float: none;line-height: 58px;margin-right: 15px;color: <?php echo $_textColor ?>"><?php echo Mage::helper('giftvoucher')->__('Value') ?></span>
                            <span class="giftcard-style-color giftcard-price-change" style="font-size: 26px;font-weight: bold;float: right;margin-right: 15px;line-height: 52px;color: <?php echo $_styleColor ?>; font-weight: bold">
                                <?php echo Mage::helper('core')->formatPrice($_giftCard->getBalance()) ?>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="giftcard-change-image" style="float: left; margin: 0px 15px 10px 15px;">
            <div style="float: left; width: 100%;margin-top: 10px;">
                <div style="float: left; width: 50%">
                    <span class="print-font" id='giftcard-from' style="color: <?php echo $_styleColor ?>;font-weight: 600; float: left; font-size: 16px; margin-bottom: 5px;">
                        <span  style=" font-family: 'Open Sans', sans-serif;color: <?php echo $_textColor ?>;">
                            <?php echo Mage::helper('giftvoucher')->__('From:') ?>
                        </span>
                            <?php echo $_giftCard->getCustomerName() ?>
                    </span>            
                    <div style="float: left; clear: both; text-align: left;">
                        <label for="giftcard-to" style=" font-family: 'Open Sans', sans-serif;margin-right: 5px; font-weight: 600; float: left; font-size: 16px;color: <?php echo $_textColor ?>"><?php echo Mage::helper('giftvoucher')->__('To:') ?> </label>
                        <span class="giftcard-text-color giftcard-send-to print-font" id='giftcard-to' style="float: left; font-size: 16px; color: <?php echo $_styleColor ?>;"><?php echo $_giftCard->getRecipientName() ?></span>
                    </div>
                </div>
                <div style="float: right;text-align: right; width: 50%;">            
                    <?php if($url_barcode != ''): ?>                                
                    <span class="giftcard-style-color" style="font-family: 'Open Sans', sans-serif;font-style: italic; margin-bottom: 5px; float: right;width: 100%;color: <?php echo $_styleColor ?>; font-weight: 600"><?php echo $_giftCard->getGiftCode() ?></span>
                    <span style=" height: 40px;"><img height="40px" src="<?php echo $url_barcode ?>" <?php if($resizeImage) echo 'width="180" height="50"' ?> /></span>
                    <?php else: ?>                
                    <div class="giftcard-style-color giftcard-price-change" style="font-family: 'Open Sans', sans-serif;font-style: italic;font-size: 16px;color: orange; font-weight: 600"><?php echo $_giftCard->getGiftCode() ?></div>
                    <?php endif; ?>
                </div>
            </div>
            <div style="float: left; width: 100%;margin-top: 10px; ">            
                <div class =" message-box-top" style="width: 100%;"><pre class="giftcard-text-color giftcard-custom-message print-font" style="padding: 10px;margin: 0;white-space: pre-wrap; color: <?php echo $_textColor ?>; max-height: 85px; overflow: hidden; font-size: 11px"><?php echo $_giftCard->getMessage() ?></pre></div>
            </div>       
            <div style="float: left; width: 100%;height: 30px;overflow: hidden;margin-top: 10px;" >                
                <div style="margin: 0 auto;">
                    <p class="print-font" style="font-size: 12px;line-height: 15px; margin: 0;color: <?php echo $_textColor ?>"><?php echo $notes ?></p>
                </div>
            </div>    
        </div>
    </div>
</div>
<?php else: ?>
<div id="giftcard-template-left giftcard-print" style="float:left; width: 600px;">
        <div class="giftcard-template-content-left giftcard-change-image" style="">
            <img class ="image-temp" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/template/images/left/'.$_giftCard->getGiftcardTemplateImage() ?>" width="250" height="365" style="" />
            <div class = "bkg-logo"style="">            
                <img src="<?php echo $_giftCard->getPrintLogo() ? $_giftCard->getPrintLogo() : $this->getSkinUrl('images/logo_print.gif') ?>" width="auto" height="63" style="max-width: 175px"/>
            </div>
        </div>    
        <div class="giftcard-template-content">     
            <img class ="image-temp" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'giftvoucher/template/background/left/'.$_template->getBackgroundImg() ?>"  width="350" height="365" />
            <div style="float: left;position: absolute;width: 350px;top: 0;">
                <div class = "giftcard-mag">
                <div class="giftcard-style-color giftcard-title" style="color: <?php echo $_styleColor ?>">
                    <?php echo $_template->getCaption() ?>
                </div>
            <div style="margin: 0px 5px 0px 5px;">
                <div class = "giftcard-from-to" style="float: left">
                    <span class="giftcard-from" style="float: left;margin-bottom: 5px; ">
                        <label class="giftcard-text-color"  style="float: left;margin-right: 5px;font-weight: 600;color: <?php echo $_textColor ?>"><?php echo Mage::helper('giftvoucher')->__('From:') ?></label>
                        <span class="giftcard-text-color giftcard-send-from print-font" style="font-size: 16px;margin-top: 0px;color: <?php echo $_styleColor ?>"><?php echo $_giftCard->getCustomerName() ?></span>
                    </span>
                    <span class="giftcard-to" style="float: left;clear: both;">
                        <label class="giftcard-text-color" for="giftcard-to" style="float: left;font-weight: 600;color: <?php echo $_textColor ?>"><?php echo Mage::helper('giftvoucher')->__('To:') ?> </label>
                        <span class="giftcard-text-color giftcard-send-to print-font" style="margin-left: 5px;font-size: 16px;color: <?php echo $_styleColor ?>"><?php echo $_giftCard->getRecipientName() ?></span>
                    </span>
                </div>
                <div class = "message-box">
                    <div class ="giftcard-text-box">
                        <p class=""style="padding: 0 10px;font-size: 12px; color: <?php echo $_textColor ?>;"><?php echo $_giftCard->getMessage() ?></p>
                    </div>                      
                </div>
                <div style="float: left; width: 100%;  margin-top: 10px; " >   
                    <div  style="float: left;">
                        <span class="print-font giftcard-text-color" style="color: <?php echo $_textColor ?>"><?php echo Mage::helper('giftvoucher')->__('Value') ?></span>
                        <span class="giftcard-style-color giftcard-price-change" style="float: left; clear: both; font-size: 26px; color: <?php echo $_styleColor ?>; font-weight: bold"><?php echo Mage::helper('core')->formatPrice($_giftCard->getBalance()) ?></span>                
                    </div>
                    <div class ="barcode-giftcard" style="float: right;width: 170px;text-align: right;">
                        <?php if($url_barcode != ''): ?>
                        <span style=" margin-bottom: 5px; font-style: italic; width: 133%;float: right;font-weight: 600; color: <?php echo $_styleColor ?>;"><?php echo $_giftCard->getGiftCode() ?></span>
                        <span style="width: 180px;float: right;">
                        <img src="<?php echo $url_barcode ?>" <?php if($resizeImage) echo 'width="180" height="40"' ?> height="40"style="float: right;"/>
                        </span>
                        <?php else: ?>
                        <span style=" margin-bottom: 5px; font-style: italic; width: 142%;float: right;font-weight: 600; color: <?php echo $_styleColor ?>;"><?php echo $_giftCard->getGiftCode() ?></span>
                        <?php endif; ?>
                    </div>
                </div>
                    <div class ="giftcard-text" style="float: left;width: 100%;">
                    <p class="print-font giftcard-text-color " style="font-size: 12px;height: 55px;overflow: hidden;color: <?php echo $_textColor ?>"><?php echo $notes ?></p>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<?php endif; ?>

<script type="text/javascript">window.print();</script>
