<head>
<style type = "text/css">
body{ font-size: 24px; }
h1 { font-size: 32px; }
h2 { font-size: 28px; }
td { margin: 0; padding: 0; }
</style>
</head>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
    	<td>{{var logo_pdf}}</td>
    	<td>
        	<table width="100%" border = "1" cellspacing="0" cellpadding="4">
        		<tr bgcolor="#CCCCCC"><td colspan="2"><h2>Order info</h2></td></tr>
                <tr><td><strong>Order number</strong></td><td>{{var order.increment_id}}</td></tr>
<!--				<tr><td><strong>Order date</strong></td><td>{{var order.getCreatedAtFormated('short')}}</td></tr>-->
				<tr><td><strong>Order date</strong></td><td>{{var order_date}}</td></tr>
				<tr><td><strong>Sent to Warehouse date</strong></td><td>{{var dropship_date}}</td></tr>
        	</table>
        </td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    <tr>
    	<td>
        	<table width="100%" border = "1" cellspacing="0" cellpadding="4">
				<tr bgcolor="#CCCCCC">
                	<td><h2>Customer Address</h2></td>
                </tr>
                <tr>    
                	<td>{{var order.getBillingAddress().format('html')}}</td>
                </tr>
			</table>	
		</td>
        <td>
        	<table width="100%" border = "1" cellspacing="0" cellpadding="4">
				<tr bgcolor="#CCCCCC">
                	<td><h2>Delivery Address</h2></td>
                </tr>
                <tr>    
                	<td>{{if order.isPickup()}} <?php echo Mage::helper('sales')->__('Pick up from warehouse') ?> {{else}} {{var order.getShippingAddress().format('html')}} {{/if}}</td>
                </tr>
			</table>
        </td>
	</tr>
    <tr>
        <td>
            <p><h2><?php echo Mage::helper('adminhtml')->__('Consignment Note:')?>  ..................................................</h2> </p>
        </td>
    </tr>
    <tr>
    	<td>
	    	<table>
	        	<tr>
	            	<td>
	                    <h1>{{var pdf_header}}</h1>
	                    <p>{{var pdf_message}}</p>
	            	</td>
	            </tr>
	            <tr>
	            	<td>
	                	<br/><br/><h2>Ordered items</h2><br/>
	                </td> 
	            </tr>
	        </table>
        </td>
    </tr>
    <tr>
    	<td colspan="2">
        	<table width="100%" border = "1" cellspacing="0" cellpadding="4">
                <tr bgcolor="#CCCCCC">
                    <td width="380">Product Name</td>
                    <td width="100">SKU</td>
                    <td width="50">Quantity</td>
                </tr>
                {{var pdf_items}}
            </table>
        </td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    <tr>
        <td colspan="2">
            <table width="100%" border = "1" cellspacing="0" cellpadding="4">
                <tr bgcolor="#CCCCCC">
                    <td><h2><?php echo Mage::helper('adminhtml')->__('Delivery Instructions')?></h2></td>
                </tr>
                <tr>
                    <td><?php echo $this->helper('dv_changes')->getDeliverySignAttributeText(); ?>
                        <p><?php echo $this->helper('dv_changes')->getSpecialDeliveryInstructionsAttributeText(); ?></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table> 
</body>   
