@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic);
@import url(http://fonts.googleapis.com/css?family=Coda:400,800);
/*8dc001*/
/*#333333*/
/*
// ----------------------------------------------
// Usage example:
// For IE set $mq-support to false.
// Set the fixed value.
// Then use mixins to test whether styles should be applied.
// ----------------------------------------------

$mq-support: false;
$mq-fixed-value: 1024;

// Renders at fixed value
@include bp (min-width, 300px) { 
    div { color:#000; }
}

// Doesn't render without MQ support
@include bp (min-width, 1200px) { 
    div { color:#FFF; }
}

// Doesn't render without MQ support
@include bp (max-width, 300px) { 
    div { color:#444; }
}

// Renders at fixed value
@include bp (max-width, 1200px) { 
    div { color:#888; }
}

// ----------------------------------------------
*/
/* ============================================ *
 * Homepage
 * ============================================ */
/* -------------------------------------------- *
 * Primary Banner
 */
body.cms-home .main-container {
  padding-top: 0px;
}
body.cms-home .slideshow-container {
  margin-top: 0;
}
body.cms-home h1 {
  color: #000000;
}

.slideshow .banner-msg {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  top: 30%;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.slideshow .banner-msg h2 {
  color: #FFFFFF;
  font-size: 24px;
  text-shadow: 1px 1px 3px #555555;
}

.slideshow .banner-msg h2 strong {
  font-weight: bold;
  display: block;
  font-size: 36px;
}

@media only screen and (max-width: 770px) {
  .slideshow .banner-msg h2 {
    font-size: 20px;
  }

  .slideshow .banner-msg h2 strong {
    font-size: 24px;
  }

  .featured_slider_set1.featured_slider {
    max-width: 100%;
    width: 100%;
  }

  .promos-banners img {
    max-width: 100%;
  }
}
@media only screen and (max-width: 479px) {
  .slideshow .banner-msg {
    top: 20%;
  }

  .slideshow .banner-msg h2 {
    font-size: 14px;
  }

  .slideshow .banner-msg h2 strong {
    font-size: 16px;
  }

  .promos-banners {
    margin: 50px 0 0 0 !important;
  }

  .promos-banners > li {
    width: 100% !important;
    margin: 0 !important;
  }

  .before-copyright .block-subscribe {
    float: none;
  }

  .before-copyright .payments-links {
    float: none;
    width: 100%;
  }

  .before-copyright .footer-block-cols {
    float: none;
    width: 100%;
  }
}
/* ==========================================================================
   Slider
   ========================================================================== */
#featured_top_slider_home {
  border: 3px solid #ebedec;
  clear: both;
  width: 100%;
}

#featured_bottom_slider_home {
  background: transparent url(../images/belvg/bg_testimonials.jpg) no-repeat top center;
  border: 0;
  height: 277px !important;
  overflow: hidden;
  border: 0;
}
#featured_bottom_slider_home .featured_slideri {
  text-align: center;
  color: #ffffff;
  width: 70%;
  margin: 5% auto 0 auto;
}
#featured_bottom_slider_home h3 {
  color: #ffffff;
}

/* -------------------------------------------- *
 * Green Banner Section
 */
.home-blocks-green.home-blocks-fields {
  padding: 60px 35px;
}

.home-blocks-green.home-blocks-fields {
  background: url(../images/belvg/bg_section.jpg) no-repeat center top;
  overflow: hidden;
  color: #fff;
  font-size: 16px;
  clear: both;
}
.home-blocks-green.home-blocks-fields h3 {
  font-size: 24px;
  color: #fff;
  font-weight: normal;
}
.home-blocks-green.home-blocks-fields .home-blocks-field {
  width: 50%;
}
.home-blocks-green.home-blocks-fields ul {
  overflow: hidden;
}
.home-blocks-green.home-blocks-fields ul ol {
  width: 49%;
  float: left;
}
.home-blocks-green.home-blocks-fields :nth-child(2) ul ol {
  width: 30%;
  float: left;
}
.home-blocks-green.home-blocks-fields li {
  list-style: none;
  margin-left: 0;
  font-size: 16px;
}
.home-blocks-green.home-blocks-fields li ol li:before {
  content: ">";
}

/* -------------------------------------------- *
 * White Banner Section
 */
.home-blocks-white.home-blocks-fields {
  padding-top: 6%;
  padding-bottom: 6%;
  overflow: hidden;
  clear: both;
}
.home-blocks-white.home-blocks-fields .home-blocks-field {
  width: 48%;
}
.home-blocks-white.home-blocks-fields h3 {
  font-size: 21px;
  font-weight: bold;
  font-family: Tahoma, Verdana, "Helvetica Neue", Verdana, Arial, sans-serif;
}
.home-blocks-white.home-blocks-fields .home-blocks-field.home-blocks-gray {
  float: right;
  width: 42%;
  padding: 30px 30px 20px 30px;
  border: 1px solid #636363;
  background: -webkit-gradient(linear, left top, right top, from(#eeeded), to(#c1c0c0));
  background: -webkit-linear-gradient(top, #eeeded, #c1c0c0);
  background: -moz-linear-gradient(top, #eeeded, #c1c0c0);
  background: -o-linear-gradient(top, #eeeded, #c1c0c0);
  background: -ms-linear-gradient(top, #eeeded, #c1c0c0);
  background: linear-gradient(to bottom, #eeeded, #c1c0c0);
  background-color: #eeeded;
  border-radius: 3px;
  font-family: Tahoma, Verdana, "Helvetica Neue", Verdana, Arial, sans-serif;
}
.home-blocks-white.home-blocks-fields .home-blocks-field.home-blocks-gray ul {
  margin: 0;
}
.home-blocks-white.home-blocks-fields .home-blocks-field.home-blocks-gray ul li {
  background: url(../images/belvg/check.png) no-repeat left center;
  list-style: none;
  text-transform: uppercase;
  color: #000;
  padding: 10px 0 10px 13%;
  font-size: 21px;
  font-weight: normal;
  margin-left: 0;
}

@media only screen and (max-width: 771px) {
  .featured_slider_set1.featured_slider {
    max-width: 1200px;
  }

  .featured_slider_set1 .featured_slide_right .featured_slide_sub_content h2 {
    font-size: 16px;
  }

  .home-blocks-green.home-blocks-fields {
    padding: 34px 18px;
    font-size: 11px;
  }

  .home-blocks-white.home-blocks-fields {
    font-size: 11px;
    line-height: 15px;
    padding: 25px;
  }
  .home-blocks-white.home-blocks-fields .home-blocks-field {
    width: 50%;
  }
  .home-blocks-white.home-blocks-fields .home-blocks-field.home-blocks-gray {
    width: 45.5% !important;
    padding: 18px !important;
  }
  .home-blocks-white.home-blocks-fields .home-blocks-field.home-blocks-gray ul li {
    padding: 10px 0 10px 18%;
    margin-bottom: 1px;
  }
  .home-blocks-white.home-blocks-fields h3, .home-blocks-white.home-blocks-fields ul li {
    font-size: 18px !important;
  }

  .home-blocks-green.home-blocks-fields .home-blocks-field h3 {
    font-size: 18px;
  }
  .home-blocks-green.home-blocks-fields .home-blocks-field li {
    font-size: 14px;
  }

  #featured_bottom_slider_home {
    font-size: 12px;
  }
  #featured_bottom_slider_home h3 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 770px) {
  .featured_slider_set1 .featured_slide_left .featured_slide_content h2 {
    font-size: 14px;
  }

  .featured_slider_set1 .featured_slide_right .featured_slide_sub_content h2 {
    font-size: 13px;
  }
}
@media only screen and (max-width: 599px) {
  .col-main h1 {
    font-size: 16px;
  }

  .banner-top img {
    max-width: 100%;
  }

  #featured_bottom_slider_home {
    background: transparent url(../images/belvg/bg_testimonials_mobile.jpg) no-repeat top center;
  }

  .home-blocks-green.home-blocks-fields {
    padding: 15px 18px;
  }

  .home-blocks-green.home-blocks-fields .home-blocks-field h3 {
    font-size: 18px;
  }
  .home-blocks-green.home-blocks-fields .home-blocks-field li {
    font-size: 14px;
  }

  .home-blocks-white.home-blocks-fields {
    font-size: 11px;
    padding: 6% 9px;
    overflow: hidden;
    clear: both;
  }
  .home-blocks-white.home-blocks-fields .home-blocks-field, .home-blocks-white.home-blocks-fields .home-blocks-field.home-blocks-gray {
    width: 100% !important;
  }
  .home-blocks-white.home-blocks-fields .home-blocks-field ul li, .home-blocks-white.home-blocks-fields .home-blocks-field.home-blocks-gray ul li {
    padding: 10px 0 10px 19%;
    margin-bottom: 1px;
  }
  .home-blocks-white.home-blocks-fields h3, .home-blocks-white.home-blocks-fields ul li {
    font-size: 15px !important;
  }

  #featured_bottom_slider_home {
    font-size: 12px;
  }
  #featured_bottom_slider_home h3 {
    font-size: 16px;
  }

  .home-blocks-green.home-blocks-fields .home-blocks-field {
    clear: both;
    width: 100%;
  }
  .home-blocks-green.home-blocks-fields .home-blocks-field h3 {
    font-size: 15px;
  }
  .home-blocks-green.home-blocks-fields .home-blocks-field ul {
    margin-bottom: 1em;
  }
  .home-blocks-green.home-blocks-fields .home-blocks-field li {
    font-size: 11px;
  }
}
/* -------------------------------------------- *
 * Promotion Banner Section
 */
.promos {
  margin: 0 0 10px 0;
  padding: 0;
  width: 100%;
}

.promos-banners {
  clear: both;
  margin-top: 50px;
  overflow: hidden;
}

.promos-banners > li {
  float: left;
  list-style: none;
  width: 21.25%;
  margin: 0 1.85% !important;
}

.promos:after {
  content: '';
  display: table;
  clear: both;
}

b
body .promos > li, body .promos-banners > li {
  list-style: none;
  text-align: center;
  position: relative;
  border: 0;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.promos > li:nth-child(4n) {
  margin-right: 0;
}

.promos > li:last-child,
.promos-banners > li:last-child {
  margin-right: 0;
}

.promos-banners img,
.promos img {
  max-width: 100%;
  width: 100%;
}

.promos a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: block;
}

.promos span {
  color: #FFFFFF;
  text-transform: uppercase;
  position: absolute;
  display: block;
  width: 100%;
  top: 10%;
  font-weight: 500;
  font-size: 20px;
  font-family: "Carrois Gothic", Tahoma, Verdana, "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
  text-shadow: 1px 1px 3px #555555;
}

.promos strong {
  font-weight: 600;
  font-size: 26px;
  display: block;
}

@media only screen and (min-width: 771px) {
  .promos span {
    font-size: 16px;
  }

  .promos strong {
    font-size: 17px;
  }

  .before-copyright .payments-links {
    width: 85%;
  }

  /* Config: Three columns + flexible gutter */
  body .promos > li {
    float: left;
    width: 26.26984%;
    margin-right: 2.38095%;
  }

  .promos > li:nth-child(4n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 880px) {
  .promos span {
    font-size: 18px;
  }

  .promos strong {
    font-size: 24px;
  }
}
/* -------------------------------------------- *
 * New Products Section
 */
/* Hiding the reviews content via CSS because we can't modify the template, */
/* since it may be used in other places where those elements are needed */
.cms-index-index .products-grid .ratings,
.cms-index-index .products-grid .actions,
.cms-index-noroute .products-grid .ratings,
.cms-index-noroute .products-grid .actions {
  display: none;
}

.cms-index-index h2.subtitle {
  padding: 6px 0;
  text-align: center;
  color: #000000;
  font-weight: 600;
  border-bottom: 1px solid #dadedd;
  border-top: 1px solid #dadedd;
}

.cms-index-noroute h2.subtitle {
  display: none;
}

/* ============================================ *
 * Category Landing Pages
 * ============================================ */
.category-image {
  position: relative;
}

.categorylandingMainblock {
  border: 1px solid #E2E2E2;
  padding: 7px;
}

.catblocks {
  float: left;
  padding: 0 0 20px 0;
  width: 100%;
}

.catblocks li {
  position: relative;
  float: left !important;
  width: 23% !important;
  margin-right: 2.66667% !important;
  margin-bottom: 10px;
  border: 1px solid #dadedd;
  padding: 10px;
}

.catblocks li:hover {
  border-color: #000000;
}

@media only screen and (max-width: 770px) {
  .catblocks li {
    width: 49% !important;
    margin-right: 2% !important;
  }

  .catblocks li:nth-child(even) {
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 479px) {
  .catblocks li {
    width: 100% !important;
    margin-right: 0 !important;
    float: none;
  }
}
.catblocks li:last-child {
  margin-right: 0 !important;
}

.catblocks li img {
  width: 100%;
  max-width: 100%;
}

.catblocks li a span {
  color: #FFFFFF;
  position: absolute;
  background-color: #7B7C7B;
  font-family: raleway;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 5px 10px;
  margin-right: 10px;
}

.catblocklinks a {
  color: #FFFFFF;
  text-decoration: none;
}

.catlandingbottomPromoblock {
  float: left;
  width: 100%;
  border: 1px solid #E2E2E2;
  margin-bottom: 100px;
}

.catalog-category-view div.categoryland-caption {
  display: block;
  margin: 0;
  position: absolute;
  color: #000000;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}

.catalog-category-view div.categoryland-caption span.blue-big-text {
  color: #3399CC;
  font-size: 50px;
  font-weight: 800;
  padding: 0 0 0 8px;
}

.catalog-category-view div.categoryland-caption span.blue-big-text {
  padding: 0 !important;
}

.catalog-category-view div.categoryland-caption span.three-dots {
  background: url(../images/bg_threeDots.png) no-repeat center center;
  display: block;
  height: 20px;
}

.catalog-category-view div.categoryland-caption p.desc {
  font: italic 18px/28px Georgia, "Times New Roman", Times, serif;
  color: #656565;
}

.cms-home #homepage-main-slides div.slides_control div div.slideshow-caption a.link:hover,
.cms-home #homepage-main-slides div.slides_control div div.slideshow-caption span.link:hover {
  text-decoration: underline;
  color: #1189C5;
}

.cms-home #homepage-main-slides div.slides_control div div.slideshow-caption span.blue-big-text,
.catalog-category-view div.categoryland-caption span.blue-big-text {
  color: #3399CC;
  font-size: 50px;
  font-weight: 800;
  padding: 0 0 0 8px;
}

.catalog-category-view div.categoryland-caption span.blue-big-text {
  padding: 0 !important;
}

.cms-home #homepage-main-slides div.slides_control div div.slideshow-caption span.three-dots,
.catalog-category-view div.categoryland-caption span.three-dots {
  background: url(../images/bg_threeDots.png) no-repeat center center;
  display: block;
  height: 20px;
}

.cms-home #homepage-main-slides div.slides_control div div.slideshow-caption p.desc,
.catalog-category-view div.categoryland-caption p.desc {
  font: italic 18px/28px Georgia, "Times New Roman", Times, serif;
  color: #656565;
}
