<!-- BEGIN `Amasty: Order Attributes` -->
<div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-attributes"><?php echo $this->__('Custom Attributes'); ?></h4>
            <?php if ($editUrl = $this->getEditUrl()): ?>
                <div class="tools">&nbsp;&nbsp;<a href="<?php echo $editUrl; ?>">Edit</a></div>
            <?php endif; ?>
        </div>
        <div class="fieldset">
            <div class="hor-scroll">
                
                    <table cellspacing="0" class="form-list">
                        <?php if ($this->getList()): 
                              foreach ($this->getList() as $label => $value): ?>
                        <tr>
                            <td class="label"><label><?php echo $label; ?></label></td>
                            <td><!-- OR <td class="value"> -->
                                <fieldset>
                                    <strong>
                                        <?php
                                            if ($value) {
                                                echo str_replace(array("\r\n", "\n", "\r"), '<br />', htmlspecialchars($value, ENT_QUOTES,'UTF-8')); } 
                                            else {
                                                echo $this->__('--no value--');
                                            }
                                        ?>
                                    </strong>
                                </fieldset>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                        <?php else: ?>
                            <tr><td class="label"><label>&nbsp;</label></td><td class="value"><?php echo $this->__('No attributes for this order'); ?></td></tr>
                        <?php endif; ?>
                    </table>
                
            </div>
        </div>
</div>
<!-- END `Amasty: Order Attributes` -->