/* Onlinevisions Custom Skin */

/* LAYOUT */
body { 
  background: url(../images/fencingstorebg.jpg) no-repeat center center  #000000 fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fencingstorebg.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fencingstorebg.jpg', sizingMethod='scale')";
}



.ma-header-wrapper-contain {    background: url(../images/headertile.jpg);}
.ma-nav-container {    background: none repeat scroll 0 0 #000000;}

/* TOPLINK */
.ma-header-container .toplink {    background-color: #333333;    border-bottom: 2px solid #000000;    border-top: 3px solid #000000;}
.ma-header-container .toplink .row-fluid [class*="span"] {    height: 33px;    min-height: auto;}
.ma-header-container .toplink .row-fluid .span9[class*="span"] {    float: right;}
.social {    margin-top: 5px;}
.st_facebook_large .stLarge{	background: url(../images/fb-icon.png) no-repeat scroll left top transparent !important;    height: 26px !important;    width: 24px !important;}
.st_twitter_large .stLarge{	background: url(../images/tweeter-icon.png) no-repeat scroll left top transparent !important;    height: 26px !important;    width: 24px !important;}
.ma-header-wrapper .links {    padding: 6px 25px;}
/* HEADER */
.header-message-wrapper {    font-family: arial;    margin: 26px auto 0; width:180px;}
.phone { background: url(../images/phone-icon.png) no-repeat; color: #FFFFFF; font-size: 24px; font-weight: bold; line-height: 24px; padding-left: 20px;}
.time { color: #79A600; font-size: 16px;    line-height: 1em;    padding-left: 24px;}

/* TOP NAVIGATION */
#nav li.top-cart-link { float: right; padding-top: 4px;}
#nav li.top-cart-link .top-cart-contain , #nav li.top-cart-link .block-cart {    border: medium none;    display: block;    left: auto;    padding: 0;    position: relative;    top: auto;    width: auto;}
#nav li.top-cart-link .top-cart-contain .top-cart-title span {    display: inline;}
#nav li.top-cart-link .top-cart-contain .cart-icon {  background: url(../images/btn-shoppingcart-green.png) no-repeat ; float: left; height: 43px; width: 43px;}
#nav li.top-cart-link div.block-cart .top-cart-content {    display: none; left: auto; top: 43px; }
#nav li.top-cart-link div.block-cart .top-cart-content .product-details {    left: auto;}
#nav li.top-cart-link div.block-cart .top-cart-content .product-details .product-name {    width: 125px;}
#nav li.top-cart-link div.block-cart .top-cart-content .product-details .product-name a {    color: #222222;    float: none;    font-size: 12px;    text-transform: none;}
.wide_menu a.level-top span, .fish_menu a.level-top span{padding:15px 19px;}
.wide_menu li.active a.level-top span, .fish_menu li.active a.level-top span, .wide_menu li.over a.level-top span, .fish_menu li.over a.level-top span, .wide_menu a.level-top:hover span, .fish_menu a.level-top:hover span{padding:15px 19px;}
#nav li.top-cart-link {    background: none repeat scroll 0 0 transparent;}

/* HOME */
.main-banner-container {    margin-top: 0px;}
.slider-bottom-wrapper{padding-top:10px;}

/* BLOG */
.blog-cat-view .postTitle h2 , .blog-post-view .postTitle h2{    border-bottom: 1px solid #8FBD1A;    overflow: hidden;    width: 100%; font-size: 24px;}
.blog-cat-view .postTitle h2 a , .blog-post-view .postTitle h2 a {    color: #424242;    font-family: CarroisGothic;    font-size: 24px;    margin: 0;    text-transform: uppercase;}
.blog-cat-view .postTitle , .blog-post-view .postTitle { border:none;  margin: 0 0 20px;} 

/* SHOPPING CART */
.checkout-cart-index button.button span,
.checkout-cart-index button.button:hover span { background-image: url("../images/btn-check-grey.png"); background-color: #FFF; padding-left: 5px; }

.checkout-cart-index button.button.btn-proceed-checkout span { background-image: url("../images/btn-check-green.png"); padding-left: 34px; }
.checkout-cart-index button.button.btn-proceed-checkout span span { padding-left: 0px; }
.checkout-cart-index button.button.btn-proceed-checkout:hover span { background-image: url("../images/btn-check-green.png"); }

#one-step-checkout-form #add_coupon_code_button span,
#one-step-checkout-form #add_coupon_code_button:hover span  { background-image: url("../images/btn-check-grey.png") !important; background-color: #BBAFA0 !important; padding-left: 5px; }

/*relayout*/
.col2-left-layout .row-fluid .col-main[class*="span"] {    float: right;    margin-left: 2.5641%;}
.col2-left-layout .row-fluid .col-left[class*="span"] {    margin-left: 0;}
/* header responsive layout */

.row-fluid .span-logo[class*="span"] {    width: 410px;}
.row-fluid .span-msg[class*="span"], .row-fluid .span-search[class*="span"] {    width: 29%;}
.header .form-search {    float: right;    margin-right: 25px;}

/* FOOTER */
.footer address a{color:#999;}

/* PRODUCT VIEW */
#product_tabs_description_contents .std ul {    list-style: disc outside none;    margin: 0 0 9px 25px;}
.product-social .addthis_button_facebook_like { width: 72px;}
.product-social .addthis_button_tweet { width: 77px;}
.product-social .addthis_button_pinterest_pinit { width: 33px;}
.box-reviews .review-title { color:#8FBD1A; font-weight:bold; line-height: 17px;   }

/* CATEGORY VIEW*/
.category-view-wrapper {    margin: 0 0 10px;}
.category-image {    margin: 0;}
.category-title-wrapper {margin-top: -30px; position: absolute;}
.category-title-container {   background-color: #A3B460;    color: #FFFFFF;  display: inline;  font-size: 24px;    height: 30px;    line-height: 30px;    padding: 0 10px;}
.sample-pack-container {    margin-top: 10px;    text-align: center;}
.button.sample-pack span  , .button.sample-pack:hover span{    background: none ;	padding: 0;}
.button.sample-pack span span {    background-color: #4A5222;    border: 2px solid #606A33;    border-radius:5px; width: 170px;}
.button.sample-pack:hover span span {    background-color: #999933; }
.category-description-container {    background-color: #E8ECD7;    float: left;    padding: 2%;    width: 60%;}
.category-description-fullcontainer {    background-color: #E8ECD7;    float: none;    padding: 2%;    width: auto;}
.category-bottom-wrapper {    background-color: #A3B460;}
.category-shortdescription-container {    float: right;    padding: 2%;    width: 32%;}
.category-products {    clear: both;}


.slider-bottom-wrapper {    background-color: #A1B452; margin-bottom: 5px;	padding:0;}
.row-fluid [class*="span"] .slider-bottom-wrapper div {    padding: 10px 5px 0;}
.row-fluid [class*="span"] .slider-bottom-wrapper .slider-bottom-right {    margin: 0 0 0 1.5%;}
.slider-bottom-wrapper .slider-bottom-left {    background-color: #FFFFFF;}
.checkout-cart-index .shipping .shipping-form .form-list li:first-child {    display: none;    visibility: hidden;}
/* CHECKOUT */
.onestepcheckout-discount button#add_coupon_code_button span {    background: url(../images/btn-check-green.png) no-repeat scroll 0 0 transparent !important;}
.onestepcheckout-discount button#add_coupon_code_button span span {	 background: url(../images/btn-check-green.png) no-repeat scroll -108px 0 transparent !important;}
.onestepcheckout-discount button#add_coupon_code_button:hover span {    background-position: 0 100% !important;}
.onestepcheckout-discount button#add_coupon_code_button:hover span span {    background-position: -108px 100% !important;}
.button-onestepcheckout .btn-proceed-checkout span { background: url(../images/btn-check-green.png) no-repeat scroll 0 0 transparent !important; height: 32px;line-height: 32px;    padding: 0 0 0 34px;}
.button-onestepcheckout .btn-proceed-checkout span span {	 background: url(../images/btn-check-green.png) no-repeat scroll -108px 0 transparent !important; padding: 0;    width: 200px;}
.button-onestepcheckout .btn-proceed-checkout:hover span {    background-position: 0 100% !important;}
.button-onestepcheckout .btn-proceed-checkout:hover span span {    background-position: -108px 100% !important; padding:0;}

.row-fluid [class*="span"] .slider-bottom-wrapper div ul, .row-fluid [class*="span"] .slider-bottom-wrapper div ol , .category-bottom-wrapper ul ,.category-bottom-wrapper ol {    list-style: disc; margin: 0 0 9px 25px; }

/* CATEGORY VIEW */
.products-grid .item .item-inner .product-item-info .actions , .lastestproductslider-container .carousel .lastestproductslider-item .product-item-info .actions {    bottom: 0;  width: 100%;}
.lastestproductslider-container .flexslider .slides li { padding-bottom:0; }
.postContent ul li, .col-main .std .lastestproductslider-container .carousel ul li { padding-left:0px; margin-left:0px; }


.accordion span.level-top.level-0 {    cursor: pointer;    display: block;    font-size: 1.1em;    line-height: 35px;    padding: 0 10px;    text-decoration: none;}
.accordion span.level-top.level-0 span {    color: #666666;    cursor: pointer;    font-size: 1.1em;    line-height: 35px;}


/* CHANGES 21/6 */
.postContent ul li,.col-main .std ul li{ list-style:disc; margin-left:10px; padding-left:10px; list-style-position:inside;}

.col-main .std .home-content ul li{list-style:none;}
.products-grid .out-of-stock{float:none; margin-top:0px;}

/* BLOG */
.blog-img { width:30%; float:left; padding-right:5%; }
.postContentContainer { width:65%; float:left; }
.postWrapper { padding-bottom:20px;}

/* #12: Category descriptions 26/06*/
.st_fblike_large ,.st_twitter_hcount {    float: left;}
.st_fblike_large > span {    margin-top: 8px !important;}

.accordion ul a{color:#333333 !important;}

/* 07/01 */
.onestepcheckout-survey .required {    color: #EB340A;}
/* TFS-3 */
.custom-button {    background-color: #7F7E7E;    border: 1px solid #9D9D9D;    border-radius: 3px;    padding: 8px;}
.custom-button:hover {    background-color: #B3B3B3;}

/* Supplier styles */
.supplier_content .supplier_tracking { }
.supplier_content .supplier_instructional { float: right; width: 45%; margin: 10px 0 0 0; }
.supplier_content .supplier_instructional ul { list-style: circle; padding-left: 20px; }
.supplier_content .supplier_delivery_instructions { margin: 10px 0 0 0; }

/* 14/01*/
.ma-new-vertscroller-wrap .block-content li.item {margin:0; padding-bottom:10px;}
.ma-new-vertscoller-content .price-box {    clear: both;    text-align: center;}

/* Small Changes for Fencing Store - 24/01 */
.category-title-container > h1 {    display: inline; font-size: 24px;}
.wide_menu a, .fish_menu a {    font-size: 14px;}

/* 14/03 */
.toplink .social:after {    clear: both;    content: "";    display: block;    overflow: hidden;}
.fb_iframe_widget, #twitter-widget-0 {    display: block;    float: left;}
#twitter-widget-0 { margin-left:5px; }

/*  TFS-17 Category and Product - contact button 24/03 */
.contact-button-container{    margin-top: 10px;    text-align: center;}
.contact-button-description-tab-container{    margin-top: 10px;    text-align: left;}
.button.contact-button span, .button.contact-button:hover span {    background: none ;    padding: 0;}
.button.contact-button span span {    background-color: #4A5222;    border: 2px solid #606A33;    border-radius: 5px;    width: 100px;}
.button.contact-button:hover span span {    background-color: #999933;}

/* TFS-22 Display Issue - New Products Homepage */
.ratings .rating-box ,.products-grid .ratings .rating-box{    float: none;    margin: 0 auto;}
.product-shop .ratings .rating-box {    float: left; }
.product-shop .ratings .rating-links { display:none;}


.category-shortdescription-container a , .slider-bottom-right a {
    color: #ffffff;
    text-decoration: underline;
}


.phone a { color: #fff;}