 
/* Browser Resets */
.lastestproductslider-container .flex-container a:active,
.lastestproductslider-container .flexslider a:active,
.lastestproductslider-container .flex-container a:focus,
.lastestproductslider-container .flexslider a:focus  {outline: none;}
.lastestproductslider-container .slides,
.lastestproductslider-container .flex-control-nav,
.lastestproductslider-container .flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.lastestproductslider-container .flexslider {margin: 0; padding: 0;}
.lastestproductslider-container .flexslider .slides > li { padding-bottom: 20px; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.lastestproductslider-container .flexslider .slides img { display: inline-block;}
.lastestproductslider-container .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.lastestproductslider-container .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .lastestproductslider-container .slides {display: block;} 
* html .lastestproductslider-container .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .lastestproductslider-container .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.lastestproductslider-container .flexslider {margin: 0 0 20px; position: relative; zoom: 1;}
.lastestproductslider-container .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.lastestproductslider-container .loading .flex-viewport {max-height: 300px;}
.lastestproductslider-container .flexslider .slides {zoom: 1; margin-top: 10px;}

.lastestproductslider-container .carousel li {margin-right: 10px; width:192px;}

/*Product info */
.lastestproductslider-container .flex-direction-nav .flex-next { background: url(../images/btn-next-slider.png) 0 0 no-repeat #E0E0E0; right: 6px; }
.lastestproductslider-container .flex-direction-nav .flex-prev { background: url(../images/btn-prev-slider.png) 0 0 no-repeat #E0E0E0;  right: 40px;}

.lastestproductslider-container .onsaleproductslider-item .product-image { float: left; margin-right: 10px;}
.lastestproductslider-container .onsaleproductslider-item .product-name { padding: 0 0 5px 0; font-size: 16px;}
.lastestproductslider-container .onsaleproductslider-item .price-box { margin: 10px 0;}
.lastestproductslider-container .onsaleproductslider-item .price-box .old-price,
.lastestproductslider-container .onsaleproductslider-item .price-box .special-price { display: inline; padding-right: 10px;}
.lastestproductslider-container .onsaleproductslider-item .actions { padding: 0;}


/* Direction Nav */
.lastestproductslider-container .flex-direction-nav { height: 0;}
.lastestproductslider-container .flex-direction-nav a {width: 30px; height: 30px; margin: -35px 0 0; display: block; position: absolute; top: 0; cursor: pointer; text-indent: -9999px; }

.lastestproductslider-container .flexslider:hover .flex-next:hover, .lastestproductslider-container .flexslider:hover .flex-prev:hover {opacity: 1;}
.lastestproductslider-container .flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.lastestproductslider-container .flex-control-nav {width: 100%; position: absolute; top: -16px; text-align: center;}
.lastestproductslider-container .flex-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.lastestproductslider-container .flex-control-paging li a {width: 11px; height: 11px; display: block; background: #aaa; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.lastestproductslider-container .flex-control-paging li a:hover { background: #fff; }
.lastestproductslider-container .flex-control-paging li a.flex-active { background: #fff; cursor: default; }

.lastestproductslider-container .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.lastestproductslider-container .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.lastestproductslider-container .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.lastestproductslider-container .flex-control-thumbs img:hover {opacity: 1;}
.lastestproductslider-container .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

.lastestproductslider-container .ma-loading {
	width: 16px;
	height: 16px;
	position: absolute;
	z-index: 99;
	background: url(../images/loader.gif) no-repeat ;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
}

/*title*/
.lastestproductslider-title {    border-bottom: 1px solid #E72526;}
.lastestproductslider-title h2 {    color: #444444;    font-size: 20px;    text-transform: uppercase;}