<?php if($this->isLoggedIn()): ?>
<div class="supplier-menu">
<ul>
	<?php if(Mage::getStoreConfig('supplier/interfaceoptions/interface_shipping')!='0'): ?>
	<li><a href="<?php echo Mage::getUrl('supplier/order/'); ?>"><?php echo $this->__('My Orders') ?> <?php echo $this->__('...click here to see all current and completed orders') ?></a></li>
	<?php endif; ?>
	<?php if(Mage::getStoreConfig('supplier/interfaceoptions/interface_stock')!='0'): ?>
	<li><a href="<?php echo Mage::getUrl('supplier/product/'); ?>"><?php echo $this->__('My Products') ?></a></li>
	<?php endif; ?>
</ul>
<?php $request = Mage::app()->getRequest(); ?>

<!--<a href="--><?php //echo Mage::getUrl( 'supplier/index/logout' );  ?><!--" class="supplier-logout">--><?php //echo $this->__('Log out') ?><!--</a>-->

<div class="clear"></div>
</div>
<?php endif; ?>

<div class="supplier_content">
	



