/* Wrapper */
.featured_slider_set3.featured_slider {
	max-width: 1000px;
	width: 100%;
	/*height:100%;*/
	margin: 0 auto;	
	position: relative;	
}
.featured_slider_set3 .featured_slide {
	/*height:400px;
	background: #000;*/
	width: 100% !important;
	height:100%;
}
/* End Outer Slider */

/* Left Panel START */
.featured_slider_set3 .featured_slide_left {
	width: 50%;
	float: left;
	position: relative;
	height: 100%;
}
.featured_slider_set3 .featured_slide_left .left_img {
	/*width: 100%;*/
	height: 100%;
	opacity: 0.8;
}
.featured_slider_set3 .featured_slide_left:hover .left_img {
	opacity: 0.4;
}
.featured_slider_set3 .featured_slide_left .featured_slide_content {
	position: absolute;
	bottom: 0px;
	left: 0;	
	float: left;
	padding: 20px;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	width: 94%;
	z-index: 20;
}
.featured_slider_set3 .featured_slide_left .featured_slide_content h2 {
	font-size: 40px;
	line-height: 120%;
	margin: 0 4% 5px;
	text-align: center;
	text-decoration: none;
	-moz-text-shadow: 1px 1px 2px #000;
	-ms-text-shadow: 1px 1px 2px #000;
	-o-text-shadow: 1px 1px 2px #000;
	-webkit-text-shadow: 1px 1px 2px #000;
	text-shadow: 1px 1px 2px #000;
	text-transform: uppercase;
	width: 92%;
}
.featured_slider_set3 .featured_slide_left .featured_slide_content h2 a{ outline: none; text-decoration: none; color: #fff;}
.featured_slider_set3 .featured_slide_left .featured_slide_content .featured_meta {	
	color: #ddd;
	float: left;
	font: 400 20px/20px 'Alegreya', serif;
	font-style: italic;
	text-align: center;
	-moz-text-shadow: 1px 1px 2px #000;
	-ms-text-shadow: 1px 1px 2px #000;
	-o-text-shadow: 1px 1px 2px #000;
	-webkit-text-shadow: 1px 1px 2px #000;
	text-shadow: 1px 1px 2px #000;
	width: 100%;
}
.featured_slider_set3 .featured_slide_left .featured_slide_content .featured_excerpt {
	float: left;
	font: 400 14px/18px helvetica, arial, sans-serif;
	margin-top: 10px;
	height:auto;
	overflow: hidden;
	text-align: center;
	-moz-text-shadow: 1px 1px 2px #000;
	-ms-text-shadow: 1px 1px 2px #000;
	-o-text-shadow: 1px 1px 2px #000;
	-webkit-text-shadow: 1px 1px 2px #000;
	text-shadow: 1px 1px 2px #000;
	-moz-transition: max-height .4s;
	-ms-transition: max-height .4s;
	-o-transition: max-height .4s;
	-webkit-transition: max-height .4s;
	transition: max-height .4s;
	width: 100%;
}

/* Left Panel END */

/* Right Panel START */
.featured_slider_set3 .featured_slide_right {
	width: 50%;
	float: left;
}

.featured_slider_set3 .featured_slide_right .featured_slide_sub_right {
	width: 50%;
	float: left;
	height: 200px;
	position: relative;
	color: #fff;
	border-bottom: 1px solid #222;
	border-right: 1px solid #222;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.featured_slider_set3 .featured_slide_right .featured_slide_sub_right .right_img {
	/*width: 100%;*/
	height: 100%;
	opacity: 0.8;
}
.featured_slider_set3 .featured_slide_sub_right:hover .right_img {
	opacity: 0.4;
}

.featured_slider_set3 .featured_slide_right .featured_slide_sub_content {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px 10px 8px 10px;
	
}
.featured_slider_set3 .featured_slide_right .featured_slide_sub_content h2 {
	font-family: 'Oswald', sans-serif;
	float: left;
	font-size: 20px;
	font-weight: 400;
	line-height: 120%;
	margin-bottom: 4px;
	-moz-text-shadow: 1px 1px 2px #000;
	-ms-text-shadow: 1px 1px 2px #000;
	-o-text-shadow: 1px 1px 2px #000;
	-webkit-text-shadow: 1px 1px 2px #000;
	text-shadow: 1px 1px 2px #000;
	text-transform: uppercase;
	width: 100%;	
}
.featured_slider_set3 .featured_slide_right .featured_slide_sub_content h2 a{ outline: none; text-decoration: none; color: #fff; }
.featured_slider_set3 .featured_slide_right .featured_slide_sub_content .featured_slide_sub_excerpt {
	color: #fff;
	float: left;
	font: 13px/17px helvetica, arial, sans-serif;
	height: auto;
	overflow: hidden;
	-moz-transition: max-height .4s;
	-ms-transition: max-height .4s;
	-o-transition: max-height .4s;
	-webkit-transition: max-height .4s;
	transition: max-height .4s;
}	

/* Right Panel END */

/* Prev Nex Navigation */
.featured_slider_set3 .featured_next {
	position: absolute; 
	top:50%; 
	right: 5px; 
	width: 100%; 
	height: 100%; 
	cursor: pointer; 
	zoom:1;
	z-index:200;
	background: transparent url(../../featured-slider/images/next.png) no-repeat 0 0;
	background-size:64px;

	max-width:64px;
	margin-top:-32px;
	max-height:64px;
	right:0px;
	background-size: 100%;
}
.featured_slider_set3 .featured_prev {
	position: absolute; 
	top:50%; 
	left: 5px; 
	width: 100%; 
	height: 100%; 
	cursor: pointer; 
	zoom:1;
	z-index:200;
	background: transparent url(../../featured-slider/images/prev.png) no-repeat 0 0;
	background-size:64px;

	max-width:64px;
	margin-top:-32px;
	max-height:64px;
	left:0px;
	background-size: 100%;
}
.featured_slider_set3 .featured-meta { 
	display: block;
}
.featured_slider_set3 .featured_comments {
	position: absolute;
	background: transparent url(../../featured-slider/images/comment.png) no-repeat 0 0;
	color: white;
	z-index: 1;
	right: 0;
	line-height: 22px;
	width: 24px;
	font-size: 10px;
	text-align: center;
	height: 24px;
	font-weight: bold;
}
.featured_slider_set3 .mejs-container {
top: 0;
bottom: 0;
}
.featured_slider_set3 .more {
	display: inline-block;
}
.featured_slider_set3 .featured-meta2 {
	margin-right: 4px;
}
.featured_slider_set3 .featured-meta1 {
	margin-left: 4px;
}
.featured_slider_set3 .featured_video{
position: absolute;
top: 0;left: 0;width: 100%;height: 100%;
}
.featured_slider_set3 .mejs-container .mejs-controls {
	z-index: 30;
}
.featured_slider_set3 .wp-video,.featured_slider_set3 .wp-video-shortcode{
height:100% !important;
}
/*Added for responsiveness*/
.featured_slider_set3
.featured_slider_eshortcode iframe{
	width:100%;
	height:100%;
}
.featured_slider_set3
.featuredSmallF{
	font-size:12px !important;
	margin:0 !important;
	padding:9px 15px 0 0 !important;
	line-height:16px !important;
}

/*-----------*/
.featured_slider_set3
.sldr_title{
	font-family: Trebuchet MS,sans-serif;
	font-size:18px;
	font-weight:normal;
	font-style:normal;
	color:#3F4C6B;
	margin:5px 0 10px 0;
}

.featured_slider_set3
.featured_slider_instance{
	background-color:#000000;
	border:1px solid #000000;
	height:400px;
	overflow:hidden;
}

.featured_slider_set3 .featured_slideri .featured_slider_thumbnail {
	position: absolute;
	left: 0 ;
	top: 0 !important;
	margin: 0;
	display: block;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	/*max-height: none;*/
	max-width: none !important;
}

.featured_slider_set3 .focuscrop  {
	position: relative; /*Any position but static should work*/
	overflow: hidden;
}

