 <?php
$posts = $this->getPosts(); ?>

<?php if (count($posts)): ?>
 <?php //echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>
    <?php foreach ($posts as $post): ?>
        <div class="postWrapper">
        <?php $featured_image = $post->getImage();
		if($featured_image):?>
        <div class="blog-img"><img src="<?php echo $post->getImage();?>" /></div>
        <div class="postContentContainer">
        <?php endif; ?>
            <div class="postTitle">
                <h2><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h2>
              <?php /*  <h3><?php echo $post->getCreatedTime(); ?></h3>*/?>
            </div>
            <div class="postContent"><?php echo $post->getPostContent(); ?></div>
            <?php echo $this->getBookmarkHtml($post) ?>
            <div class="tags"><?php echo Mage::getBlockSingleton('blog/blog')->getTagsHtml($post) ?></div>
            <div class="postDetails">
                <?php if ($this->getCommentsEnabled()): ?>
                    <?php echo $post->getCommentCount(); ?> <a href="<?php echo $post->getAddress(); ?>#commentBox" >Comments</a> | 
                <?php endif; ?>
                <?php /*
                <?php $postCats = $post->getCats(); ?>
                <?php if (!empty($postCats)): ?>
                    <?php echo Mage::helper('blog')->__('Posted in'); ?>
                    <?php foreach ($postCats as $data): ?>               
                            <a href="<?php echo $data['url']; ?>"><?php echo $data['title']; ?></a> 
                    <?php endforeach; ?> 
                <?php else: ?>
                    <?php echo Mage::helper('blog')->__('Posted'); ?>
                <?php endif; ?><?php echo$this->__("By"); ?> <?php echo $post->getUser(); ?>
				*/?></div>
        </div><?php if($featured_image): echo '<br style="clear:both;"></div>'; endif;?>
    <?php endforeach; ?>
 <?php //echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>
<?php else: ?>  
    <?php echo Mage::helper('blog')->__('No Posts in this Category.'); ?>
<?php endif; ?>
