<?php if(Mage::getStoreConfigFlag('ovsuburbselector/general/active')): ?>
    <?php $isSecure = Mage::app()->getStore()->isCurrentlySecure();?>
    <script type="text/javascript">
        var ovSuburbSelectorConfig = {
            actionUrl: '<?php echo $this->getUrl('suburbselector', array('_secure' => $isSecure)) ?>',
            ajaxLoaderImg: '<?php echo $this->getSkinUrl('onlinevisions/suburbselector/images/ajax-loader.gif') ?>',
            suburbSelector: {
                billing: {
                    suburb:     'input[name="billing[city]"]',
                    postcode:   'input[name="billing[postcode]"]'
                },
                shipping: {
                    suburb:     'input[name="shipping[city]"]',
                    postcode:   'input[name="shipping[postcode]"]'
                },
                estimateCalculator: {
                    suburb:   'input[name="estimate_city"]',
                    postcode:   'input[name="estimate_postcode"]'
                },
                customerAddress: {
                    suburb:     'input[name="city"]',
                    postcode:   'input[name="postcode"]'
                }
            }
        };

        (function($){

            $(document).ready(function(){

                $.each(ovSuburbSelectorConfig.suburbSelector, function(indexOfConfig, valueOfConfig){

                    $.each(valueOfConfig, function(fieldName, inputName){

                        var lastCorrectQuery = false;
                        var lastCorrectSuggestions = false;

                        var autoCompleteObject = $(inputName).autocomplete({
                            serviceUrl: '<?php echo $this->getUrl('suburbselector', array('_secure' => $isSecure)) ?>',
                            autoSelectFirst: true,
                            onSearchStart: function(query){
                                if(!$(this).siblings('.suburbselector-loader').length){
                                    var $loaderImage = $('<img>').addClass('suburbselector-loader').attr('src', ovSuburbSelectorConfig.ajaxLoaderImg);
                                    $(this).after($loaderImage);
                                }

                            },
                            onSearchComplete: function (query, suggestions) {
                                $(this).siblings('.suburbselector-loader').remove();
                                if (autoCompleteObject.autocomplete().suggestions.length <= 0 && lastCorrectSuggestions.length > 0 ){
                                    $(this).attr('value', lastCorrectQuery );
                                    $(this).trigger('change');
                                } else if (autoCompleteObject.autocomplete().suggestions.length <= 0) {
                                    $(this).attr('value', '');
                                }

                            },
                            transformResult: function(response) {
                                var data = $.parseJSON(response)
                                return {
                                    suggestions: $.map(data.items, function(dataItem) {
                                        return {
                                            value: dataItem.suggestionTitle,
                                            data: dataItem[data.fieldName],
                                            item: dataItem
                                        }
                                    })
                                };
                            },
                            onSelect: function(suggestion) {
                                $.map(ovSuburbSelectorConfig.suburbSelector[indexOfConfig], function(inptName, fldName) {
                                    $(inptName).attr('value', suggestion.item[fldName]);
                                });
                                save_address_information(save_address_url);
                            },

                            beforeRender: function(container){
                                lastCorrectSuggestions = autoCompleteObject.autocomplete().suggestions;
                                lastCorrectQuery = autoCompleteObject.autocomplete().currentValue;
                            }
                        });
                    });

                });
            });

        })(jQuery)
    </script>
<?php endif; ?>