<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Points
 * @version    1.7.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php $_order = $this->getOrder() ?>
<a href="<?php echo $this->getPrintAllInvoicesUrl($_order) ?>" onclick="this.target='_blank'"><?php echo $this->__('Print All Invoices') ?></a>
<?php foreach ($_order->getInvoiceCollection() as $_invoice): ?>
    <br />
    <div class="head">
        <h3><?php echo $this->__('Invoice #') ?><?php echo $_invoice->getIncrementId(); ?></h3>
        <a href="<?php echo $this->getPrintInvoiceUrl($_invoice) ?>" onclick="this.target='_blank'"><?php echo $this->__('Print Invoice') ?></a>
    </div>
    <h4><?php echo $this->__('Items Invoiced') ?></h4>
    <table cellspacing="0" class="data-table" id="my-invoice-table-<?php echo $_invoice->getId(); ?>">
        <col />
        <col width="25%" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <thead>
            <tr>
                <th><?php echo $this->__('Product Name') ?></th>
                <th><?php echo $this->__('SKU') ?></th>
                <th class="a-right"><?php echo $this->__('Price') ?></th>
                <th class="a-center"><span class="nobr"><?php echo $this->__('Qty Invoiced') ?></span></th>
                <th class="a-right"><?php echo $this->__('Subtotal') ?></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4" class="a-right"><?php echo $this->__('Order Subtotal') ?></td>
                <td class="last a-right"><?php echo $_order->formatPrice($_invoice->getSubtotal()) ?></td>
            </tr>
            <?php if ($_invoice->getDiscountAmount() > 0): ?>
                <tr>
                    <td colspan="4" class="a-right"><?php echo $this->__('Discount :') ?></td>
                    <td class="last a-right"><?php echo $_order->formatPrice(0.00 - $_invoice->getDiscountAmount()) ?></td>
                </tr>
            <?php endif; ?>
            <?php if (($_invoice->getTaxAmount() > 0) || (Mage::helper('tax')->displayZeroTax())): ?>
                <tr>
                    <td colspan="4" class="a-right"><?php echo $this->__('Tax') ?></td>
                    <td class="last a-right"><?php echo $_order->formatPrice($_invoice->getTaxAmount()) ?></td>
                </tr>
            <?php endif; ?>
            <?php if ($_invoice->getShippingAmount() || $_invoice->getShippingDescription()): ?>
                <tr>
                    <td colspan="4" class="a-right"><?php echo $this->__('Shipping & Handling') ?></td>
                    <td class="last a-right"><?php echo $_order->formatPrice($_invoice->getShippingAmount()) ?></td>
                </tr>
            <?php endif; ?>
            <?php if ($_order->getMoneyForPoints()): ?>
                <tr>
                    <td colspan="4" class="a-right"><?php echo Mage::helper('points/config')->getPointUnitName() ?></td>
                    <td class="last a-right"><?php echo $_order->formatPrice($_order->getMoneyForPoints()) ?></td>
                </tr>
            <?php endif; ?>
            <tr>
                <td colspan="4" class="a-right"><?php echo $this->__('Grand Total') ?></td>
                <td class="last a-right"><?php echo $_order->formatPrice($_invoice->getGrandTotal()) ?></td>
            </tr>
        </tfoot>
        <?php $_items = $_invoice->getAllItems(); ?>
        <?php $_count = count($_items) ?>
        <?php foreach ($_items as $_item): ?>
            <?php if ($_item->getOrderItem()->getParentItem())
                continue; ?>
            <tbody>
            <?php echo $this->getItemHtml($_item) ?>
            </tbody>
    <?php endforeach; ?>
    </table>
    <script type="text/javascript">decorateTable('my-invoice-table-<?php echo $_invoice->getId(); ?>', {'tbody' : ['odd', 'even'], 'tbody tr' : ['first', 'last']})</script>
<?php endforeach; ?>