<?php
/**
* @author Amasty Team
* @copyright Copyright (c) 2012 Amasty (http://www.amasty.com)
* @package Amasty_Xnotif
*/   
?>
<p class="<?php echo $this->getHtmlClass() ?>">
    <a href="<?php echo $this->escapeHtml(Mage::helper('amxnotif')->getSignupUrl()) ?>" ><?php echo $this->escapeHtml($this->__($this->getSignupLabel())); ?></a>
</p>
