<tr>
    <td align="left"  style="padding:3px 9px;">{{var product_name}}<br/>{{var options}}</td>
    <td align="left"  style="padding:3px 9px;">{{var sku}}</td>
    <td align="left"  style="padding:3px 9px;">{{var qty}}</td>
</tr>
